[2015-05-07 14:10] andibraeu opened #1 "How do Shima Seiki Machines work?"
What software do they use?

How is it connected to a computer?

Do they have an API?

What features does the machine have?

[2015-05-07 14:15] andibraeu opened #2 "What's the difference between AYAB and Knittic?"
Compare both solutions. Take a look on features, software architecture and UI.

[2015-05-07 18:57] tian2992 commented on #2
http://www.knitic.com/ http://ayab-knitting.com/

[2015-05-08 06:15] mariobehling commented on #2
@tian2992 Thanks for the links. Could explain a bit more about those two applications? What is the difference?

[2015-05-08 06:19] mariobehling opened #3 "We need a library to support hacks of different knitting machines, that can be used by applications. How to implement the abstraction layer?"
One of our goals this summer - a library that supports different hacks and can be used by different projects (through an abstraction layer). How should that abstraction look like? What technologies? How can we implement it?

[2015-05-08 06:21] mariobehling commented on #1
Please also provide some photos of the setup in the factories or the university department.

[2015-05-08 06:39] mariobehling opened #4 "Web app for knitting"
We would like to see an improved interface for our knitting application that can be used through a browser. This will give us the option of running a machine as a web app on any device. For now the goal is to install all the software on one PC. Future steps could be to run a small server on a Rapspi and access it through a mobile phone.

For now, please outline your ideas about the interface and t

[2015-05-08 11:57] shiluka commented on #3
Hi @mariobehling ,

I would like to suggest abstraction of library as separate layers

1. serial communication
2. for machine types
3. utility functions
4. image handling functions
5. file handling functions

[2015-05-08 15:30] sameeragunarathne commented on #4
Hi for the web interface If is it okay to use arduino ethernet shield to communicate with the web interface. I can give a design on both ethernet and wifi shields. And I have intended to do implementation on node js.

[2015-05-08 15:36] mariobehling commented on #4
Please explain why you want to use Node.js rather than other solutions. What other options do we have?

[2015-05-08 15:43] chris007de commented on #4
Another Hint from my side: Please check https://codebender.cc/.
They manage to interface with the Arduino directly from the Browser over the USB-Serial connection, no need for another (costworthy) Ethernet/Wifi Shield (which would increase the already bulky packaging of the hardware)

[2015-05-08 15:52] sameeragunarathne commented on #4
@mariobehling That suggestion was done because of a previous implementation of a IoTHub for a Raspeberry pi using node js. It can be used implement lightweight application and good for I/O related implementations. Other than that Python/Java implementation would be good.
@chris Affirmative that was there when using shields. It is a good suggestion and I will look into that

[2015-05-08 16:11] chris007de opened #6 "Definition of an open, generic data format for knitting patterns"
Currently, the users of various official knitting softwares and the knitting machine hacks have different ways of creating, storing and sharing their knitting data.

People using AYAB make their patterns using image software like paint, paint.net, gimp etc. and save them as b/w bitmap, png, etc.
They even scan the pages of original pattern books and re-draw the patterns pixel by pixel. (some kind

[2015-05-08 16:19] sameeragunarathne commented on #1
Sure. I got permission to access the knitting machine lab on monday. I will update you soon as I get there.

[2015-05-08 16:48] mariobehling commented on #4
@sameeragunarathne Please give us some links for the examples you are referring to and tell us about the relevance to knitting machines.

[2015-05-08 17:39] sameeragunarathne commented on #4
@mariobehling I have reffered to one of my projects done at the university and I have added it to the github. Here's the link: https://github.com/sameeragunarathne/nodeserver. For AYAB also uses the communication between the computer or any smart device with arduino with the AYAB shield plugged into it, and by using node js I thought it would be efficient for the serial communication.

[2015-05-10 05:21] tian2992 commented on #4
I think we can re-use our existing codebase by providing Web endpoints using Python (either REST or WebSockets). Other projects already use Python, such as the https://github.com/adafruit/knitting_machine
Knittic seems to use Processing, which is based on Java, but quite simplified, so I would expect porting code based on their implementation could be done closer to a procedural implementation, ra

[2015-05-10 05:50] tian2992 commented on #6
I think we can store metadata using a file containing a JSON with the keys and values of the knitting metadata. I will draft a demo and post it here.

Using relative URI allow us for the using of remote patterns from URIs, local data, and bundled files.

[2015-05-10 07:25] mariobehling commented on #3
Which projects (knittic, ayab, sconklin hack, pfaff hack) can be implemented in the library? What are the limits?

[2015-05-10 07:28] mariobehling commented on #4
@tian2992 Yes, we get here to the question of the implementation of the library. Could you give some more input on this point, please? https://github.com/fashiontec/knitapps/issues/3

[2015-05-10 07:37] mariobehling commented on #2
@sameeragunarathne @shiluka Could you help with this please? What is your understanding? What are the different technologies? It would be great to clear this question up.

[2015-05-10 08:26] mariobehling commented on #3
@shiluka What technologies do you propose?

[2015-05-10 16:09] sameeragunarathne commented on #2
As I have reviewed I could see following differences between AYAB and Knittic.
1.  Knittic uses pixelated image in the GUI as the input is given.
2.  Knittic gives image editing functionality within the GUI itself.
3.  Knittic gives more information of the knitting process including knitting direction, stitch details etc.

These features can also be developed in AYAB for enhance user experience. I

[2015-05-10 16:15] shiluka commented on #3
@mariobehling ,

As I mentioned earlier abstraction of the library can be divided into separate layers such as serial communication, machine types, image handling functions, file handling functions, utility functions and exception handling functions.

I suggest to write core of the library in c++ language because using c++ hardware can be directly called. c++ library can be bind to python using [c

[2015-05-10 18:08] tian2992 commented on #3
Hello @shiluka, as I mentioned on #4 I think we should leverage existing code, which is mostly written in Python. We also need a flexible enough language that allows for both Web API support, and for low level serial communications, and image manipulation, which are great areas for Python.

I agree that we should separate more layers, in particular separating a generic machine controller that allo

[2015-05-10 19:23] mariobehling opened #7 "How could a web interface for knitapps look like?"
Please make some proposals for a user interface.

[2015-05-10 19:25] shiluka commented on #2
Ayab interface
![screenshot_ayab_interface](https://cloud.githubusercontent.com/assets/4003134/7555868/d35d09a2-f777-11e4-9641-f71b1fc8935b.PNG)

Knittic interface
![screenshot_knittic_interface](https://cloud.githubusercontent.com/assets/4003134/7555874/224b8778-f778-11e4-8604-3aeff6381325.png)

[2015-05-10 19:25] mariobehling opened #8 "What features do we want in a knitting app? Please help to make a feature list."

[2015-05-10 19:27] mariobehling commented on #2
@sameeragunarathne Good analysis. Please make proposals for a web interface https://github.com/fashiontec/knitapps/issues/7

[2015-05-10 19:29] mariobehling opened #9 "Find out information about proprietary knitting applications and solutions and document it with screenshot, feature list, information about technologies."

[2015-05-11 05:05] shiluka commented on #3
Hi @tian2992 , thanks for the comment. As you said ayab and sconklin is written in Python. But knittic is written in java. That's why I thought to implement core of the library in c++ and wrap it. Can you provide more details regarding the use of library for web API and generic container ?

[2015-05-11 12:48] shiluka commented on #2
Differences on implementation

Ayab needs several dependency libraries such as pillow, pyserial, wsgiref, fysom and yapsy with relevant versions.
Ayab has a plugin system which is written in python

Knittic doesn't have setup for windows 64 bit.
Knittic has a library which includes jar files

[2015-05-11 13:01] sameeragunarathne commented on #8
@mariobehling

Feature list for knitting app

1. The knitting process should be started as a project which the user can save and manage the workings(i.e knitting configuration,material details) on the knitting inside the application.
2. Multiple formats of pattern input able to be added to the app (jpeg,gif,png,pdf,dat,html etc).
3. After loading the pattern user will able to edit the pattern insi

[2015-05-11 17:38] chris007de commented on #6
As long as the metadata format is kept simple, so you do not need a dedicated program/editor to generate such a file, I am completely fine with JSON. Also, I like the idea of URI handling.
Anyway, it should be kept so simple to be able to do manual modifications using an editor.

Of course, in a second step we could think about an editor to generate the metadata file, but this might be better done

[2015-05-11 18:08] chris007de commented on #3
Hi,
I agree with @tian2992 's proposal of leveraging/re-using existing code to save time. We do not have to re-invent the wheel, rather we will have to build on existing foundations to be able to keep up with the tight schedule of GSoC.

The architecture we thought about for the AYAB software is already pretty good, but perhaps we should focus on separation of the tasks done in such an application

[2015-05-11 18:10] chris007de opened #10 "Collection: List of Knitting Machine Hacks"
List of Knitting Machine Hacks and their Key Facts (Interface, Protocol, Capabilities, Supported Machines, ...)

To be able to implement a knitting machine library, we need knowledge about knitting machines and their hacks.
Please contribute.

[2015-05-11 18:20] chris007de commented on #8
@sameeragunarathne
Thank you, here are my comments on the following points:
2. Have you thought about the impairments of using compressed formats like jpeg?
Also, it is not always reasonable to allow a huge range of input formats, it just increases the effort for testing.
3. Pattern editing may be really sophisticated. Re-think if it might be an option to put this part in a dedicated part/mode of

[2015-05-11 19:00] sameeragunarathne commented on #8
@chris007de Hi Thanks for your points.
2. I will try to implement the solution for as much as possible formats. In jpeg scenario can't we use a decorders in python to get worked on jpegs.
3. In this case I am planning to add some image processing to pixelate a given image and enable editing on those pixels seperately.
7. Event flow is a collection of details of pattern meta data including carriage

[2015-05-11 19:02] tian2992 commented on #3
Knittic uses Processing, which is a simplified language, based on Java. I think it can be easier to implement just that on Python rather than re-build everything in C++.

[2015-05-11 19:06] sameeragunarathne commented on #7
Overview of the current implementation

The current GUI application is a standalone application which is implemented in python. It can load an image file and facilitates several knitting configuration to be done before knitting is started. When the knit button is selected the application loads the program into arduino with ayab shield plugged in. Then the arduino runs the knitting process from the

[2015-05-11 19:07] tian2992 commented on #3
Thanks @chris007de I also agree with your points.
The current AYAB architecture can support basically any kind of plugin for knitting, the main architecture issue we face is that currently the plugins handle both the internal layers of the protocol stack and settings, and the visual interface. It works fine for local printing, but if we want to implement web interfaces, we need to separate in orde

[2015-05-11 19:36] mariobehling commented on #7
@sameeragunarathne Great start. Could you propose how the features will actually look like on the website? In the screenshot, I do not realize that it is a knitting application. Please compare with a screenshot of ayab and knittic.

[2015-05-12 00:21] mariobehling opened #11 "What are the requirements to develop a pattern editor that can generate metadata files for knitting patterns?"

[2015-05-12 08:56] shiluka commented on #3
Hi @chris007de ,
Thank you. As you mentioned, for the initial start we can build the library on the foundation of the already existing ayab plugin system.

Though I thought to create the library in C++ as @tian2992 and @chris007de mentioned, with the tight schedule of the gsoc leveraging current code system would be a good idea, so I’m going to develop the library using python.

These are the init

[2015-05-12 15:21] sameeragunarathne commented on #11
Identified requirements for pattern editor

1. After loading a image, it would be able to generate a grid on top of the image file by specifying width by number of stitches and height by number of rows.
2. User would be able to adjust a single cell size manually and the grid will be formulate on top of entire image according to that cell size.
3. Image is then processed as the matching the colors

[2015-05-12 18:07] sameeragunarathne commented on #7
@mariobehling As I mentioned earlier the web interface would be consist of several windows. The first window is the home page of the application which the user will able to create a new project to strart knitting or use previously saved project. The conceptual interface for that is shown below.
![knitting_portal](https://cloud.githubusercontent.com/assets/5234677/7594395/fcc33fbe-f8fd-11e4-9612-f7

[2015-05-18 19:30] chris007de commented on #11
Sounds good!
Additionally, please think about the possibility to add metadata to the pattern, i.e. which carriage shall be used for each line.

[2015-05-20 15:28] mariobehling opened #12 "Project Planning - knitting patterns, backend, frontend, knitting pattern editor"
Project 1 (Sebastian): Develop Open Knitting pattern format, support plugin architecture of backend. Develop the architecture in a way to enable support of different front ends, e.g. web. Separate the functions to control and set the properties for each machine to be independent of qt.

Project 2 (Sameera): Plan and develop the web front end and pattern editor. Start with creating compelling and c

[2015-05-20 17:07] tian2992 commented on #12
Roger, I will create a graphic with more implementation details and add it to this issue.

[2015-05-20 17:27] sameeragunarathne commented on #12
Yes. clear on this. I will update the issue the design for the front end
and pattern editor. I am going to use flask for creating web api.

On Wed, May 20, 2015 at 10:37 PM, Sebastian Oliva <notifications@github.com>
wrote:

--
*Sameera Gunarathne*
Undergraduate of Department of Computer Science & Engineering of University
of Moratuwa

*+94714155561
<http://s.wisestamp.com/links?url=tel%3A%252B947

[2015-05-20 17:43] shiluka commented on #12
Got it. I will update the issue with list of features for the web backend and the library.

[2015-05-22 12:42] sameeragunarathne commented on #12
Project 2: Plan and develop the web front end and pattern editor

Design for Home Page
![screenshot from 2015-05-22 17 49 59](https://cloud.githubusercontent.com/assets/5234677/7770390/961d6522-00ab-11e5-8fef-172233701156.png)
This is the page where user gets soon after log in to the application. In this design user can keep track of the knitting work by managing them as seperate projects. User ca

[2015-05-23 07:50] mariobehling commented on #9
@sameeragunarathne @shiluka We talked about this already during the application period. What updates do you have here?

[2015-05-23 07:51] mariobehling commented on #10
@tian2992 As you have the main experience we were hoping to get some input from you first.

[2015-05-23 07:58] #2 closed

[2015-05-23 07:59] mariobehling commented on #1
@sameeragunarathne What was the outcome of the visit of the lab two weeks ago?

[2015-05-23 08:07] mariobehling opened #13 "Feature List and Project Plan for Pattern Format, Plugin Architecture"
Please define the following for your project
a) Feature List
b) Project Plan with possible Milestones (Which features will be implemented at what time)

[2015-05-23 08:09] mariobehling opened #14 "Conceptual Design for User Interfaces used in Knit Web App"
Please define the following for your project
a) Feature List
b) Project Plan with possible Milestones (Which features will be implemented at what time)

[2015-05-23 08:11] mariobehling commented on #12
@sameeragunarathne Please repost your above ideas and add a feature list and possible milestones to the dedicated issue here https://github.com/fashiontec/knitapps/issues/14

[2015-05-23 08:12] mariobehling opened #15 "Feature List and Project Plan for additional Machines in Knitting Library"
Please define the following for your project
a) Feature List
b) Project Plan with possible Milestones (Which features will be implemented at what time)

[2015-05-23 08:13] mariobehling commented on #12
@shiluka Please add info about your project here https://github.com/fashiontec/knitapps/issues/15

[2015-05-23 08:14] mariobehling commented on #12
@tian2992 Please find a dedicated issue for the project planning here https://github.com/fashiontec/knitapps/issues/13

[2015-05-23 08:15] #12 closed

[2015-05-23 08:17] mariobehling commented on #1
@shiluka Please also start to give some input here now.

[2015-05-23 09:52] mariobehling opened #16 "Features and Milestones for Project Pattern Format, Plugin Architecture"
Milestone 1
Due by June 10, 2015

Milestone 2
Due by June 26, 2015

Milestone 3
Due by July 25, 2015

Milestone 4
Due by August 21, 2015

Refer to https://github.com/fashiontec/knitapps/issues/13

[2015-05-23 09:53] mariobehling opened #17 "Feature List and Project Plan for Web Frontend and Pattern Editor"
Milestone 1
Due by June 10, 2015

Milestone 2
Due by June 26, 2015

Milestone 3
Due by July 25, 2015

Milestone 4
Due by August 21, 2015

Milestone 4.5
Due by August 31, 2015

https://github.com/fashiontec/knitapps/issues/14

[2015-05-23 09:54] mariobehling opened #18 "Create Milestones and add features in each milestone for Features on Knitting Library"
Milestone 1
Due by June 10, 2015

Milestone 2
Due by June 26, 2015

Milestone 3
Due by July 25, 2015

Milestone 4
Due by August 21, 2015

Also refer to https://github.com/fashiontec/knitapps/issues/15

[2015-05-23 10:36] sameeragunarathne commented on #14
a) Project Feature List for Web Front end and Pattern Editor

1. User is given a account and user have to log on to the account to start a knitting process.
2. Knitting works are stored as projects so that user will be able to save and load them for later editing.
3. User is given a workspace to work on the patterns and configuration. workspace consists of pattern editor and knitting simulator.
4.

[2015-05-23 10:38] sameeragunarathne commented on #14
Conceptual Design for User Interfaces used in Knit Web App

Design for Home Page
![screenshot from 2015-05-22 17 49 59](https://cloud.githubusercontent.com/assets/5234677/7783627/c7d308b4-0165-11e5-8f81-f9186f7e60a1.png)
This is the page where user gets soon after log in to the application. In this design user can keep track of the knitting work by managing them as seperate projects. User can choo

[2015-05-23 16:21] shiluka commented on #15
# a) Feature List

* Provides the ability for serial communication
* Provides image handling capability
* Provides file handling capability
* Provides command line tool
* Provides functions for disk emulator
* Provides functions for the firmware
* Provides arduino support
* Test cases for all modules
* Documentation on all the functions with links to given source code

**Features with library inst

[2015-05-23 16:24] shiluka commented on #18
**Milestone 1 :**

* Design the abstraction layers of the library
* Design the structure of the library
* Implement the structure of the library
* Implement the functions which are related to communication based on ayab
	* Test cases for the functions
	* Documentation of the functions
* Implement the functions that are related to image based on ayab
	* Test cases for the functions
	* Documentation

[2015-05-23 18:37] shiluka opened #19 "Design and Structure of the library (knitlib)"

[2015-05-23 19:14] shiluka commented on #19
**Design of the library** : The library is designed as set of modules. Each module is self contained and independent from other modules. With the installation of the library all the dependencies should be automatically installed.

* serial communication : open, configure, read and write to serial port
* image handling functions : memory allocation, read image file, setter and getter for image pixe

[2015-05-23 21:26] tian2992 commented on #19
Please bear in mind that the current communication.py on AYAB is not a general abstraction. It only works for communication with AYAB shields, not for Knittic, nor for the disk emulation hack.

Some recomendations on building Python modules can be found here: http://www.jeffknupp.com/blog/2013/08/16/open-sourcing-a-python-project-the-right-way/ Please use git branches and add tests whenever adding

[2015-05-23 21:41] tian2992 commented on #14
I think the design is overall fine, however try to simplify the scope. Why do we need a menu bar in workspace? Think the task of each specific environment and what is going to be done in each. For example: Workspace will be used on the 'knitting' step, meaning it will have to display a progress bar, a start and stop button, etc. Do we need projects? How can we save and load projects? etc.

Cheers!

[2015-05-23 21:44] mariobehling commented on #15
@shiluka This is already a good start. @tian2992 is also defining the basics of the library and a number of items you are mentioning here has already been implemented in Ayab. One of the main goals of your projects is to add support for additional knitting machines. Which other knitting machines are you adding? Which ones can you get access to?

[2015-05-24 03:32] sameeragunarathne commented on #14
@tian2992 Thanks for the comment. My initial purpose on the features that focuses in your comment is as follows.
             Menu bar is there to load the image patterns and provide basic operations on the pattern such as loading a image, saving the file, giving pattern size etc. After doing necessary editing to the pattern user can proceed to the next window (by clicking proceed to knitting butt

[2015-05-24 06:44] shiluka commented on #15
@mariobehling Thanks for the suggestions. As Chris mentioned here #3  my initial start is to build library on the foundation of already built Ayab plugin system. Ayab has a plugin based architecture but it doesn't have a library to support. In Ayab there are some dependencies with the GUI and logic. Having disk emulation and direct serial communication functions additional machines brother kh 940/

[2015-05-24 06:46] shiluka commented on #19
@tian2992 Thanks for the valuable suggestions and references.

[2015-05-24 07:17] mariobehling commented on #15
@shiluka The brother KH940/950 should be working already with the Ayab hack as those machines have the same basic set up as the KH930. @tian2992 is working with you on outlining the library and it is also part of his project.

Again, the main goal of your project is to add more machines.

Which machines will you work on when? Where do you have access to?

It looks like I am asking the same questio

[2015-05-24 08:18] shiluka commented on #15
@mariobehling These are the information we have gathered regarding shema seiki knitting machines at the university lab. University has shima seiki flat bed knitting machine (model : NSES122CS). Currently it has advanced embedded system with a integrated software. We are trying to find that whether the Ayab is feasible for these machines.

[2015-05-24 08:22] mariobehling commented on #1
Continuing here from https://github.com/fashiontec/knitapps/issues/15#issuecomment-104990061

@shiluka Please provide photos, links to online resources and whatever you can find out about these machines. (I did ask these questions many times before.)

[2015-05-24 08:22] mariobehling commented on #15
@shiluka please add more info about shimaseiki here now https://github.com/fashiontec/knitapps/issues/1

[2015-05-24 10:03] sameeragunarathne commented on #1
From a department student I got to know that shima seiki Newses122,123 are available
product catalog: http://www.shimaseiki.com/product/knit/old_models/pdf/newses122_123_124se.pdf

[2015-05-24 10:11] mariobehling commented on #1
@sameeragunarathne Please provide more info.

[2015-05-24 10:17] sameeragunarathne commented on #1
@mariobehling We have arranged a lab slot tomorrow and will post a report on this issue with the software manual details.

[2015-05-24 10:22] mariobehling commented on #1
Please gather as much information as possible and discuss with them continuous access to the machines. We had discussed this already the first time about two months ago.

[2015-05-24 10:24] mariobehling commented on #1
[correction] one month

[2015-05-25 05:41] tian2992 commented on #16
**Milestone 1**
 * Design the abstraction layers of the library
 * Design the structure of the library
 * Implement the basic structure of the library, along with tests.
 * Define and implement basic knitting machine plugin functionality.
 * Implement AYAB and dummy plugin without any external dependencies
 * Create a public API specification that can support the Web front end.

**Milestone 2**
 *

[2015-05-25 06:02] tian2992 commented on #10
Name | Interface | Capabilities | Machines | Current Language / Platform | Website
------- | ------- | ------- | ------- | ------- | ------
AYAB | USB Serial (advanced protocol) | Single & Double, multi colour | Brother KH910 KH930 | Python + Arduino |
Knittic | USB Serial (simple protocol) |  --- | Some KH Series, OpenKnit, Circular OpenKnit | Processing + Arduino |
Knitty | USB Serial + DIN conn

[2015-05-25 09:09] mariobehling commented on #15
Please include the list we are putting together here in your project plan https://github.com/fashiontec/knitapps/issues/10

[2015-05-25 09:12] mariobehling commented on #14
Please also add info for milestones and technologies used to your plan.
Dates for Milestones
    Milestone 1, Due by June 10, 2015
    Milestone 2, Due by June 26, 2015
    Milestone 3, Due by July 25, 2015
    Milestone 4, Due by August 21, 2015

[2015-05-25 09:12] mariobehling commented on #13
Please also add info for milestones and technologies used to your plan.
Dates for Milestones
    Milestone 1, Due by June 10, 2015
    Milestone 2, Due by June 26, 2015
    Milestone 3, Due by July 25, 2015
    Milestone 4, Due by August 21, 2015

[2015-05-25 09:15] mariobehling commented on #15
We are defining milestones according to time. There are milestones at the midterm and endterm as well as in the middle of terms. Your plan for milestone 4 needs to show a bit more ambition as there is a sufficient time for more developments.

Please also add details about technologies.

Dates for Milestones

    Milestone 1, Due by June 10, 2015
    Milestone 2, Due by June 26, 2015
    Milestone

[2015-05-25 13:18] sameeragunarathne commented on #1
@mariobehling Hi got the lab session today and curreently working  shima seiki model is SES122-S. It's a automated flat bed knitting machine. The input can be given to the machine from a usb flash drive or by using a lan cable. For the safety purposes they upload the pattern using usb. There is a company software comes called SDS-ONE KnitPaint which allows to load patterns and provides drawing,edi

[2015-05-25 13:38] mariobehling commented on #1
Ok, thanks for the update. Could you take good quality photos of the software manual, please? I see different functions and icons. Please make a list of each function and explain what it does. Which of these functions should we also have in our project?

Please find a student, staff member of professor, who can join the GSoC project and work with us. Any idea for someone already?

[2015-05-25 16:11] sameeragunarathne commented on #17
Milestone 1

1. Gather requirements for implementing a pattern editor
2. Define Use cases for front end and pattern editor
3. Come up with the architecture for the solution
4. Define Feature list for the application
5. Define the package structure and initialize git repo.
6. Implementation of loading and pixelating a pattern inside the pattern editor.
7. Implement loading of multiple types of imag

[2015-05-25 16:28] sameeragunarathne commented on #1
@mariobehling Okay I will find a good camera next time. There is a software manual which is quite informative and have lot of facts on knitting related subject matter. This editor gives functionality of creating a pattern from a scratch. It has tools for basic drawing shapes, capabilities and textile related curves etc. And also user will be able to input the type of the stitch wants to used for e

[2015-05-25 18:45] mariobehling commented on #1
@sameeragunarathne

If we can have drawing capabilities that user can create a pattern inside the editor it would be good
Which specific drawing functions does the software have and how is it used? How does it work arond the limits of knits?

What is the name of the professor? Is he aware you are doing a GSoC project? Please get his email and phone number and put us in touch.

[2015-05-26 13:05] mariobehling commented on #1
@shiluka You have not provided input to this issue yet. There are several questions posed to you. Your GSoC project is to add additional knitting machines. So, it would be great to learn about your insights.

[2015-05-26 14:30] shiluka commented on #1
@mariobehling The above information are gathered by both Sameera and me.  I'll add information separately. Sorry for the inconvenience.

[2015-05-27 06:17] tian2992 commented on #9
Found this website. Lists a lot of machine knitting apps: http://www.knittingmachinemuseum.com/

[2015-05-27 12:43] shiluka commented on #1
Lab session regarding Shima Seiki : SES122-S

![20150527_120353](https://cloud.githubusercontent.com/assets/4003134/7836077/3befef22-049b-11e5-9cb0-5bcf412b287d.jpg)

![20150527_120435](https://cloud.githubusercontent.com/assets/4003134/7836092/59364072-049b-11e5-838c-c800656e4165.jpg)

![20150527_120448](https://cloud.githubusercontent.com/assets/4003134/7836102/6cd58624-049b-11e5-99a3-b0c01b461c

[2015-05-27 12:52] shiluka commented on #1
**Procedure of the Software SDS-ONE knit paint**

Creation of the Pattern

![creation of the pattern](https://cloud.githubusercontent.com/assets/4003134/7836347/2027292a-049d-11e5-9497-280ca80a2683.PNG)

Set Jacquard Carrier

![3](https://cloud.githubusercontent.com/assets/4003134/7836353/282f1100-049d-11e5-8e12-86dfba273418.PNG)

Confirm the initial carrier settings

![4](https://cloud.githubuser

[2015-05-27 16:31] sameeragunarathne commented on #1
SDS ONE knit application interface

![20150527_122946](https://cloud.githubusercontent.com/assets/5234677/7841425/2cbd030e-04ba-11e5-94ac-ac3c9818db75.jpg)

Tool bar
![20150527_122826](https://cloud.githubusercontent.com/assets/5234677/7841448/5443ed2a-04ba-11e5-98bd-f4119b8f4751.jpg)

![20150527_123127](https://cloud.githubusercontent.com/assets/5234677/7841486/9389077c-04ba-11e5-94d3-b6cb2e9a468

[2015-05-28 06:58] tian2992 commented on #6
Found about http://json-schema.org/ we can use small code blocks to validate against a schema file. https://pypi.python.org/pypi/jsonschema http://www.alexconrad.org/2011/10/json-validation.html

[2015-05-28 17:54] mariobehling commented on #17
@sameeragunarathne Could you outline here also more about the technologies you propose to use and what is the current status of the tech choices.

[2015-05-28 17:56] mariobehling commented on #18
@shiluka Please also add some more info on the choice of the technologies and development tools used.

[2015-05-28 17:57] mariobehling commented on #16
Please also add some more info on the technologies that you propose and the development tools.

[2015-05-28 22:01] chris007de commented on #9
Just a pointer for you guys: CDS DesignaKnit is one of the most used softwares for home application. Some information about its capabilities may be useful for us, also.

[2015-05-28 22:02] chris007de commented on #6
@tian2992 very nice, that's exactly what I thought of! :+1:

[2015-05-28 22:20] tian2992 commented on #6
@chris007de thanks!, I left some comments on the PR https://github.com/fashiontec/knitpat/pull/1
@andibraeu can you take a look too please?

[2015-05-29 02:41] sameeragunarathne commented on #17
I am using flask web application framework (version 0.10.1) for the implementation. One of the advantage of using flask is providing methods to create RESTful web services easily. REST end points used to create communication methods between the web app and the library methods for hardware communication. It is easy to keep modularity inside flask application and has a built in server to run the app

[2015-05-29 03:58] mariobehling opened #20 "What is the deployment case for flask compared to Angular/Node/Backbone.js"
As discussed in several issues like here https://github.com/fashiontec/knitapps/issues/17, flask seems like a good solution for the web app and pattern editor. However to be sure we have taken everything in account, what is the process to get the web app running?

Deployment is an important question. What is the process to install the app compared to e.g. Angular/Nodejs?

Think of a standard user,

[2015-05-29 11:57] sameeragunarathne commented on #20
I am going to deploy the application in godaddy which I can get a hosting
space from one of my university friend. Therefore web application should
give each user a account with credentials where application should save
them in a cloud data base. Once user is created a account he will be need
to login to get access to the application.

On Fri, May 29, 2015 at 9:29 AM, Mario Behling <notifications@g

[2015-05-29 12:30] mariobehling commented on #20
@sameeragunarathne This is not the question. The question is how others can install the app on their own computer. It is not the goal to depend on you. The goal is, that people can install this app on their own PC easily. So, I wonder if we need a server set up. It is possible to set up flask on the PC without a server as far as I understand, but this is only recommended for tests and developments

[2015-05-29 17:38] sameeragunarathne commented on #20
Hi,

For the full deployment of application, flask gives several options[1].
There should be a server apache/nginx up and running to run the application
using wsgi(web server gateway interface) files. For using apache server
running inside windows/ubuntu systems can use mod_wsgi which is a apache
module which supports python. Therefore simply configuring the routing to
the wsgi file in apache serv

[2015-05-31 11:02] mariobehling opened #21 "Using Rapspi instead of Arduino in Knitting Machine"
Could it be an option to use a Rapspi instead of an Arduino in Knitting Machines in Future? From a dicussions with Andi, I understand the questions is, if there are enough connectors.

[2015-06-01 07:11] chris007de commented on #21
Basically: Everything is possible if you put enough effort on it.
But before asking whether it is possible, please provide information about the background of our question.
Why do you want to do that?
For which knitting machine hack?
Not everything which is possible is also reasonable to do.

From the engineering side:
Handling the GPIO directly with the pins of the Raspi is not reasonable, as it

[2015-06-01 07:25] mariobehling commented on #21
The background of the question is basically, if it would be possible to reduce complexity (and therefore different parts where something can go wrong) and potentially cost, e.g. think of a knitting machine that we can access through a mobile app directly. Your insights already show, that it is currently not an option to pursue the "unification of a Raspi and an the Arduino parts". Thanks a lot!

[2015-06-01 07:25] #21 closed

[2015-06-01 11:23] #18 closed

[2015-06-01 11:26] #13 closed

[2015-06-01 11:28] #20 closed

[2015-06-01 11:31] mariobehling commented on #17
@sameeragunarathne Based on your list of each milestone, please create an issue for each development item and add them into a milestone in github.

[2015-06-01 13:39] sameeragunarathne opened #22 "Architecture for the knit web app milestone#1"
This issue is to define architecture diagrams for knit web app in the perspectives of conceptual, logical, deployment.

[2015-06-01 13:43] sameeragunarathne opened #23 "Implementation of loading and pixelating a pattern inside the pattern editor"
This issue is to track implementation of pattern editor inside the workspace in knit web app.

[2015-06-01 13:47] sameeragunarathne opened #24 "Selecting suitable technology for knit web app implementation"
This issue is to select and track suitable technologies used in each component implemented in knit web app.

[2015-06-01 16:04] sameeragunarathne opened #25 "Implement loading of multiple types of image formats to the pattern editor"
This issue is to track implementation of loading and editing multiple types of image formats as patterns to the pattern editor.

[2015-06-01 16:18] sameeragunarathne opened #26 "Generating a pixelated pattern and identify each cell as a editable unit"
This issue will track on how to pixelate the pattern and how to identify each cell to make it a editable one. In this way each cell can be edited individually using the tools inside pattern editor( i.e colour configuration).

[2015-06-01 16:33] sameeragunarathne opened #27 "Implementation of the basic pattern editor tools"
This issue is to track on the pattern editor tools which are resides inside patten editor. following tools are implemented during this task.
1. selecting pattern/region of the pattern
2. drawing tools
3. colour palette and colour picker
4. tools for pattern rotating, replicating, re-sizing,cropping etc.

[2015-06-02 04:09] sameeragunarathne commented on #22
Architecture for the knit web app
![screenshot from 2015-06-02 09 37 09](https://cloud.githubusercontent.com/assets/5234677/7928282/2f454dde-090b-11e5-9802-fc98dc604ca0.png)

[2015-06-05 06:54] sameeragunarathne commented on #24
Possible Technologies for offline usage of a web app

1. node web-kit (https://github.com/nwjs/nw.js/)
2. Electron framework (https://github.com/atom/electron)

Electron Framework is more comprehensive in writing desktop cross platform applications using JavaScript and HTML.

[2015-06-07 14:38] #4 closed

[2015-06-07 14:50] mariobehling commented on #16
@tian2992 Please add tasks for knitlib in the respective tracker: https://github.com/fashiontec/knitlib/issues

[2015-06-07 14:53] mariobehling commented on #16
@tian2992 Please add tasks for knitpat and milestones in the respective tracker: https://github.com/fashiontec/knitpat/issues

[2015-06-08 20:02] sameeragunarathne commented on #27
Current Progress

1. selecting pattern/region of the pattern (on going)
2. drawing tools (TO DO)
3. colour palette and colour picker (ongoing, implemented colour picker)
4. tools for pattern rotating, replicating, re-sizing,cropping etc. (TO DO)

[2015-06-12 01:44] #22 closed

[2015-06-12 01:49] sameeragunarathne commented on #23
Methodology used: Pattern is loaded into a html canvas element and then read the image data pixel by pixel to to get the rgb value of each pixel to formulate.

Improvements to be done: Reduce the noise of the uploaded pattern images. So that the pixelated image would be generated much detailed and clear.

[2015-06-12 01:49] #23 closed

[2015-06-12 01:50] #24 closed

[2015-06-12 01:53] sameeragunarathne commented on #25
Currently any image from the following types are loaded to the editor.
jpg
png
gif
After the editing the output file can be converted to a specific format from above (currently jpg).

[2015-06-12 01:53] #25 closed

[2015-06-12 02:00] sameeragunarathne commented on #26
Each pixel in the pixel grid is identified by the actual pixel coordinate of the mouse pointer and checking whether the mouse pointer is at the relevant pixel in the pixel grid.

[2015-06-13 13:34] #19 closed

[2015-06-16 14:51] mariobehling commented on #27
As we are long over M1 I am moving this issue to M2

[2015-06-16 14:51] mariobehling commented on #26
Moving it to M2 as M1 is overdue.

[2015-06-16 19:43] sameeragunarathne commented on #27
1. selecting pattern/region of the pattern: done
2. drawing tools: started and implemented colour fill tool

[2015-06-16 19:52] sameeragunarathne commented on #26
finding of a pixel coordinate is triggered by a mouse event(i.e mouse over) and take x,y coordinate values of the canvas and convert them to the pixel grid scale.(x or y coordinate/num of pixels in the grid at a side).
eg: 300/100.
status:done

[2015-06-16 19:52] #26 closed

[2015-06-22 19:51] sameeragunarathne commented on #27
Most of the implementation of the basic pattern editor tools are done by now. Following are the completed and mostly complete implementations of the pattern editor.

1. Selecting of the region of the pattern from the pixelated pattern grid and ability to edit the colour details of the selected area. User also able to revert the changes.
Improvements to be done for the feature: Identify pattern col

[2015-06-24 09:19] #27 closed

[2015-06-24 13:55] mariobehling commented on #27
Awesome!

[2015-07-13 16:59] #8 closed

[2015-07-13 17:15] mariobehling commented on #17
What is the reason for closing this issue? Please add more details links to the issues here. This issue is an umbrella issue until the end of the project.

[2015-07-13 17:16] mariobehling commented on #9
@sameeragunarathne I am not seeing the info from the question here. Why are you closing this without a comment?

[2015-07-13 17:22] sameeragunarathne commented on #9
Sorry I was in the process of closing the issues that I created which are
implemented successfully so far and I mistakenly closed the assigned issues
also. I will reopen them now and sorry for the inconvenience.
On Jul 13, 2015 10:46 PM, "Mario Behling" <notifications@github.com> wrote:

[2015-07-13 17:25] mariobehling commented on #9
Please close issues and add a comment, why you are suddenly closing them. If you committed code, please reference the commit in the issue and in future also in the actual PR. Cheers.

[2015-07-13 17:28] sameeragunarathne commented on #9
Understood. Thanks.
On Jul 13, 2015 10:55 PM, "Mario Behling" <notifications@github.com> wrote:

[2015-07-20 16:30] tian2992 commented on #16
Added detail related to knitlib-webserver

[2015-07-22 20:31] sameeragunarathne commented on #17
Milestone 3 update:

Pattern editor related implementations:
1. Identifying pattern regions and provide user capability to edit attributes of those regions. (https://github.com/fashiontec/knitweb/issues/7):
Status - Almost completed. Need more functionality testing before finalizing.

2. Pattern editor documentation.(https://github.com/fashiontec/knitweb/issues/16).
Status - expecting to provide d

[2017-02-11 23:48] ashwini0529 opened #28 "Proper alignment of links"
All the three links should be aligned at the same level.
<img width="1171" alt="screen shot 2017-02-12 at 5 17 49 am" src="https://cloud.githubusercontent.com/assets/8419333/22858415/b230084a-f0e2-11e6-866e-63bfcc954418.png">

[2017-02-12 00:06] mariobehling commented on #28
I think you are on the wrong repository. This repo is just a forward to events.fossasia.org at the moment.

[2017-02-12 00:06] #1 closed

[2017-02-12 00:06] #3 closed

[2017-02-12 00:06] #6 closed

[2017-02-12 00:06] #7 closed

[2017-02-12 00:06] #9 closed

[2017-02-12 00:06] #10 closed

[2017-02-12 00:06] #11 closed

[2017-02-12 00:06] #14 closed

[2017-02-12 00:06] #15 closed

[2017-02-12 00:06] #16 closed

[2017-02-12 00:06] #17 closed

[2017-02-12 00:06] #28 closed

[2017-09-08 13:44] geekyd opened #29 "Load tweets & external JS over HTTPS"
Currently tweets are loaded using HTTP, it should be loaded using HTTPS

[2017-09-08 15:39] isuruAb opened #30 "width of team member images are differ"
width of team member images are differ in small screen sizes.
<img width="503" alt="screen shot 2017-09-08 at 9 07 09 pm" src="https://user-images.githubusercontent.com/7692626/30219546-fcfd8a64-94d9-11e7-9f8c-c2398506a6ac.png">
<img width="488" alt="screen shot 2017-09-08 at 9 07 19 pm" src="https://user-images.githubusercontent.com/7692626/30219547-fd2f5be8-94d9-11e7-99ab-1d947dd75ecc.png">

[2017-09-08 17:08] AshishkrGoyal opened #31 "link is not properly visible"
![image](https://user-images.githubusercontent.com/25322851/30222927-4b4da382-94e6-11e7-9126-936c0fd11145.png)
what is written on orange button is not visible !!

[2017-09-08 17:29] isuruAb opened #33 "Top bar has a moving effect - avoid that effect"
When a user scrolls down the top and the bar switches to white a moving effect appears when the user scrolls over an item.

Expected: The underline effect should appear, but the moving effect should not appear.

![30202731-bac89d00-947f-11e7-8898-9078471252b2](https://user-images.githubusercontent.com/7692626/30223612-40513cac-94e9-11e7-8bb0-4f1aec89e500.png)

[2017-09-08 17:35] isuruAb opened #34 "solve issues that are occurring because of https"
web site gives an error when users are trying to access it with https.
https://2018.fossasia.org/

<img width="1280" alt="screen shot 2017-09-08 at 11 03 43 pm" src="https://user-images.githubusercontent.com/7692626/30223855-25bf3dde-94ea-11e7-8df7-5bef2b651a27.png">

[2017-09-08 18:19] AshishkrGoyal commented on #33
@isuruAb
i want to work for this..

[2017-09-08 18:21] isuruAb commented on #33
@AshishkrGoyal sure you can work on this

[2017-09-08 20:31] geekychaser commented on #31
i would like to solve this issue. may i sir?

[2017-09-09 04:48] mani87 commented on #31
@AshishkrGoyal can you review the changes?

[2017-09-09 05:42] AshishkrGoyal commented on #31
@mani87  your code is working fine, but actually code for this is in the file as:
https://github.com/fossasia/2018.fossasia.org/blob/master/css/custom.css
and written from 1 to 22 code lines..

so i suggest you to edit these lines and please not write CSS with HTML because we have separate CSS file for this purpose..

Thanks

@mariobehling  sir your suggestion needed for this

[2017-09-09 06:06] AshishkrGoyal commented on #33
@isuruAb please review this pull request:
https://github.com/fossasia/2018.fossasia.org/pull/38

Thanks

[2017-09-09 06:31] AshishkrGoyal opened #39 "responsiveness issue on hover over an image"
it seems not good that background exceed the width of image when user hover on an image,

![image](https://user-images.githubusercontent.com/25322851/30237775-8f655fea-9556-11e7-9408-192a3d593db7.png)

[2017-09-09 06:32] AshishkrGoyal commented on #39
@mariobehling sir
can i work on it?

[2017-09-09 06:41] AshishkrGoyal opened #40 "map is not working properly"
@mariobehling sir..
google map which is embedded is not working properly and zoom-in, zoom-out button also not working fine

![image](https://user-images.githubusercontent.com/25322851/30237820-eeacccee-9557-11e7-84b9-1c8914d1f68a.png)

Thanks

[2017-09-09 07:20] mani87 commented on #31
@AshishkrGoyal fine now?

[2017-09-09 08:46] niccokunzmann commented on #39
@AshishkrGoyal In general, you can work on it without permission. Usually the permission is granted in the LICENSE file which is missing here. In order to not do work another person also does, share your work status as soon as possible in the issue. So, yes, you can work on it. Please always let other people know what you are doing. There is no "this code/problem belongs only to me" in open-source

[2017-09-09 08:49] AshishkrGoyal commented on #39
@niccokunzmann
Thanks Sir

[2017-09-09 09:16] niccokunzmann commented on #31
@AshishkrGoyal @mani87 @vibhor98 You all presented different solutions. I would be glad if you can talk to eachother and find the one, best solution you all agree on. I hope you can learn from each other. Also, I do not want to say that I know what is best in front of you who put in most of the time and reject PRs. You all put thoughts into it, so, please share them with eachother. You can ping me

[2017-09-09 09:23] AshishkrGoyal commented on #31
@niccokunzmann
my solution and @mani87  solution is same as i suggest @mani87  to solve it by writing external CSS code, because it is not a nice practice to write inline CSS,

@niccokunzmann the solution which was proviede by me and @mani87 is same and better than other solutions.

@vibhor98 your work is also nice but it is good practice to write external CSS.

@niccokunzmann if you will merge PR

[2017-09-09 09:33] #31 closed

[2017-09-09 10:07] AshishkrGoyal commented on #30
@isuruAb
i want to work on this issue

Thanks

[2017-09-09 11:57] niccokunzmann commented on #29
I do not see that any tweets are loading. Do you see them?
![grafik](https://user-images.githubusercontent.com/564768/30239931-c0bb6110-9566-11e7-9e24-8d18632dbeef.png)

[2017-09-09 12:43] ms10398 commented on #40
Can i Work on this issue

[2017-09-09 14:37] isuruAb commented on #30
@AshishkrGoyal  yes you can work on this

[2017-09-09 19:24] geekychaser commented on #34
@isuruAb sir i want to try to solve this issue. can you give me a hint from should i approach this.
thank you

[2017-09-09 19:33] isuruAb commented on #34
hi @geekychaser , As I see It tries to load few libraries using http. try to change those to https 👍
happy coding !!

[2017-09-10 07:51] niccokunzmann commented on #40
@ms10398 Thanks for your commit. I believe this solve the issue. I would have liked a preview URL, if you activate github pages in the forked repositories settings.

[2017-09-10 07:51] #40 closed

[2017-09-10 09:39] AshishkrGoyal commented on #30
@isuruAb @niccokunzmann
pull request #44  for this issue 👍

Thanks in advance 😄

[2017-09-10 09:57] venkateshbellale commented on #29
I think there is a problem with parser function in tweetsfetcher.js because the script is calling loklak api over https and loklak api that doesn't https.

[2017-09-10 10:00] venkateshbellale commented on #29
![screenshot from 2017-09-10 15-29-01](https://user-images.githubusercontent.com/24228920/30247970-f7e92f2e-963c-11e7-8941-ce085a33f448.png)

[2017-09-10 10:56] niccokunzmann commented on #29
Then, can we use http for this?

[2017-09-10 11:03] venkateshbellale commented on #29
i think no, loklak api is hosted on http

[2017-09-10 11:18] niccokunzmann commented on #29
https://api.loklak.org/ works sometimes.

[2017-09-10 11:20] niccokunzmann opened #47 "Zooming in moves menu bar"
When I zoom out on the website, the title stays on the left but the website is centered:

![grafik](https://user-images.githubusercontent.com/564768/30248574-b84d96e6-962a-11e7-9de9-f22867467d59.png)

I think the title should be in the middle at all times.

To solve this, please provide a minimal pull-request and a website link to test.

[2017-09-10 11:25] #30 closed

[2017-09-10 11:32] venkateshbellale commented on #29
ok,i works so we just have to edit the js,and change http to https.simple

[2017-09-10 11:39] AshishkrGoyal commented on #47
@niccokunzmann
i want to work for this issue 👍

thanks in advance 👍

[2017-09-10 12:09] AshishkrGoyal commented on #33
@isuruAb @niccokunzmann
i think this issue should be closed now because we have solved it.

Thanks

[2017-09-10 12:15] #33 closed

[2017-09-10 12:28] AshishkrGoyal commented on #47
@niccokunzmann
please review the PR #48 for this issue

Thanks in advance 😄

[2017-09-10 12:52] #47 closed

[2017-09-10 14:18] parimatrix opened #49 "Overflow on hover"
I just noticed that the team section, when viewed on mobile screens and smaller screens has an overflow issue. The semi-transparent div that flows in has a size larger than the image!

[2017-09-10 14:39] parimatrix commented on #34
@isuruAb Sir, does this mean that every instance of http://... should be replaced by https://... ? Sorry if it's quite a silly question to ask
!

[2017-09-10 16:55] heysadboy opened #51 "Add .travis.yml file"
Currently the build fails and is not able to work correctly. .travis.yml must be added to fix the same

[2017-09-10 19:50] ParthS007 opened #53 "alignment of MBM logo"
![image](https://user-images.githubusercontent.com/24358501/30252397-54b176d8-968f-11e7-8015-87e1aa50cab2.png)

[2017-09-10 20:41] mariobehling commented on #53
Not important as we will be soon adding more logos.

[2017-09-10 20:41] #53 closed

[2017-09-10 20:48] geekyd commented on #29
@venkateshbellale We need to use tweet.js instead it. All other tweet related files are outdated.

[2017-09-11 08:00] venkateshbellale commented on #29
it's  not working
 checkout at  https://venkateshbellale.github.io/2018.fossasia.org/

[2017-09-11 13:24] geekyd commented on #29
@venkateshbellale There is an issue with loklak I guess, please confirm it on the loklak channel once.

[2017-09-11 18:38] venkateshbellale commented on #29
i  think there is an issue with that script file.

[2017-09-11 19:06] mariobehling opened #54 "Only make map zoomable after initial click on area"
Currently when a user scrolls down with the mouse and the cursor is suddenly over the map the map zooms in instead of the page scrolling down further.

Expected: Only zoom map once the use has clicked on the map area.

[2017-09-11 19:11] geekyd commented on #29
@vibhcool Can you please help out here?

[2017-09-12 14:45] venkateshbellale commented on #29
I think I have solved the issue with tweet.js,
but now rssfetch.js is causing an error.
I think is because of wrong  format of yql query or the url that is mentioned in it "blog.fossasia.org/rss.xml is invalid.
and
can you tell the use of rssfetch.js

[2017-09-12 21:04] heysadboy commented on #51
@niccokunzmann I don't see Travis build on the pull requests recently, I wonder if we still need this or it is being turned off.

[2017-09-12 21:09] niccokunzmann commented on #51
- maybe it is turned off, I think this would be the best
- maybe we can not merge any more, so there is no progress

[2017-09-12 21:18] heysadboy commented on #51
I'm confused, sorry. I wanted to know if still need to add or I should close this issue maybe?

[2017-09-13 10:21] geekychaser commented on #34
@isuruAb sir not able to find a solutoin please guide me sir to come up with a solution.
`window.location = window.location.href.replace(/^http:/, 'https:');` i found this as a solution but unable to use this.
thank you

[2017-09-13 15:50] vibhcool commented on #29
@geekyd, this is the issue, this needs to be changed to https , https://github.com/fossasia/2018.fossasia.org/blob/82d41073eff80ea2bd5c13bc46f951b7785986db/js/loklak-fetcher.js#L75

working on it!!

[2017-09-13 18:58] #49 closed

[2017-09-13 19:30] heysadboy commented on #51
@niccokunzmann I am closing this issue as it is turned off. I don't think we need to add it now. Maybe open this later.

[2017-09-13 19:30] #51 closed

[2017-09-14 06:44] mariobehling commented on #29
Tweets are still not loading.

[2017-09-16 00:23] #29 closed

[2017-09-16 02:43] sagar-kalra commented on #39
There is no issue like this, i checked it on firefox and chrome both.

[2017-09-16 10:09] #39 closed

[2017-09-16 16:30] AshishkrGoyal opened #58 "bad hover effect for navigation bar- dropdown menu"

[2017-09-17 11:16] sagar-kalra commented on #58
what exactly do you want to change? @AshishkrGoyal

[2017-09-18 06:41] #58 closed

[2017-09-18 09:55] mariobehling opened #61 "Sponsor section changed"
Add sponsors has changed. Probably CSS was changed somewhere. Please review the previous changes and revert to original order / distribution of logos.

![screenshot from 2017-09-18 11-56-15](https://user-images.githubusercontent.com/1583873/30537019-68a2b6d2-9c68-11e7-8b33-8a4c1cbe9069.png)

[2017-09-18 14:51] #61 closed

[2017-09-21 09:44] prakamya-mishra opened #64 "Bug fix: display links in venue section"
There is an issue in the venue section in which some text was not getting displayed due to which i want to fix.

#
<img width="605" alt="screen shot 2017-09-21 at 3 12 45 pm" src="https://user-images.githubusercontent.com/22093105/30689720-700b0f2c-9edf-11e7-8e12-9fe7ce5136db.png">

[2017-09-26 18:57] rishabh-bansal commented on #34
@isuruAb This may eliminate the security wall.

async ignoreCertificateErrors () {
    await this._checkStart()
    await this.client.Security.enable()
    await this.client.Security.setOverrideCertificateErrors({override: true})
    await this.client.Security.certificateError(({eventId}) => {
      this.client.Security.handleCertificateError({
        eventId,
        action: 'continue'
      })

[2017-09-29 20:49] hpdang opened #65 "Add Darrel Chua into the Team Section"
Darrel Chua
Business Development
Twitter: https://twitter.com/darrelchua
Linkedin: https://www.linkedin.com/in/darrelchua

![darrelchua](https://user-images.githubusercontent.com/1658742/31035458-605225ea-a568-11e7-8439-0775d6df7e30.jpg)

[2017-09-30 06:59] anshulwadhawan commented on #65
Can I do the required task ?

[2017-09-30 10:12] #65 closed

[2017-10-01 14:46] sagar-kalra commented on #64
is this issue still open?

[2017-10-01 17:01] RMCoder198 opened #68 "Add github icon at the top bar"
Add a github icon at the top that links to fossasia github.

[2017-10-01 17:04] #68 closed

[2017-10-01 18:51] mariobehling commented on #64
I am not seeing this issue on my browser. Therefore closing it. Cheers. Reopen if still relevant.

[2017-10-01 18:51] #64 closed

[2017-10-01 18:56] soumam007 opened #70 "Improved nav-dropdown hover error"
if you open the website you will be clear.
If you hover your mouse pointer below fossasia events still you will get the dropdown menu
But you should get the drop downmenu only when you hover your pointer over fossasia events

Do you want to work on it?
**Yes**

[2017-10-01 19:12] soumam007 commented on #70
Work done so closing it .

[2017-10-01 19:12] #70 closed

[2017-10-04 10:08] luckykumardev commented on #34
@isuruAb I want to try to solve this issue.

[2017-10-04 13:49] anshulwadhawan opened #71 "Icons in the footer contact us bar overflow"
Currently:
On viewing the website on Redmi Note 3, the contact us footer bar icons overflow out of the line(to the next line).
Expectation :All the icons should be in the same line.
![screenshot_2017-10-04-19-15-08-337_com android chrome](https://user-images.githubusercontent.com/25061477/31179146-ba0027ee-a938-11e7-9ec1-3905fe290768.png)
I want to work on this issue.
@mariobehling
@isuruAb
@geeky

[2017-10-04 18:05] visage98 opened #72 "Navbar after scrolling down is translucent"

[2017-10-04 18:05] #72 closed

[2017-10-04 18:14] visage98 opened #73 "Navbar after scrolling down is translucent."
The contents of page comes behind navbar.
Opaque Navbar would look better.
![screenshot from 2017-10-04 23-34-23](https://user-images.githubusercontent.com/29611792/31191965-7577a9e2-a95d-11e7-9908-4c8245d6f8ce.png)
I would like to solve this.
@mariobehling
@isuruAb
@geekyd

[2017-10-04 18:59] visage98 opened #74 "Map's placement while viewing on mobile"
When viewing map on my Moto G4 plus(Google Chrome), there is a red gap between the map and left edge of page.
![screenshot_20171005-002113](https://user-images.githubusercontent.com/29611792/31194189-fd059986-a963-11e7-9c93-1c372e95bdd5.png)
I would like to solve this.
@mariobehling
@geekyd
@isuruAb

[2017-10-04 21:18] geekyd commented on #74
@visage98 Please go ahead!

[2017-10-05 03:10] isuruAb commented on #73
hello @visage98,  it is not a bug. it is a feature. please work on major projects instead of these sites. cheers 👍

[2017-10-05 08:01] #73 closed

[2017-10-05 11:55] #74 closed

[2017-10-05 19:13] luckykumardev commented on #34
![sslerror](https://user-images.githubusercontent.com/32070019/31247757-6d57d700-a9c6-11e7-8e2a-391c9a2e12e0.png)
maybe this will help us to solve this issue.  there is a problem with SSL verification

[2017-10-06 06:15] imjog commented on #34
We can solve this with few lines of javascript code.

[2017-10-06 17:08] mariobehling opened #77 "Site gets security alert for https"
I am only getting the security alert for https://2018.fossasia.org, but not for https://2017.fossasia.org.

What is the difference between these sites? How can we avoid the issue for the 2018 site?

![screenshot from 2017-10-06 19-06-49](https://user-images.githubusercontent.com/1583873/31289630-ac040452-aac9-11e7-8f2d-06fccd4576d1.png)

[2017-10-06 18:36] vaibhavsingh97 commented on #77
@mariobehling The problem is with certificates as when we use `http` instead of `https`, the site opening successfully. Open: http://2018.fossasia.org/

[2017-10-07 03:54] mariobehling commented on #77
Yes. It is apparently the problem.  2017.fossasia.org has the same config. So, why is it appearing here?  There shouldn't be a github cert.

[2017-10-08 07:50] AswinChand97 opened #78 "List in the dropdown "FOSSASIA EVENTS" differs after the website has been scrolled."
## **ACTUAL BEHAVIOUR:**
![actual](https://user-images.githubusercontent.com/24192122/31314930-f79960b8-ac29-11e7-90e3-4d6adb3f2c1f.jpg)
## **EXPECTED BEHAVIOUR:**

The drop-down menu can look better if the list elements are styled the same as they were before scrolling.

Please suggest whether this would enhance the look of the website.

## **Would you like to work on the issue?**

Yes

[2017-10-09 06:42] imjog opened #79 "Navbar dropdown do not toggle on mobile screen"
On mobile view when we click on dropdown **SCHEDULE** it open but when we click again to close, it remain open.
iPhone 6 Screenshot:
![screen shot 2017-10-09 at 12 05 08](https://user-images.githubusercontent.com/20956124/31327178-11775faa-aceb-11e7-874c-1b2e8b4952a4.png)
I want to work on this issue.

[2017-10-09 12:26] 15BCS049 commented on #78
@AswinChand97  are you working on this issue??

[2017-10-09 16:16] AswinChand97 commented on #78
Yes @15BCS049

[2017-10-09 17:01] mariobehling commented on #34
I reset the config of the subdomain. I think that resolved it.

[2017-10-09 17:01] #34 closed

[2017-10-17 18:55] luckykumardev opened #81 "problem in dropdown menu when we reduce the screen width less then 769px(approx)"
in mobile and small tablets the dropdown menu(Fossasia events) are not showing us
1.FOSSASIA SUMMIT 2011
2.FOSSASIA SUMMIT 2010
3.CODE OF CONDUCT
![fossasia_dropdown](https://user-images.githubusercontent.com/32070019/31683385-bbe954c4-b331-11e7-883f-72141f0f0a71.gif)

can I work on this issue?
@isuruAb  @mariobehling

[2017-10-19 13:07] mariobehling commented on #81
Sure, please go ahead and preferably provide screenshots instead of animations to help us understand the issue more quickly in future.

[2017-10-20 22:01] mariobehling opened #83 "Implement dropdown colors in red"
Please implement color change in the dropdown same as https://2018.fossasia.org/

![screenshot from 2017-10-21 00-01-43](https://user-images.githubusercontent.com/1583873/31843420-1e2c49e8-b5f3-11e7-97a3-d2fd4a89ce7c.png)

[2017-10-21 04:58] luckykumardev commented on #83
@mariobehling  can I work on this issue?

[2017-10-21 05:20] luckykumardev commented on #83
![fossasia dropdown color](https://user-images.githubusercontent.com/32070019/31848319-ad8e1102-b5e4-11e7-9924-86c3281bf270.png)

will this red be fine for dropdown?

[2017-10-21 09:34] mariobehling commented on #83
Please use the same colors as other buttons on the site and follow 2018.fossasia.org.

[2017-10-21 11:53] luckykumardev commented on #83
I think there is no red color button in 2018.fossasia.org.
but most of the buttons have a transition CSS property, through which the color of button changes from #E12B00 to some respective dark color. are you talking about to apply this type of change in color of dropdown?

[2017-10-21 11:59] luckykumardev commented on #83
I think there is no red color button in 2018.fossasia.org.
but most of the buttons have a transition CSS property, through which the color of button changes from #E12B00 to some respective dark color. are you talking about to apply this type of change in color of dropdown?

![fossasia button](https://user-images.githubusercontent.com/32070019/31851542-aaf1f480-b61c-11e7-9065-95a60a6c1e2b.png)

[2017-10-21 12:16] mariobehling commented on #83
This issue is about the dropdown menu.

[2017-10-21 12:18] luckykumardev commented on #83
yes, I know but I am asking that do you want this type of hover effect on dropdown?

[2017-10-21 12:41] mariobehling commented on #83
I am unclear about your questions and everything should be clear from the description. Maybe I just close this issue and do it myself later. The goal was to have the same thing as 2018.fossasia.org. Thanks.

[2017-10-21 12:41] #83 closed

[2017-10-21 12:43] mariobehling commented on #83
Ok, I see there are some details missing. I will make the changes later and you can help on other repos later. I will point you to it once done. Cheers.

[2017-10-21 12:57] luckykumardev commented on #83
thanks, Mario Behling i shall happy to work on it.

[2017-10-29 11:09] mariobehling opened #84 "Firefox does not show links in Social Event program"
Chrome shows links in red color nicely, but Firefox does not. Please identify the issue and fix it.

![screenshot from 2017-10-29 12-05-59](https://user-images.githubusercontent.com/1583873/32142922-fdef958a-bca1-11e7-9f8a-eceff0e21a90.png)

[2017-10-29 11:53] vaibhavsingh97 commented on #84
Claiming this issue

[2017-10-29 15:07] vaibhavsingh97 commented on #84
@mariobehling Is this the expected output?
![image](https://user-images.githubusercontent.com/8705386/32145088-bdf18bf0-bcba-11e7-85e6-32402aac17b3.png)
Second title is hiding so should i fix in PR?

[2017-10-29 16:14] mariobehling commented on #84
Color in Firefox does not look the same as in other areas. Please provide a test page for the next PR.

![screenshot from 2017-10-29 17-14-15](https://user-images.githubusercontent.com/1583873/32145650-9d27c1a2-bccc-11e7-9e80-fef3ea667f3c.png)

Expected color as in other links
![screenshot from 2017-10-29 17-14-02](https://user-images.githubusercontent.com/1583873/32145654-a5058918-bccc-11e7-9a7b-

[2017-11-04 00:54] hpdang opened #87 "Add Joerg Henning into the team page"

[2017-11-04 05:36] iknoorjobs commented on #87
@hpdang Can I work on this?

[2017-11-04 23:40] #87 closed

[2017-11-18 09:40] atisayajain commented on #84
@mariobehling Is the issue still open?

[2017-12-06 10:03] mariobehling opened #88 "Add confirmed speakers to "Speakers Section" same as 2017"
There are confirmed speakers for 2018 up now: https://eventyay.com/e/b548bcfc/

Reuse existing images in the folder `/img`

Please add them into a section "Speakers" same as in previous year.

![screenshot from 2017-12-06 11-02-51](https://user-images.githubusercontent.com/1583873/33656020-0e93bc36-da75-11e7-9fbf-f3912ad76996.png)

[2017-12-06 17:45] YashKumarVerma commented on #88
working on it ! :)

[2017-12-09 08:02] duttaditya18 commented on #88
@mariobehling Working on it!
@YashKumarVerma You are already working on several issues. I will do this one quickly. Do not worry.

[2017-12-09 08:07] duttaditya18 commented on #77
Seems like this is fixed, This issue can be closed now!

[2017-12-09 08:08] duttaditya18 commented on #78
Close this issue as this has been solved,

[2017-12-09 10:44] duttaditya18 commented on #88
I think #89 solves this.

[2017-12-09 15:36] #78 closed

[2017-12-09 16:35] #88 closed

[2017-12-09 16:40] #77 closed

[2017-12-10 15:27] kubami9 opened #90 "Footer section bugs on tablets and phones"
**On medium dimensions FOSSASIA email is going outside of the website.
On small and very small dimensions social media icons are not displaying properly.**
![bug1_2018](https://user-images.githubusercontent.com/16598854/33806323-ddf1b984-ddc6-11e7-8868-2477898f00dd.png)
![bug2_2018](https://user-images.githubusercontent.com/16598854/33806324-de0eed4c-ddc6-11e7-95d1-ad9a24efb3d0.png)
![bug3_2018](h

[2017-12-10 17:47] kubami9 opened #91 "Text not readable in one section"
## Issue
In the section **A little more about the FOSSASIA Summit** text is not readable since its white and image is light.

## How to solve it?
Add semi transparent dark layer to the image or section

## Would you like to work on it?
Sure!

![bug4_2018_new](https://user-images.githubusercontent.com/16598854/33807660-7d1e76a6-ddda-11e7-97fb-745d58526201.png)

[2017-12-11 07:59] YashKumarVerma opened #93 "No Pull request or issue template"
There's no pull request or issue template in the site, which is making issues and pull requests unorganized/unordered.

Pushing a PR to solve the same.

[2017-12-11 08:06] mariobehling commented on #93
This is just a simple website, not a software application. We should keep it simple. No need.

[2017-12-11 08:06] #93 closed

[2017-12-11 08:14] YashKumarVerma commented on #93
Sure sir 😄

[2017-12-11 08:17] YashKumarVerma opened #94 "Scheduled written as Topics in Sidebar"
-There are 2 items with the same name in the sidebar.
-The Schedule hyperlink should come above topics as in the content, the schedule section comes first.
Fixing.
![screenshot 146](https://user-images.githubusercontent.com/14032427/33821413-b4eb1cf2-de79-11e7-9ed7-524a95a337d2.png)

[2017-12-11 11:11] #91 closed

[2017-12-11 16:07] #90 closed

[2017-12-12 09:34] mariobehling opened #97 "Add new speakers and fix distance below speakers"
* There are new speakers accepted. https://eventyay.com/e/b548bcfc/

* Please add them and get rid of the space below speaker images. This bug was recently introduced. Please fix it to match the 2017 design.

* Substitute the image of Mai-Hsuan Chia with an image that does not show him in a coffee shop, but is more suitable as a speakers image

![screenshot from 2017-12-12 10-32-40](https://user-i

[2017-12-12 11:22] 2coolife commented on #97
Working on it!

[2017-12-13 11:33] flaredragon opened #99 "Navbar Content Overlaps in Tablet size (iPad Pro)"
![screenshot from 2017-12-13 17-01-27](https://user-images.githubusercontent.com/29121452/33936954-760d2ca0-e027-11e7-8859-e1d226cb050b.png)

- The Fossasia Logo Overlaps With the Navbar Content on Tablet Size Screen

I would like to work on this issue.
Regards

[2017-12-13 14:08] mariobehling opened #100 "Add Philip Paeps from The FreeBSD Foundation to organzation team"
Philip Paeps is on the committee for the platform track. Please add him to the team listing.

[2017-12-13 14:48] mariobehling opened #101 "Add "Join FOSSASIA" Section with Social Media Sharing"
FOSSASIA.org has a social media section with share buttons. Please add the same section above the team section. Ensure all the social media links work.

As text please use "Join us at the..."

![screenshot from 2017-12-13 15-46-13](https://user-images.githubusercontent.com/1583873/33944582-e7eb2fc6-e01c-11e7-9efd-93aadb63221a.png)

[2017-12-13 22:52] #97 closed

[2017-12-14 11:39] #94 closed

[2017-12-19 05:34] achiv commented on #100
@mariobehling  Please assign me this task.

[2017-12-19 06:24] achiv commented on #100
Made a pull request here <a href="https://github.com/fossasia/2018.fossasia.org/pull/104">#104</a>.

[2017-12-19 13:26] duttaditya18 commented on #100
Close this.

[2017-12-19 13:27] duttaditya18 commented on #71
Not required.

[2017-12-19 13:31] #100 closed

[2017-12-20 04:29] achiv commented on #101
Made pull request at <a href="https://github.com/fossasia/2018.fossasia.org/pull/105">#105</a>

[2017-12-20 06:45] achiv commented on #101
@mariobehling
![106](https://user-images.githubusercontent.com/16984674/34194439-c856a5ac-e57e-11e7-9198-0f63bf865f83.png)

I have included these files in "theme-lava.css",still it is not showing  in original site.
![upadtetheme](https://user-images.githubusercontent.com/16984674/34194529-1c359854-e57f-11e7-9da0-6cc91f440abc.png)

[2017-12-20 08:17] hpdang opened #106 "Update Team Members"
Update Team Session: https://2018.fossasia.org/#team

1) Replace Roger Lau (Samsung) by Noah Chen (FOSSASIA Taiwan)
* Twitter: https://twitter.com/noahcse
* Github: https://github.com/noahcse
![img_20171220_151423](https://user-images.githubusercontent.com/1658742/34197387-393cf6f0-e5a1-11e7-8f6b-1f739c11f6e1.png)

2) Replace Colin Charles (Percona) by Christopher Adams (Blockchain)
* Twitter URL

[2017-12-20 08:22] hpdang opened #107 "Update Speaker's Bio - Felipe Hoffa"
Under Featured Speakers Session:

Please remove the current bio of Felipe Hoffa and add the following text:

In 2011 Felipe Hoffa moved from Chile to San Francisco to join Google as a Software Engineer. Since 2013 he's been a Developer Advocate on big data - to inspire developers around the world to leverage the Google Cloud Platform tools to analyze and understand their data in ways they could ne

[2017-12-20 08:27] YashKumarVerma commented on #106
working on it 🔥

[2017-12-20 08:35] himanish-star commented on #107
working on it

[2017-12-20 09:13] #106 closed

[2017-12-20 09:22] #107 closed

[2017-12-20 09:27] duttaditya18 commented on #107
@hpdang Was this reverted? But why?

[2017-12-20 09:34] duttaditya18 commented on #107
@hpdang #110 Fixes this completely.

[2017-12-20 11:27] shikhar-scs commented on #101
Has this Issue been solved @achiv

[2017-12-20 11:38] #101 closed

[2017-12-20 14:03] mariobehling opened #111 "Add Carsten Haitzler to Featured Speakers instead of Takasu Masakazu"
Please do the following:
* Add Carsten Haitzler with the existing image of last year to featured speakers
* Move Takasy Maskazu to general speakers area

[2017-12-20 15:36] samyakbvs opened #112 "Map marker"
It doesn't have a link whereas it should have a location added

[2017-12-20 17:22] sayak119 commented on #111
@mariobehling claiming this

[2017-12-20 20:58] #111 closed

[2017-12-20 21:07] sayak119 opened #116 "The alternate text for speakers are wrong"
The alternate text shown of 2 speakers (Matthew Treinish and Daniel Gultsch) are wrong.

I would like to work on this.

[2017-12-20 22:46] duttaditya18 commented on #79
As this dropdown has been removed, this can be closed now.

[2017-12-21 12:12] #116 closed

[2017-12-22 09:35] shikhar-scs commented on #99
If no one is working on this, I'll rather take this up and file a PR soon.

[2017-12-22 10:05] flaredragon commented on #99
@shikhar-scs I was waiting for their response I've my PR ready :)

[2017-12-22 10:41] shikhar-scs commented on #99
@flaredragon Even I have managed it in the meanwhile and my PR is ready too. but if that is the case I'll rather stash my work :sob:

[2017-12-24 16:46] arjunpandey2003 opened #118 "Add missing Profile links of speakers"
Add more social profiles of speakers

[2017-12-24 16:48] arjunpandey2003 commented on #118
I am working on this.

[2017-12-24 22:23] saarthakchats opened #120 "Bugged Icons(Incorrect and Incomplete Icons)"

[2017-12-27 05:54] Beta-King opened #123 "Add missing social links (eg: linkedin)"

[2017-12-27 14:18] abishekvashok opened #125 "Speaker images not in a uniform size"
Speaker images are not in uniform size, adding correct size images will add to the user experience. This can be done using css by giving each user image a fixed relative col width.

[2017-12-27 14:18] abishekvashok commented on #125
Working on it as part of gci.

[2017-12-27 14:18] abishekvashok commented on #54
Is this fixed?

[2017-12-27 16:25] #120 closed

[2017-12-27 16:43] samyukthacodes commented on #125
Hi! Can I take up this task?

[2017-12-27 17:01] abishekvashok commented on #125
Sure then

[2017-12-27 17:19] samyukthacodes commented on #125
@abishekvashok Thanks

[2017-12-28 02:05] Ploypiti commented on #112
@samyakbvs Can I take this issue, please?

[2017-12-28 02:08] Ploypiti commented on #112
Yo, If you aren't working on it, can I take this issue? (If not it's okay)

[2017-12-28 18:42] arjunpandey2003 opened #127 "Add 1/2 more social profiles of event Partners"
Add more social profiles of vent partners under event partner section

[2017-12-29 15:49] samyukthacodes opened #129 "Style and layout bugs on home page"
1. Speaker images not in uniform size #125
![image](https://user-images.githubusercontent.com/24494611/34440372-ca492d86-ecda-11e7-8d3f-90d2df6172eb.png)
2. Social-links not properly aligned
![image](https://user-images.githubusercontent.com/24494611/34440778-8b7f53a2-ecdd-11e7-847d-e6aab762b3b1.png)
3. Layout bugs in featured speakers section
![image](https://user-images.githubusercontent.com/244

[2017-12-29 18:08] #127 closed

[2017-12-31 16:08] #118 closed

[2017-12-31 20:28] 0x48piraj opened #134 "Add LinkedIn Profiles for FOSSASIA, Add missing social links"
* Add the LinkedIn company link.

* Add missing social links

[2017-12-31 21:34] 0x48piraj commented on #134
Ping @sayak119

[2018-01-02 05:50] manmeet0307 opened #136 "Red on hovering"
Description
When user go through  the navigation  in blog section , the selected item should hover to red.
![image](https://user-images.githubusercontent.com/32425680/34475130-cd779d40-efae-11e7-8791-fb2af2d0d5a1.png)

[2018-01-02 09:19] JayjeetAtGithub commented on #99
Fixed it.....navigation content overlap .....submitted my pr....waiting for response !!!

[2018-01-03 00:59] shikhar-scs commented on #136
If this issue is still up can I please work on it ?

[2018-01-03 04:24] manmeet0307 commented on #136
This is not approved by admin

On 3 Jan 2018 6:29 a.m., "Shikhar Agnihotri" <notifications@github.com>
wrote:

[2018-01-03 06:56] shikhar-scs opened #140 "Main Navbar Invisible for a majority of the website view"
The main navbar has font white in colour and so is most of the background of this website. I would like to rather keep it black a times it is displayed on the white part . Here's a preview of what I mean (its a gif file, please be patient while it loads)

![simplescreenrecorder-2018-01-03_09 21 22](https://user-images.githubusercontent.com/25258877/34511340-e0670cc4-f080-11e7-9bef-966e9f8e0dab.gif

[2018-01-03 10:07] #140 closed

[2018-01-03 11:00] shikhar-scs commented on #140
I guess my webpage hadnt loaded entirely

[2018-01-03 13:55] mengjiann opened #141 "Minor issues on index page"
Discovered some minor issues when working on the Speakers Information:

- The reference link for the event schedule is still directing to the year 2017 schedule.
![image](https://user-images.githubusercontent.com/6027684/34523019-957141c6-f0d0-11e7-83d9-ff234e42484f.png)
- The starting time for the exhibition program is wrong.
![image](https://user-images.githubusercontent.com/6027684/34523057-bde

[2018-01-04 05:58] hpdang opened #142 "Add missing confirmed speakers on the 'Speakers' section"
Confirmed list of speakers for 2018 : https://eventyay.com/e/b548bcfc/ >> some have been added but there are new ones that recently confirmed. Please add them on the 'Speakers' section

Reuse existing images in the folder /img

Please add them into a section "Speakers" same as in previous year.
![screenshot from 2018-01-04 06 57 49](https://user-images.githubusercontent.com/1658742/34551714-a0ec41

[2018-01-04 07:07] Ploypiti commented on #142
Claiming.

[2018-01-04 16:43] mengjiann commented on #141
One more fix:
![image](https://user-images.githubusercontent.com/6027684/34574125-73773eea-f1b1-11e7-8eeb-ea2f725bc71d.png)

[2018-01-06 08:52] abishekvashok opened #145 "Add missing speakers"
Speakers are not completed added from https://eventyay.com/e/b548bcfc/#speakers
Add:
- [ ] Kiruthika Ramanathan
- [ ] Andrew Lee
- [ ] Héctor Orón Martínez
- [ ] Seth Vargo

[2018-01-06 08:52] abishekvashok commented on #145
Working on it

[2018-01-07 17:14] edenyay opened #147 "Remove speakers"
![screen shot 2018-01-08 at 01 12 22](https://user-images.githubusercontent.com/32028823/34651845-0668a08e-f411-11e7-89f3-e036eb535609.png)
The speaker Vinh Nguyen (as in photo) cannot make it to the summit, please help me remove her. Thank you!

[2018-01-08 03:51] achiv commented on #147
Claiming this issue

[2018-01-09 08:41] edenyay commented on #147
![screen shot 2018-01-09 at 16 40 35](https://user-images.githubusercontent.com/32028823/34711877-dba9570c-f55b-11e7-9c7b-fed0b05f5978.png)

Also remove speaker Andy Fefelov (as in photo) as he won't be able to make it this year.

[2018-01-09 08:55] arjunpandey2003 commented on #147
Claiming the isssue

[2018-01-09 15:57] #129 closed

[2018-01-10 01:31] #141 closed

[2018-01-10 10:22] #147 closed

[2018-01-10 10:23] #134 closed

[2018-01-10 10:54] hpdang opened #150 "Add Two New Featured Speakers on the very top of the section"
Please add the follow two speakers on the top of the featured speakers section. These two should be in position 1 and 2.

1. Chris Aniszczyk
Cloud Native Computing Foundation
Chris is currently a VP at the Linux Foundation focused on developer relations and running the Open Container Initiative (OCI) / Cloud Native Computing Foundation (CNCF). Furthermore, he's a partner at Capital Factory where h

[2018-01-10 10:57] samyakbvs commented on #150
Claiming

[2018-01-10 14:48] simsausaurabh commented on #150
Working

[2018-01-11 20:00] #150 closed

[2018-01-11 20:56] hpdang opened #153 "Update bio of speakers under featured speaker section"
Replace current bios of the following speakers with the new ones:

Jean-Baptiste Kempf
VLC/Videolan
Jean-Baptiste is the President of VideoLAN and VLC Lead Developer. Since 2005, he has worked on or lead most VideoLAN related projects, including VLC for desktop, the relicensing of libVLC, the ports to mobile operating systems, and various multimedia libraries like libdvdcss or libbluray.

Frank Ka

[2018-01-11 21:27] simsausaurabh commented on #153
I'm working on it.

[2018-01-12 06:35] #153 closed

[2018-01-13 09:35] simsausaurabh commented on #142
@hpdang please close this issue. The issue has been solved.

[2018-01-14 07:01] harsh-jindal commented on #54
@abishekvashok Can i work on this? The map "+" and "-" buttons are not working.

[2018-01-14 07:54] tanya-vedi commented on #136
Can I take up this issue?

[2018-01-14 08:02] mithlesh4257 opened #156 "Location Marker Text not aligned properly."
![screenshot from 2018-01-14 17-59-26](https://user-images.githubusercontent.com/22450186/34913954-24212f92-f92f-11e7-852e-cdb2fc37b01d.png)

See here location marker text is not properly aligned.

[2018-01-14 08:32] mithlesh4257 opened #157 "Other element should not be disturbed by hovering on."
The **Topic** is sliding down while hovering on Event Program, etc elements.

![1401issue2](https://user-images.githubusercontent.com/22450186/34914192-6e73da78-f933-11e7-93de-4c8e95eab0a5.png)
![14012017issue1](https://user-images.githubusercontent.com/22450186/34914199-a0e389ea-f933-11e7-8e10-4d8e015b512e.png)

Here I have shown the cases in two photos.

[2018-01-14 10:09] shikhar-scs commented on #136
I was about to take i up but `This is not approved by admin` stopped me. If approved, I would like to work on it.

[2018-01-15 06:47] minibhati93 commented on #156
I'm looking into this.

[2018-01-15 12:04] mithlesh4257 commented on #156
Hi @minibharti93 great.

[2018-01-15 16:55] mithlesh4257 opened #160 ""Search bar" not aligned properly "Eventyay" in mobile view"
Here is the snapshot in mobile.

https://eventyay.com/e/b548bcfc/

![whatsapp image 2018-01-15 at 7 07 18 pm 2](https://user-images.githubusercontent.com/22450186/34953505-fd89c604-fa42-11e7-8fa1-d439915ea523.jpeg)

[2018-01-15 16:58] mithlesh4257 opened #161 "Not proper space in between Social Icons"
![whatsapp image 2018-01-15 at 7 07 19 pm](https://user-images.githubusercontent.com/22450186/34953591-46891332-fa43-11e7-8196-e99ff39f796f.jpeg)

[2018-01-15 16:59] mithlesh4257 opened #162 ""Payment Icons" not aligned"
Snapshot of it.

https://eventyay.com/e/b548bcfc/#

![whatsapp image 2018-01-15 at 7 07 18 pm 1](https://user-images.githubusercontent.com/22450186/34953655-81a5d19e-fa43-11e7-8422-367283b39ad8.jpeg)

[2018-01-15 17:01] mithlesh4257 opened #163 "Not having proper distance between "Social Icons""
Here is the snapshot.

![whatsapp image 2018-01-15 at 7 07 18 pm](https://user-images.githubusercontent.com/22450186/34953752-ca8fdb70-fa43-11e7-8cad-043a4a42c199.jpeg)

[2018-01-15 17:08] #162 closed

[2018-01-15 17:08] #160 closed

[2018-01-15 19:45] simsausaurabh opened #164 "Repeated same linkedIn link for fossasia in Event Partners"
![screenshot from 2018-01-16 01-09-10](https://user-images.githubusercontent.com/16608864/34959069-9db43cd8-fa5a-11e7-97cc-9125eff6acfc.png)

I'm working on this.

[2018-01-15 20:27] simsausaurabh opened #166 "Sharing invite through Google Plus leads to error: 403"
![screenshot from 2018-01-16 01-50-17](https://user-images.githubusercontent.com/16608864/34960266-2c5b8eb4-fa60-11e7-8e65-9e4fd64661fa.png)

I am working on this issue.

[2018-01-16 09:26] #164 closed

[2018-01-16 17:15] edenyay opened #167 "Remove duplicated speaker's photo"
The speaker Chris Aniszczyk is listed as featured speaker (as in this photo here) ![screen shot 2018-01-17 at 01 09 22](https://user-images.githubusercontent.com/32028823/35002019-35a14e6e-fb23-11e7-9e24-71e18e864ef9.png)

But there is another photo of him in the other speaker section. Please help me remove his second photo in the normal speaker section. His photo and bio should be at the featured

[2018-01-16 18:14] edenyay opened #168 "Remove speakers who cannot attend the event"
The speaker Wei Shan Ang (as in photo below) won't be able to make it to the summit this year. Please help me remove him from the speaker list.

![screen shot 2018-01-17 at 02 12 00](https://user-images.githubusercontent.com/32028823/35004720-177e6b3e-fb2c-11e7-9db2-41aae5b973c9.png)

[2018-01-16 18:17] ParthS007 commented on #168
@edenyay  removing `Wei Shan Ang` 👍

[2018-01-17 04:38] tanya-vedi commented on #168
I'll take up this issue.

[2018-01-17 14:11] nityanandagohain commented on #167
I want to  work on this .

[2018-01-17 22:37] simsausaurabh opened #172 "Extra quotes, unnecessary comments, extra spaces."
* Improvement needs to be done for:

  - Extra double quote - making a part of code as commented code:

![screenshot from 2018-01-18 04-01-11](https://user-images.githubusercontent.com/16608864/35070783-726c42cc-fc04-11e7-8906-b342d34b2eea.png)

See the colour difference of the tags below the above repeated quote(") section

![screenshot from 2018-01-18 04-01-29](https://user-images.githubusercont

[2018-01-18 06:34] minibhati93 commented on #156
Closing this issue because it is created in the wrong repo

[2018-01-18 09:26] mariobehling opened #174 "Only show tweets and retweets of @fossasia"
Currently tweets that are not coming from The Twitter "FOSSASIA" are showing up. We only want to show tweets coming from the twitter twitter.com/fossasia showing up.

[2018-01-18 10:44] simsausaurabh commented on #174
@mariobehling please clarify are you referring to the fossasia/loklak_search for showing tweets from @foasasia ?

[2018-01-18 11:51] mariobehling commented on #174
We are trying for more than a year now to get the tweets of twitter.com/fossasia there, but something always is not right even though it looks sometimes that it is finally fixed. Problems were that either only tweets are shown and not the retweets or that all kinds of tweets of others are shown etc. Currently it shows different tweets, but it should only show the tweets of @fossasia.

Check here
!

[2018-01-18 12:11] simsausaurabh commented on #174
@mariobehling I have started to explore for the solution of this problem and process it as soon as possible.

[2018-01-18 14:07] edenyay commented on #167
please go ahead

[2018-01-18 14:13] edenyay commented on #168
Also could you also remove this speaker Bruce Momjian as he won't be able to attend
![screen shot 2018-01-18 at 22 10 11](https://user-images.githubusercontent.com/32028823/35102054-b7b800e4-fc9c-11e7-9a67-422e00b9c678.png)

[2018-01-18 14:13] #167 closed

[2018-01-18 14:36] edenyay opened #175 "Add missing speakers"
Sandeep Kapalawai
Chen, Yi - Xi
Remi Denis-Courmont
Stella Widyasari

Daniel-Constantin Mierla
Martin Bähr
Seth Vargo
Marco Gutierrez

[2018-01-18 14:38] edenyay opened #176 "Add missing speakers"
Ben Sadeghi
Truc Viet Le
Jollen Chen
Kenji Shimono

Jayaditya Gupta
Dr Chong Shang Shan
Darin Lobo
Mishari Muqbil

[2018-01-18 15:03] hpdang opened #177 "Add two new speakers Nila Ethel E & Hamish Coleman"
Please find their profile details, URLs and photos here https://eventyay.com/e/b548bcfc/#speakers
We want to have the title and company on two different lines, it should look likes

Nila Ethel E
Executive Director
SPACE

Hamish Coleman
Sys Admin/Hacker
Hardware Tinkering

[2018-01-18 15:06] simsausaurabh commented on #177
I'm working on this. Thanks.

[2018-01-18 15:15] hpdang opened #178 "Add Keya Desai and other new speakers"
Poonam Mishra
Keya Desai
Ankit Raj
Colin Charles
Pandikrishnan Gurusamy
Chin Hong Hua
Anton Babenko
Guruswamy Revana

You can find their profile details, URLs and photos here https://eventyay.com/e/b548bcfc/#speakers

[2018-01-18 15:18] naveentherocker commented on #178
I am claiming

[2018-01-18 15:23] achiv commented on #176
I am working on this.

[2018-01-18 15:24] achiv commented on #175
I am working on this.

[2018-01-18 15:26] hpdang opened #179 "Add Padmal and new speakers"
M Padmal
Kushal Das
Christopher Travers
Oskari Saarenmaa
Isuru Abeywardana
Teng-Ying Tai
Mohammed A. Imran
Prasad Pandit
Prasad Pandit

You can find their profile details, URLs and photos here https://eventyay.com/e/b548bcfc/#speakers

[2018-01-18 15:27] achiv commented on #168
I would like to work on this issue.

[2018-01-18 15:29] nityanandagohain commented on #179
I am on it

[2018-01-18 16:22] hpdang opened #180 "Update profile picture and job title of speakers Nan Xiao, Matt Ranostay, Mai-Hsuan Chia"
Replace the current photo and job title with the following

1. Nan Xiao >> Research Engineer - Data Storage Institute
Use the new picture from https://eventyay.com/e/b548bcfc/#speakers

2. Matt Ranostay >> Senior Software Engineer - Konsulko Group
Use the new picture from https://eventyay.com/e/b548bcfc/#speakers

3. Mai-Hsuan Chia  >> Developer - Ethereum Research
Use the new picture from https:/

[2018-01-18 16:29] achiv commented on #180
I am claiming this issue.

[2018-01-18 16:38] achiv commented on #168
Created a pull request at <a href="https://github.com/fossasia/2018.fossasia.org/pull/181">#181</a>

[2018-01-18 16:42] #168 closed

[2018-01-18 16:58] achiv commented on #180
Created a pull request at <a href = "https://achiv.github.io/2018.fossasia.org/">#182</a>

[2018-01-18 17:02] 0x48piraj commented on #177
If you need some profiles socials, I can help you with that @naveentherocker 👍

[2018-01-18 17:04] hpdang opened #183 "Batch update job titles of existing speakers"
Please replace the current job tittles of speakers with the new ones below:
Please make Job title and Company on two different lines

1. Asankhaya Sharma >>
Head of R&D
SourceClear

2. Wong Yong Jie >>
Technical Lead
Glints

3. AMahdy Abdelaziz >>
Code Artist
Vaadin

4. German Saprykin >>
iOS Developer
Grab

5. Stepan Goncharov >>
Engineering Manager
Grab

6. Gaurang Torvekar >>
CTO
Attores

7. Yi

[2018-01-18 17:07] achiv commented on #183
I am claiming this issue.

[2018-01-19 08:49] hpdang commented on #183
@achiv I saw you claimed many issues, do you have time to take care them? We need those issues to resolve asap. You can also focus on a few, finish then claim another one so other can also help out. Thanks

[2018-01-19 08:50] #180 closed

[2018-01-19 08:53] hpdang commented on #178
@naveentherocker how is the progress? Wonder if it is possible to get this done today?

[2018-01-19 11:14] hpdang commented on #183
@achiv when you work on this task, could you please make Job title and Company on two different lines. It would look better?

[2018-01-19 11:51] hpdang commented on #178
@gautamjajoo sure, but check with @naveentherocker first. I also want to have the title and company on two different lines instead of one. On eventyay, you will see they are on the same line but we don't want that, we want for instance:

Poonam Mishra
Developer
Systers Projects

Keya Desai
Senior Software Consultant
Thoughtworks

[2018-01-19 13:05] hpdang commented on #177
@simsausaurabh  I also want to have the title and company on two different lines instead of one. On eventyay, you will see they are on the same line but we don't want that, we want for instance:

Alisha Aneja
Developer
Fedora

[2018-01-19 13:13] hpdang commented on #176
@achiv  I also want to have the title and company on two different lines instead of one. On eventyay, you will see they are on the same line but we don't want that, we want for instance:

Ben Sadeghi
Data & AI Specialist
Microsoft

[2018-01-19 13:19] hpdang commented on #175
I also want to have the job title and company on two different lines instead of one. On eventyay, you will see they are on the same line but we don't want that, we want for instance:

Sandeep Kapalawai
Developer
Mozilla

[2018-01-19 14:04] gautamjajoo commented on #183
@hpdang Can I work on this?

[2018-01-19 14:08] hpdang commented on #178
@gautamjajoo could you provide preview link here please?

[2018-01-19 14:11] achiv commented on #183
@hpdang
Created a pull request at <a href="https://github.com/fossasia/2018.fossasia.org/pull/187">Pull Request</a>

[2018-01-19 14:13] #183 closed

[2018-01-19 14:15] gautamjajoo commented on #178
@hpdang https://gautamjajoo.github.io/Fossasia2018/

[2018-01-19 14:26] achiv commented on #175
Cretaed a pull request at <a href="https://github.com/fossasia/2018.fossasia.org/pull/188">Pull request</a>

[2018-01-19 14:27] hpdang opened #189 "Update Maik's Job Tittle"
Maik Außendorf
His current job title is Co-founder and manager, please make it to >> Co-founder and Manager (note: capital letter 'M')

[2018-01-19 14:28] achiv commented on #189
I am claiming this issue.

[2018-01-19 14:31] #175 closed

[2018-01-19 14:46] hpdang opened #190 "Update Speakers' Company Name"
1. Teng-Ying Tai
His current company is MoGaMe Mobile Entertainment Co.,Ltd, please make it to >> MoGaMe Mobile Entertainment

2. Christopher Travers
His current company is Adjust, GmbH, please make it to >> Adjust GmbH

3. Chetan Khatri
His current company is Accion labs Inc. please make it to >>Accion Labs Inc.

[2018-01-19 14:47] nityanandagohain commented on #190
I want to take up this

[2018-01-19 15:08] #190 closed

[2018-01-19 15:10] hpdang opened #192 "Remove Speaker Wei Shan Ang"
Speaker Wei Shan Ang is not able to join, please remove him.

[2018-01-19 15:14] hpdang opened #193 "Adding William Tan's Job Title"
- Look at Speakers Section
- Find William Tan
- Add his job title >> Head of Technology Projects
- This is how it should look like

William Tan
Head of Technology Projects
ITE College West

[2018-01-19 15:19] achiv commented on #192
Claiming

[2018-01-19 15:19] achiv commented on #193
Claiming

[2018-01-19 15:19] hpdang opened #194 "Add Job Tittle of Gilles Gravier"
Add the job title for speaker Gilles Gravier
It should look like

Gilles Gravier
Director, Senior Advisor
Wipro

[2018-01-19 15:21] achiv commented on #194
Claiming

[2018-01-19 15:25] hpdang opened #195 "Add job title for Speaker Ilya Verbitskiy"
Add job title for Speaker Ilya Verbitskiy, it should look like

Ilya Verbitskiy
Founder
WebStoating

[2018-01-19 15:26] achiv commented on #195
Claiming

[2018-01-19 15:26] hpdang commented on #194
@achiv please do not claim all the issues, we want them to fix asap, lets others also help us. Thank you.

[2018-01-19 15:28] #194 closed

[2018-01-19 15:28] achiv commented on #194
@hpdang
Created a pull request at https://github.com/fossasia/2018.fossasia.org/pull/196

[2018-01-19 15:29] achiv commented on #194
@hpdang Ok, I will take care of that from now on
Sorry for claiming all issues.
Can you atleast merge this one.

[2018-01-19 15:31] hpdang opened #198 "Add job title for speaker André Rebentisch"
Please add job title for speaker André Rebentisch
It should look like:

André Rebentisch
Write, Organizer
Open Tech Summit Europe

[2018-01-19 15:37] hpdang opened #201 "Add Job Title for Khalil AlMaawali"
Please add Job Title for Khalil AlMaawali
It should be

Khalil AlMaawali
Project Executive
Oman FOSS Initiative

[2018-01-19 15:39] minibhati93 commented on #201
Can I work on this?

[2018-01-19 15:39] hpdang commented on #201
@minibhati93 please go ahead

[2018-01-19 15:41] hpdang commented on #201
@minibhati93 it is done already. I am adding more issues for you.

[2018-01-19 15:42] hpdang commented on #178
@gautamjajoo you were working on this before. Where is your PR?

[2018-01-19 15:43] hpdang opened #204 "Change Job Title of speaker Radek Ostrowski"
Radek Ostrowski
His current job title is Blockchain Engineer/Community Lead, please make it to >> Community Leader

[2018-01-19 15:45] #189 closed

[2018-01-19 15:45] gautamjajoo commented on #178
@hpdang I am sending the PR. The previous one I closed because of conflicts.

[2018-01-19 15:47] gautamjajoo commented on #204
@hpdang I think this was done in PR #205

[2018-01-19 15:47] hpdang commented on #204
You are right :)

[2018-01-19 15:52] hpdang opened #206 "Adding two new speakers Alisha Aneja and Daren Frankel"
Please get the details from https://eventyay.com/e/b548bcfc/#speakers but we want to have Job ttle and company are on two separate lines. Please see below:

Alisha Aneja
Developer
Fedora

Daren Frankel
Blockchain Expert
ConsenSys

[2018-01-19 15:54] hpdang opened #207 "Adding two new speakers Rabimba Karanjai & Simmi Mourya"
Please get the details from https://eventyay.com/e/b548bcfc/#speakers but we want to have Job ttle and company are on two separate lines. Please see below:

Rabimba Karanjai
Researcher
Mozilla

Simmi Mourya
Deep Learning Engineer
Predible Health

[2018-01-19 15:58] hpdang opened #208 "Add two new speakers Vasudha Mathur & Paul Amazona"
Please get the details from https://eventyay.com/e/b548bcfc/#speakers but we want to have Job ttle and company are on two separate lines. Please see below:

Vasudha Mathur
Developer
KDE

Paul Amazona
Developer
DataKind

[2018-01-19 16:00] minibhati93 commented on #206
I'm working on this

[2018-01-19 16:01] hpdang commented on #177
@simsausaurabh are you still working on this, I make it shorter for you

[2018-01-19 16:04] nityanandagohain commented on #207
I am taking this

[2018-01-19 16:04] nityanandagohain commented on #208
I am taking this

[2018-01-19 16:13] hpdang opened #211 "Add new speaker Stephanie Taylor"
Please get the details from https://eventyay.com/e/b548bcfc/#speakers but we want to have Job ttile and company are on two separate lines. Please see below:

Stephanie Taylor
Program Manager
Google

[2018-01-19 16:16] achiv commented on #176
Created a pull request at <a href="https://github.com/fossasia/2018.fossasia.org/pull/212">PR</a>

[2018-01-19 16:16] #178 closed

[2018-01-19 16:16] achiv commented on #211
Claiming

[2018-01-19 16:22] hpdang commented on #211
Please work on one and finish one first before claiming a new one https://github.com/fossasia/2018.fossasia.org/pull/212

[2018-01-19 16:42] #176 closed

[2018-01-19 16:52] achiv commented on #211
@hpdang
Created a <a href="https://github.com/fossasia/2018.fossasia.org/pull/216">PR</a>

[2018-01-19 17:11] #207 closed

[2018-01-19 17:37] #211 closed

[2018-01-19 17:44] achiv opened #217 "Correct the alternate text for Anton Babenko"
![issue](https://user-images.githubusercontent.com/16984674/35163870-21a00552-fd6e-11e7-94bc-3ea4faf3c9cc.png)

I am working on this.

[2018-01-19 17:45] hpdang opened #218 "Swap Speaker's Positions Stephanie Taylor >< Giannis Konstantinidis"
Please swap the position of the two speakers on the website
Stephanie Taylor >< Giannis Konstantinidis

Stephanie Taylor's Image should be where Giannis Konstantinidis is now or vice versa

[2018-01-19 17:48] hpdang opened #220 "Swap Speaker's Positions: Simmi Mourya >< German Saprykin"
Please swap the position of the two speakers on the website
Simmi Mourya >< German Saprykin

Simmi Mourya's Image should be where German Saprykin is now or vice versa

[2018-01-19 17:48] achiv commented on #217
@hpdang
Created a <a href="https://github.com/fossasia/2018.fossasia.org/pull/219">PR</a>

[2018-01-19 17:52] achiv commented on #218
Claiming

[2018-01-19 17:57] hpdang opened #221 "Add job tittle for Nan Xiao"
Should look like;

Nan Xiao
Research Engineer
Data Storage Institute

[2018-01-19 17:59] achiv commented on #218
@hpdang
Created a <a href = "https://github.com/fossasia/2018.fossasia.org/pull/222">PR</a>

[2018-01-19 18:02] hpdang commented on #217
cld you always reference the issue on your PR so it get closed after merged? Thanks https://github.com/blog/1506-closing-issues-via-pull-requests

[2018-01-19 18:02] #217 closed

[2018-01-19 18:03] gautamjajoo commented on #220
Is German Saprykin's and simmi's both at correct place?

[2018-01-19 18:05] #218 closed

[2018-01-19 18:07] hpdang opened #224 "Swap speakers'positions Preetam Rai >< Keya Desai"
Photo of Keya Desai should be where Preetam Rai is now and vice versa

[2018-01-19 18:08] #221 closed

[2018-01-19 18:09] simsausaurabh commented on #224
Claiming, I will be giving PR for both these issues claimed by today. @hpdang

[2018-01-19 18:12] hpdang commented on #192
@gautamjajoo cld you check, seem it hasn't been removded

[2018-01-19 18:16] hpdang opened #226 "Add speaker Qin Fengling to the speaker section"
Please get the details of Qin Fengling here https://eventyay.com/e/b548bcfc/#speakers
Job title and company should be on separate lines, see below:

Qin Fengling
Software Development Manager
Canaan

[2018-01-19 18:20] gautamjajoo commented on #192
@hpdang He has been removed from my side..

[2018-01-19 18:22] hpdang opened #227 "Swap speakers'positions Radek Ostrowski >< Jollen Chen"
Speaker Jollen Chen should be where Radek Ostrowski  now and vice versa

[2018-01-19 18:22] simsausaurabh commented on #174
@mariobehling  I have been working on this problem and according to the requirement I changed js/tweetsfetcher.js and index.html tag which is querying for data-query="fossasia" to take data-query="from:fossasia" and its working for other query e.g. "from:mariobehling" and "from:singhpratyush_". I also made it show tweets from both of these twitter accounts by "from:mariobehling OR from:singhpratyu

[2018-01-19 18:24] simsausaurabh commented on #174
But there is also a choice if we want to take tweets and retweets directly from twitter account of '@fossasia'
without using loklak API, but still I am looking for the solution of above. Please suggest any remark. @mariobehling

[2018-01-19 18:27] hpdang opened #228 "Swap Speakers' Postions: Oskari Saarenmaa >< Mete Atamel"
Oskari should be where Mete now and vice versa

[2018-01-19 18:27] simsausaurabh commented on #174
![screenshot from 2018-01-19 23-55-40](https://user-images.githubusercontent.com/16608864/35165497-80c622cc-fd74-11e7-93ba-cc04235bbb98.png)
![screenshot from 2018-01-19 23-56-05](https://user-images.githubusercontent.com/16608864/35165502-82071650-fd74-11e7-9936-2b3215bd4ba4.png)

[2018-01-19 18:28] #177 closed

[2018-01-19 18:30] hpdang commented on #201
@gautamjajoo please check this, seem havent fixed

[2018-01-19 18:31] simsausaurabh commented on #174
The link given below is the API call of loklak search used in the website. I have made it to extract the tweets from only sagarcasm(example). Please review this link:
https://api.loklak.org/api/search.json?callback=loklakFetcher.handleData&q=from:sagarcasm

[2018-01-19 18:34] gautamjajoo commented on #228
@hpdang In the swap taks do we have to change the positions of both the speakers? Because the images are ok.

[2018-01-19 18:38] hpdang opened #230 "Swap Speakers' Potions Chirag Ahuja >< Ben Sadeghi"
Ben Sadeghi should be where Chirag Ahuja now and vice versa

[2018-01-19 18:38] gautamjajoo commented on #201
@hpdang I have done this issue in the PR. So why isn't it showing up?

[2018-01-19 18:42] hpdang commented on #198
please check

[2018-01-19 18:45] #204 closed

[2018-01-19 18:46] hpdang commented on #201
check out https://github.com/fossasia/2018.fossasia.org/pull/196/files

[2018-01-19 18:49] gautamjajoo commented on #201
In PR #203 The rquired changes were made and it was merged also. Most probably some changes after that PR were made in others which were not up to date with the latest one.
@hpdang

[2018-01-20 00:44] #193 closed

[2018-01-20 04:07] nityanandagohain commented on #230
I am on it

[2018-01-20 04:10] nityanandagohain commented on #227
I am on it

[2018-01-20 04:57] hpdang opened #233 "Create a hover text (tooltip) which contains speaker's bio"
We want to show the speaker's bio when pointing over the speaker's image

Check out http://emtechasia.com for reference

![screenshot from 2018-01-20 12-45-52](https://user-images.githubusercontent.com/1658742/35179947-1bc2a47e-fde0-11e7-9f34-bb24f4dca281.png)

[2018-01-20 05:16] minibhati93 commented on #206
I'm stuck with merge conflicts on this issue. Since this is a priority task, if anybody else can provide a faster solution please go ahead.

[2018-01-20 07:21] nityanandagohain commented on #233
I want to work on this . But I may need some help

[2018-01-20 08:28] hpdang commented on #233
@mengjiann is working on this I think, he can help you

[2018-01-20 08:47] #227 closed

[2018-01-20 08:50] #226 closed

[2018-01-20 09:26] simsausaurabh commented on #208
I will do it. Please merge #184 it keeps getting conflicts everytime.

[2018-01-20 09:32] simsausaurabh commented on #208
I will do it.

[2018-01-20 12:17] gautamjajoo commented on #230
@hpdang I think this issue has been done!!

[2018-01-20 13:45] mariobehling commented on #174
Seems like the way to go. Could you make a PR and provide a preview link for the 2018 website, please?

[2018-01-20 13:52] simsausaurabh commented on #174
Yeah sure, for only 'from:fossasia' right ?
shall I also add yours tweeter-account tweets along with the fossasia ?

[2018-01-20 15:00] edenyay opened #237 "Replace current speakers' photos with better quality ones"
Hi, some current photos didn't meet our standard of professionalism. Please help me replace them with the new photos as in the attachments. Thank you.

1. Jollen Chen.
![jollen](https://user-images.githubusercontent.com/32028823/35184795-253a8300-fe35-11e7-90cb-22ce1630db18.jpg)

3. Thia Kai Xin
![kaixin_strata](https://user-images.githubusercontent.com/32028823/35184665-b3d44a62-fe33-11e7-9124-e4

[2018-01-20 16:45] #224 closed

[2018-01-20 16:53] mengjiann commented on #233
Cloned from emtechasia. Looks good? Btw, where can i get the speakers bio?

![speaker-bio-tooltip-issue](https://user-images.githubusercontent.com/6027684/35185845-555feed4-fe45-11e7-8b20-014584dc7610.gif)

[2018-01-20 17:01] hpdang commented on #233
@mengjiann nice, but can we have the background in red with white text color maybe, it is our theme color. I will share the bios with you tomorrow.

[2018-01-20 17:04] #220 closed

[2018-01-20 17:04] #230 closed

[2018-01-20 17:05] #201 closed

[2018-01-20 17:05] #198 closed

[2018-01-20 17:06] #195 closed

[2018-01-20 17:08] hpdang opened #238 "Add speaker Alisha Aneja"
Please get the details from https://eventyay.com/e/b548bcfc/#speakers but we want to have Job ttle and company are on two separate lines. Please see below:

Alisha Aneja
Developer
Fedora

[2018-01-20 17:11] hpdang opened #239 "Add speaker Daren Frankel"
Please get the details from https://eventyay.com/e/b548bcfc/#speakers but we want to have Job ttle and company are on two separate lines. Please see below:

Daren Frankel
Blockchain Expert
ConsenSys

[2018-01-20 17:32] simsausaurabh commented on #208
@hpdang Please suggest the specific places these two speakers should be added or shall I add them to the last?

[2018-01-20 17:44] #228 closed

[2018-01-20 17:46] simsausaurabh commented on #208
I am doing it.

[2018-01-20 18:01] simsausaurabh commented on #237
I'm on it

[2018-01-20 18:29] #208 closed

[2018-01-20 20:41] simsausaurabh commented on #192
No it's not removed @gautamjajoo
![screenshot from 2018-01-21 02-10-52](https://user-images.githubusercontent.com/16608864/35187823-68691bc6-fe50-11e7-8ee1-71c10f2a0f0c.png)

[2018-01-21 01:09] #206 closed

[2018-01-21 01:09] #239 closed

[2018-01-21 01:10] #238 closed

[2018-01-21 01:34] nityanandagohain commented on #233
I can help while adding bios @hpdang  @mengjiann

[2018-01-21 06:52] nityanandagohain opened #245 "'+' and '-' button of the map doesn't work"
bug :
currently the '+' and '-' button on the map doesn't work.

suggested improvement:
The map should zoom in and out when the '+' or '-' button is clicked.

I want to work on this issue.

[2018-01-21 08:00] hpdang commented on #237
the 1st image of Jollen Chen, please clean the background, make it white so we don't stain on the wall.

[2018-01-21 08:36] simsausaurabh commented on #237
![jollen_chen](https://user-images.githubusercontent.com/16608864/35192268-391462ae-feb4-11e7-91d3-ec505eb43afc.jpg)
Is this fine? I have cropped it.

[2018-01-21 09:28] #192 closed

[2018-01-21 12:09] CaptainDaVinci commented on #245
It's working on firefox, is there a particular page where it is not working?

[2018-01-21 14:33] hpdang commented on #237
@simsausaurabh look great. How far are you to complete this issue?

[2018-01-21 14:48] nityanandagohain commented on #245
I am using firefox 57.0.4 the latest but it's not working and in google chrome also it is not working @CaptainDaVinci

[2018-01-21 15:05] mengjiann commented on #233
Hi, @nityanandagohain, the code for the tooltip is pushed to my branch. you may pull from my branch and update them :)

[2018-01-21 15:38] duttaditya18 commented on #245
@nityanandagohain There is a overlay on the map. (`.map-holder::before`)

Make it so that, once the map is clicked, it removes the overlay and allows us to press the buttons.

This was suggested by @mariobehling somewhere. Don't really remember it!

Good Luck!

[2018-01-21 15:51] nityanandagohain commented on #233
sure @mengjiann

[2018-01-21 15:51] nityanandagohain commented on #245
thank you @duttaditya18

[2018-01-21 16:14] simsausaurabh commented on #237
Almost done I'm sending PR.

[2018-01-21 17:13] #237 closed

[2018-01-21 17:20] mariobehling opened #247 "Improve speaker images with better quality"
* [ ] Prasad Pandit - too low quality
* [ ] M Padmal - too low quality and other people in background
* [ ] Nan Xiao - sweaty tshirt
* [ ] Khalil AlMaawali - too low quality
* [ ] William Tan - too low quality
* [ ] Stepan Goncharov - other people in background
* [ ] Keya Desai - too low quality
* [ ] Chen, Yi - Xi - too low quality
* [ ] Teng-Ying Tai - too low quality
* [ ] Jayaditya Gupta - uns

[2018-01-21 17:41] gautamjajoo commented on #247
@mariobehling The one with low quality have to be replace by new ones or their quality has to be improved?

[2018-01-22 05:21] nityanandagohain commented on #245
@duttaditya18 I am facing some problem while deactivating(`.map-holder::before`) the whole map Is being removed. But when I manually removed the css then there in no on-click functionality  but the map is zooming in and out.

[2018-01-22 05:26] nityanandagohain commented on #233
@mengjiann I have pulled form your branch. Where do I get the bio to update them ?.

[2018-01-22 07:13] duttaditya18 commented on #245
@nityanandagohain Just do this :

When the map `div` is clicked on once, it sets the `.map-holder::before`'s content to none. This solves the problem.

If you still can't figure it out, I'll do it.

[2018-01-22 07:15] nityanandagohain commented on #245
Yes I have set the content to none but then the whole map disappears

[2018-01-22 07:20] duttaditya18 commented on #245
@nityanandagohain Don't worry, I'll work on this issue!

[2018-01-22 07:23] nityanandagohain commented on #245
Please I want to work on this issue I am trying

[2018-01-22 07:42] #79 closed

[2018-01-22 08:14] edenyay commented on #247
Some better quality photos for you guys to use:

 Prasad Pandit (original photo)
![screen shot 2018-01-18 at 23 25 37](https://user-images.githubusercontent.com/32028823/35206733-b83ecac2-ff79-11e7-9b47-f95679413148.png)

 Keya Desai (another one)
![2488290-large](https://user-images.githubusercontent.com/32028823/35207585-bfd9f1d0-ff7e-11e7-8740-b33ce49dad2b.jpeg)

 Jayaditya Gupta (another one)

[2018-01-22 13:52] edenyay opened #251 "Replace photo of speaker Nan Xiao"
Attach is the new photo. Thank you for helping out!
![xiao_nan](https://user-images.githubusercontent.com/32028823/35224010-77eb0e0a-ffbe-11e7-9ab8-abd97863ec3c.jpg)

[2018-01-22 14:16] simsausaurabh commented on #251
Who is this speaker ?

[2018-01-22 14:17] edenyay commented on #251
@simsausaurabh He is Nan Xiao, name is in the issue's title :) cheers

[2018-01-22 14:50] mariobehling opened #252 "Take out underline and movement of menu points in sidebar"
The sidebar has an annoying moving effect and underline. Please take it out.

![screenshot from 2018-01-22 15-49-04](https://user-images.githubusercontent.com/1583873/35226569-0446ce44-ff8c-11e7-833f-c173e30c34a9.png)

[2018-01-22 15:46] edenyay opened #253 "Take off speaker Mete Atamel (urgently)"
Hello please help me take off speaker Mete Atamel, he won't be able to make it to our summit. Thank you!

[2018-01-22 16:03] edenyay opened #254 "Add 8 missing speakers"
Subhankar Shah >> Developer - FOSSASIA
Martin Andrews >> Machine Learning Developer Expert - Google
Sherman Chen >> Founder, CTO - CXWORKS LLP
Dipesh Chander Monga >> Tech Speaker - Mozilla
Divya Tadi >>Electrical and Electronics Engineer - BVRIT Hyderabad College
Balasankar C >> Build Engineer - GitLab
Nabarun Pal >> Computer Engineer - Indian Institute of Technology Roorkee
Sumedh Nimkarde >> De

[2018-01-22 16:05] edenyay commented on #254
sorry, **Balasankar C** has just added himself, no need to add him in.

[2018-01-22 16:20] edenyay opened #255 "Replace photo of speaker Chetan Khatri"
New photo as below
![img_20180101_205133](https://user-images.githubusercontent.com/32028823/35231042-b68676b8-ffd2-11e7-9dee-5a88daa5385d.jpg)

[2018-01-22 16:43] nityanandagohain commented on #254
I am  on it.

[2018-01-23 01:31] hpdang commented on #254
@nityanandagohain please make the following changes:

* Martin Andrews, his company is not Google, please put Reddragon.ai

* Change Sumedh Nimkarde's photo: please use this

![sumedhnimkarde](https://user-images.githubusercontent.com/1658742/35253398-2d83a8f6-0020-11e8-8506-54bceeaeb837.jpg)

[2018-01-23 01:39] hpdang opened #258 "Add Ria Bhatia and James Kulina"
Please take the profile details of Ria Bhatia and James Kulina from https://eventyay.com/e/b548bcfc/#speakers

But use the following photos

Ria Bhatia
![riabhatia](https://user-images.githubusercontent.com/1658742/35253592-372de2e4-0021-11e8-9d1d-ee254c1a4577.jpg)

James Kulina
![jameskulina](https://user-images.githubusercontent.com/1658742/35253599-3f9fe440-0021-11e8-8cf1-3040b1785459.jpg)

[2018-01-23 01:52] hpdang opened #259 "Add Jason Zaman into the speakers section"
![jasonzaman](https://user-images.githubusercontent.com/1658742/35253962-1dfa1e76-0023-11e8-911f-60ba8f4dccfb.jpg)

Take his details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-23 02:03] hpdang opened #260 "Add Anwesha Das on Speakers Section"
![anweshadas](https://user-images.githubusercontent.com/1658742/35254306-9c06f11c-0024-11e8-9902-67a1b8d3d0b3.jpg)

Please get her details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-23 02:34] hpdang opened #261 "Add Praveenkumar Hulakund on speakers section"
![praveenkumarhulakund](https://user-images.githubusercontent.com/1658742/35255211-e8a26da4-0028-11e8-9956-a23a123ace20.jpg)

Please get his details on https://eventyay.com/e/b548bcfc/#speakers

[2018-01-23 03:17] hpdang opened #262 "Add Brou Yannick-Noel Aka"
![12885995_992458594161675_6630468110181111257_o](https://user-images.githubusercontent.com/1658742/35256446-ed91a608-002e-11e8-9366-097e57cde1f5.jpg)

please get his details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-23 03:19] nityanandagohain commented on #254
done @hpdang

[2018-01-23 05:40] hpdang opened #263 "Add speaker Floyd Costa"
![floyddcosta](https://user-images.githubusercontent.com/1658742/35259817-de6f03dc-0042-11e8-9871-1a74ae4c1840.jpg)

Please get his details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-23 05:46] hpdang opened #264 "Replace photo of Prasad Pandit"
![pjp-fossasia](https://user-images.githubusercontent.com/1658742/35259979-cde78920-0043-11e8-8154-b4caf9d01f40.jpg)

[2018-01-23 05:49] hpdang opened #265 "Add speaker Tiejun Chen"
![tiejunchen](https://user-images.githubusercontent.com/1658742/35260044-1f74fa02-0044-11e8-8cb0-8aff1e865a06.jpg)

Please use the above photo and get his details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-23 06:22] hpdang opened #266 "Add speaker Huzaifa Sidhpurwala"
![huzaifasidhpurwala](https://user-images.githubusercontent.com/1658742/35260923-d19ef742-0048-11e8-992d-2a517b950ea6.jpg)

please get his details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-23 09:15] #251 closed

[2018-01-23 09:21] simsausaurabh commented on #258
Claiming

[2018-01-23 09:21] simsausaurabh commented on #259
Claiming

[2018-01-23 13:24] #258 closed

[2018-01-23 14:13] simsausaurabh commented on #260
Claiming

[2018-01-23 14:13] simsausaurabh commented on #261
Claiming

[2018-01-23 14:14] simsausaurabh commented on #262
Claiming

[2018-01-23 14:14] simsausaurabh commented on #263
Claiming

[2018-01-23 14:14] simsausaurabh commented on #266
Claiming

[2018-01-23 19:49] #259 closed

[2018-01-24 02:27] #260 closed

[2018-01-24 02:28] #266 closed

[2018-01-24 02:29] #262 closed

[2018-01-24 02:29] #263 closed

[2018-01-24 02:29] #261 closed

[2018-01-24 06:23] akshatnitd opened #274 "Correct the indentation and make it uniform"
Correct the indentation on the index page

**Working on it**

[2018-01-24 07:56] akshatnitd commented on #123
@hpdang This can be closed, as it is already merged

[2018-01-24 07:57] akshatnitd commented on #84
@hpdang This can be closed, as it is already merged

[2018-01-24 14:33] sarthakprajapati commented on #265
https://github.com/fossasia/2018.fossasia.org/pull/278

[2018-01-24 19:21] hpdang opened #280 "Add speaker Pooja Purswani"
![raj_7478-001](https://user-images.githubusercontent.com/1658742/35352393-bfd56488-017e-11e8-9c05-3e3b07268a75.JPG)

Please get her details here https://eventyay.com/e/b548bcfc/#speakers

[2018-01-25 10:28] nityanandagohain commented on #280
claiming

[2018-01-25 10:29] nityanandagohain commented on #264
claiming

[2018-01-25 14:59] hpdang commented on #280
@nityanandagohain are you done with this?

[2018-01-25 15:44] ShubhangiMisra commented on #174
Hey @mariobehling is the issue reloved? @simsausaurabh  are you still working on it. If anyone does not mind, can I this up?
Thanks!

[2018-01-25 16:50] nityanandagohain commented on #280
done @hpdang

[2018-01-25 23:54] #54 closed

[2018-01-25 23:54] #245 closed

[2018-01-25 23:56] #253 closed

[2018-01-25 23:56] #254 closed

[2018-01-25 23:56] #255 closed

[2018-01-26 06:24] edenyay opened #284 "Add speaker Loi Luu"
Please help me add speaker Loi Luu into the official site. His title should be:

Loi Luu
CEO & Cofounder
KyberNetwork

![loi](https://user-images.githubusercontent.com/32028823/35427480-902ce4a0-02a4-11e8-9473-ba5cc57989c0.jpg)

[2018-01-26 06:57] simsausaurabh commented on #284
Claiming

[2018-01-26 07:20] edenyay opened #285 "Add speaker Nitish Chauhan"
Please help me add speaker Nitish Chauhan into official site. His info is already on eventyay. Thank you!

[2018-01-26 07:31] hpdang commented on #284
@simsausaurabh Use this short's bio: Loi Luu is a co-founder and CEO of Kyber Network, a decentralized exchange for cryptocurrencies focuses on both security and usability. He developed Oyente, the first open-source security analyser for Ethereum smart contracts. Loi also cofounded SmartPool, another open source project which embraces decentralization of mining pools in existing cryptocurrency.

[2018-01-26 07:31] edenyay commented on #284
@simsausaurabh yes, please put Loi Luu into the space of Felipe Hoffa, and move Felipe Hoffa
 down to normal speaker section. Thanks!

[2018-01-26 07:34] #264 closed

[2018-01-26 07:34] #280 closed

[2018-01-26 07:39] edenyay opened #286 "Add speaker Christopher Skene"
Christopher Skene
APAC Developer Engagement Manager
Platform.sh

Photo:
![maxresdefault](https://user-images.githubusercontent.com/32028823/35429430-ee618de6-02ae-11e8-9ed6-70760024bbbc.jpg)

[2018-01-26 07:48] nityanandagohain commented on #286
claiming

[2018-01-26 07:48] nityanandagohain commented on #285
claiming

[2018-01-26 07:56] edenyay opened #287 "Add speaker Italo Vignoli"
Italo Vignoli
Director
The Open Source Initiative (OSI)

Photo
![italovignoli-460x460](https://user-images.githubusercontent.com/32028823/35430015-70b81790-02b1-11e8-8c31-38025fc26dfc.png)

[2018-01-26 08:04] edenyay opened #288 "Add speaker Salman Rahman Desh"
Salman Rahman Desh
Tech Speaker
Mozilla

Photo
![salman](https://user-images.githubusercontent.com/32028823/35430287-93c44794-02b2-11e8-8126-298e41d7a071.jpg)

[2018-01-26 08:05] 142ayushkumar commented on #288
can i solve this issue?

[2018-01-26 08:05] 142ayushkumar commented on #287
claiming

[2018-01-26 08:07] edenyay commented on #288
@142ayushkumar yes, you can claim it

[2018-01-26 08:11] hpdang opened #289 "Add speaker Sundeep Anand"
![sundeepanand](https://user-images.githubusercontent.com/1658742/35430518-89da4ef8-02b3-11e8-9b20-d79e875c8260.jpg)

get his details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 08:14] edenyay opened #290 "Add speaker Hemant Dangi"
Please use his info from eventyay https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 08:20] edenyay opened #292 "Add speaker Yeo Wee Kiang"
Please use his info from eventyay https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 08:22] edenyay opened #293 "Add speaker Srijan Agarwal"
Please use his info from eventyay https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 08:22] hpdang opened #294 "Add speaker Akshat Shah (wait for him to send in new photo)"
https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 08:26] edenyay opened #295 "Add speaker Divyam Madaan"
Please use his info from eventyay https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 08:27] edenyay commented on #290
May need to wait for his new photo. Current photo has very low quality

[2018-01-26 08:41] hpdang opened #296 "Add speaker Rakesh Tadishetty"
![rakeshtadishetty](https://user-images.githubusercontent.com/1658742/35431497-a904bab2-02b7-11e8-919b-0fbd886af869.jpg)

Take his details from https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 08:51] girijamanojkumarreddy commented on #296
I would like to fix this

[2018-01-26 08:52] girijamanojkumarreddy commented on #295
I would like to fix this

[2018-01-26 09:08] edenyay commented on #295
please claim it @girijamanojkumarreddy

[2018-01-26 09:30] simsausaurabh commented on #293
Claiming

[2018-01-26 09:30] simsausaurabh commented on #292
Claiming

[2018-01-26 09:31] simsausaurabh commented on #289
Claiming

[2018-01-26 09:44] simsausaurabh commented on #284
@hpdang @edenyay what are the working positions of these speakers - Srijan Agarwal, Yeo Wee Kiang,  Sundeep Anand, and Felipe Hoffa ? Only the place is defined where they work.

[2018-01-26 09:53] #274 closed

[2018-01-26 10:04] edenyay opened #299 "Add missing title for speaker Pooja Purswani"
It should be like this

Pooja Purswani
Tech Speaker
Mozilla

Thank you!

[2018-01-26 10:05] edenyay opened #300 "Remove speaker Nila Ethel E"
Hello please help me remove Nila Ethel E, as she won't be able to attend the event. Thanks!

[2018-01-26 10:24] edenyay opened #301 "Remove speaker Poonam Mishra"
Please help me remove her as she won't be able to attend our event.

[2018-01-26 10:36] edenyay commented on #284
Hi @simsausaurabh all the information can be found in here https://eventyay.com/e/b548bcfc/#speakers

Please make into three lines (as sample of Loi Luu):

Their fullname
Thei position
Their company

[2018-01-26 10:37] simsausaurabh commented on #299
Claiming

[2018-01-26 10:37] simsausaurabh commented on #300
Claiming

[2018-01-26 10:37] simsausaurabh commented on #301
Claiming

[2018-01-26 10:58] ritikamotwani commented on #294
I would like to work on this.

[2018-01-26 11:07] edenyay commented on #299
Hi @simsausaurabh, thank you for help but please make sure you complete the issues one by one. Time is critical, don't claim to many tasks at the same time. It may slow down the whole process.

[2018-01-26 11:08] #285 closed

[2018-01-26 11:08] #286 closed

[2018-01-26 11:20] edenyay opened #303 "Add speaker Calvin Cheng"
Please use his info from eventyay https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 11:33] ritikamotwani commented on #303
I would like to work on this.

[2018-01-26 11:58] simsausaurabh commented on #299
I apologize for the trouble, I will keep up with this from next time.
Thanks @edenyay

[2018-01-26 12:05] shubham-padia opened #305 "add speaker Shubham Padia"

[2018-01-26 12:08] sangamcse opened #306 "Fix the Drop-down background color"
![screen shot 2018-01-26 at 5 25 57 pm](https://user-images.githubusercontent.com/26381717/35439171-9362ddd0-02bf-11e8-9963-b4d52c535823.jpg)

[2018-01-26 12:34] rishabh19038 commented on #306
Tried to fix it using style. Generated PR #308 . Please review and revert.

<img width="1280" alt="screen shot 2018-01-26 at 6 00 35 pm" src="https://user-images.githubusercontent.com/14523887/35439949-32ca8f32-02c3-11e8-9a05-f9457b51bff2.png">

[2018-01-26 12:54] 142ayushkumar commented on #287
someone made a PR

[2018-01-26 13:36] edenyay opened #311 "Add speaker Mayank Prasad"
Please use his info from eventyay https://eventyay.com/e/b548bcfc/#speakers Thanks!

[2018-01-26 13:36] edenyay commented on #299
Thank you @simsausaurabh keep up the good work! Cheers!

[2018-01-26 13:39] ritikamotwani commented on #311
I would like to work on it.

[2018-01-26 13:59] edenyay opened #312 "Add speaker Ko Ko Ye`"
His info is already on the site https://eventyay.com/e/b548bcfc/#speakers

His photo:
![13322071_10210188897185760_8570367900554269539_n](https://user-images.githubusercontent.com/32028823/35442931-148f8a06-02e4-11e8-9408-d982e429b2e6.jpg)

[2018-01-26 14:06] #305 closed

[2018-01-26 16:12] #303 closed

[2018-01-26 16:29] edenyay opened #313 "Add speaker Nisha Gopalakrishnan (waiting for new photo)"
her info is already on the site https://eventyay.com/e/b548bcfc/#speakers

[2018-01-26 17:01] #301 closed

[2018-01-26 17:03] #300 closed

[2018-01-26 17:04] #284 closed

[2018-01-26 17:04] #289 closed

[2018-01-26 17:04] #292 closed

[2018-01-26 17:04] #293 closed

[2018-01-26 17:05] #299 closed

[2018-01-26 17:45] nityanandagohain commented on #313
claiming

[2018-01-26 17:59] nityanandagohain commented on #313
@edenyay Her picture quality is very bad can you provide a new one

[2018-01-26 18:04] edenyay commented on #313
@nityanandagohain i dont think I have another one, let wait for updates from her then...

[2018-01-26 18:11] edenyay opened #314 "Add speaker Dumi Loghin"
His info is already on the site https://eventyay.com/e/b548bcfc/#speakers
His photo
![dsc06009](https://user-images.githubusercontent.com/32028823/35453902-bc006a9a-0306-11e8-9e7f-11459a4778ca.jpg)

[2018-01-26 18:13] nityanandagohain commented on #313
sure!

[2018-01-26 18:17] nityanandagohain commented on #314
claiming

[2018-01-26 18:21] nityanandagohain opened #315 "bug (important): speaker Khusal Das Name is removed and replaced"
![screenshot from 2018-01-26 23-45-09](https://user-images.githubusercontent.com/26831659/35454307-7f577b32-02f3-11e8-9366-358b0d8c768f.png)

Khusal das name is replaced with Stella Widyasari.

I am working on this.

[2018-01-27 02:53] Chen-Yiyang opened #320 "Add speaker Venkatesh Duggirala, Aniketh Girish, and Manas Ranjan Kar"
Venkatesh Duggirala
His info is on https://eventyay.com/e/b548bcfc/#speakers
The photo's quality is bad.

Aniketh Girish
His info is on https://eventyay.com/e/b548bcfc/#speakers
![image](https://user-images.githubusercontent.com/16754723/35467922-ec55a478-034f-11e8-8325-cd3556d66088.png)

Manas Ranjan Kar
His info is on https://eventyay.com/e/b548bcfc/#speakers
The photo's quality is bad.

[2018-01-27 02:55] subiloble opened #321 "Add speaker Trishul Goel, Chathu Vishwajith, Joyce Ng"
![d0aabe12-02af-4358-8dca-2fa9f2aa575d](https://user-images.githubusercontent.com/25003496/35467915-de66a25e-034f-11e8-9c55-94dc7250794b.jpg)
Trishul Goel

![image](https://user-images.githubusercontent.com/25003496/35467927-0dc79af8-0350-11e8-9120-e100634b1fb3.png)
Chathu Vishwajith

![image](https://user-images.githubusercontent.com/25003496/35467943-7dbbc8f2-0350-11e8-8a1b-81f06aab7fd7.png)
Joy

[2018-01-27 02:58] Chen-Yiyang opened #322 "Add speakers Raju Koushik Gorantla, Nikhil Rayaprolu, and Harshit Prasad"
Raju Koushik Gorantla
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the photo:
![image](https://user-images.githubusercontent.com/16754723/35467956-bba6921e-0350-11e8-9b7e-a38b6d8831ef.png)

Nikhil Rayaprolu
His info is on https://eventyay.com/e/b548bcfc/#speakers
The photo's quality is bad.

Harshit Prasad
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the pho

[2018-01-27 03:01] Chen-Yiyang opened #323 "Add speakers Kamesh Sampath, Suraj Narwade, and Aayush Arora"
Kamesh Sampath
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the photo:
![image](https://user-images.githubusercontent.com/16754723/35467988-37cad9a4-0351-11e8-966d-d3cbc376ef2f.png)

Suraj Narwade
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the photo:
![image](https://user-images.githubusercontent.com/16754723/35467997-55e17ccc-0351-11e8-9a70-a378f3ae9329.p

[2018-01-27 03:03] edenyay commented on #321
Please wait for new photos from Joyce Ng and Chathu Vishwajith

[2018-01-27 03:04] Chen-Yiyang opened #324 "Add speakers Pronnoy Goswami, Himanshu Singh, and Harshit Dwivedi"
Pronnoy Goswami
His info is on https://eventyay.com/e/b548bcfc/#speakers
The photo's quality is bad.

Himanshu Singh
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the photo:
![image](https://user-images.githubusercontent.com/16754723/35468021-c454b75a-0351-11e8-88bb-f0c3ba022528.png)

Harshit Dwivedi
His info is on https://eventyay.com/e/b548bcfc/#speakers
The photo's quality is

[2018-01-27 03:06] Chen-Yiyang commented on #324
Wait, probably the photo for Himanshu Singh is not good enough, please check! Thanks.

[2018-01-27 03:06] subiloble opened #325 "Add speaker Benjamin Scherrey, Philip Paeps, Jackson Isaac"
![image](https://user-images.githubusercontent.com/25003496/35467971-0e169f30-0351-11e8-93ff-e319cd0ea205.png)
Benjamin Scherrey

![image](https://user-images.githubusercontent.com/25003496/35468007-7482279e-0351-11e8-94b3-aa376636cb91.png)
Philip Paeps

![image](https://user-images.githubusercontent.com/25003496/35468014-8fb73fae-0351-11e8-90a8-99637754b66e.png)
Jackson Isaac(photo not of good qu

[2018-01-27 03:09] edenyay commented on #324
Please use theses photos
Pronnoy
![-nycwwnu_400x400](https://user-images.githubusercontent.com/32028823/35468064-7bc5ccbc-0352-11e8-8350-69305da5ab0f.jpg)

Himanshu Singh
![himanshu passport photo_updated](https://user-images.githubusercontent.com/32028823/35468065-85db1d60-0352-11e8-83a3-216d51eb6eb5.jpg)

[2018-01-27 03:10] Chen-Yiyang opened #326 "Add speakers Yury Bushmelev, Team Ethical Hacking and Raymond Chan"
Yury Bushmelev
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the photo:
![image](https://user-images.githubusercontent.com/16754723/35468041-2e333430-0352-11e8-8610-2bbf6221ec87.png)

Team Ethical Hacking
The info is on https://eventyay.com/e/b548bcfc/#speakers
Thre is no photo.

Raymond Chan
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the photo:
![image](ht

[2018-01-27 03:12] subiloble opened #327 "Add speakers Melvin Zhang, Ricky Setyawan, Dias Lonappan"
![image](https://user-images.githubusercontent.com/25003496/35468117-c8c940d4-0352-11e8-981b-cf552fd93f6e.png)
Ricky Setyawan

Please use the above photo(or photo of higher quality) and get the speakers' information/photos at https://eventyay.com/e/b548bcfc/#info.

[2018-01-27 03:16] Chen-Yiyang opened #328 "Add speakers Amit Bhattacharya, Vigneshwer Dhinakaran, and Emin Aksehirli"
Amit Bhattacharya
His info is on https://eventyay.com/e/b548bcfc/#speakers
This is the photo:
![image](https://user-images.githubusercontent.com/16754723/35468143-33bb77f4-0353-11e8-964e-b693a24948e1.png)

Vigneshwer Dhinakaran
His info is on https://eventyay.com/e/b548bcfc/#speakers
There is one photo:
![image](https://user-images.githubusercontent.com/16754723/35468145-4cf31a24-0353-11e8-95ba-db

[2018-01-27 03:17] edenyay commented on #325
Use these photos

Benjamin Scherrey
![ben](https://user-images.githubusercontent.com/32028823/35468151-57efdfb6-0353-11e8-9518-6f49b51c857b.jpg)

Philip Paeps
![ben](https://user-images.githubusercontent.com/32028823/35468156-7ac4e4fa-0353-11e8-9286-31fd39565436.jpg)

[2018-01-27 03:18] edenyay commented on #327
@subiloble you have other speakers' photos?

[2018-01-27 03:19] edenyay commented on #326
Please wait for Team Ethical Hacking

[2018-01-27 03:21] Chen-Yiyang opened #329 "Add speakers Chetankumar Khatri, Masayuki Igawa, and Sagar Hani"
Info on https://eventyay.com/e/b548bcfc/#speakers

Chetankumar Khatri
There is the photo:
![image](https://user-images.githubusercontent.com/16754723/35468168-cfd77cbe-0353-11e8-892a-777b5e142d93.png)

Masayuki Igawa
There is the photo:
![image](https://user-images.githubusercontent.com/16754723/35468176-f3e6b372-0353-11e8-998e-0924f93d6a86.png)

Sagar Hani
His photo on the webpage is in a circula

[2018-01-27 03:22] edenyay commented on #328
Emin's photo

![photo](https://user-images.githubusercontent.com/32028823/35468191-4dc7e988-0354-11e8-813a-5801fd977ddf.jpg)

[2018-01-27 03:26] edenyay commented on #329
Sagar Hani
![sagar](https://user-images.githubusercontent.com/32028823/35468230-e3931e9c-0354-11e8-8877-aac41f156088.jpg)

[2018-01-27 03:27] subiloble opened #330 "Add speakers Daniel Pocock, Adarsh S, Saptak Sengupta"
![image](https://user-images.githubusercontent.com/25003496/35468193-55374506-0354-11e8-9354-b791b6d37f25.png)
Daniel Pocock

![image](https://user-images.githubusercontent.com/25003496/35468224-d43065b8-0354-11e8-8c82-0a1bcbcbb6a4.png)
Adarsh S

![image](https://user-images.githubusercontent.com/25003496/35468232-e893781a-0354-11e8-956d-cfedc07fc821.png)
Saptak Sengupta

Please use the above phot

[2018-01-27 03:28] Chen-Yiyang commented on #329
A better photo for speaker Masayuki Igawa
![image](https://user-images.githubusercontent.com/16754723/35468237-0654b0d0-0355-11e8-8822-0a56eb62fd48.png)

Or this one:
![image](https://user-images.githubusercontent.com/16754723/35468241-1d7ea496-0355-11e8-8080-6b8d799436d2.png)

[2018-01-27 03:35] edenyay commented on #327
Melvin's photo

![14595587_10209279182728462_97723179296011764_n](https://user-images.githubusercontent.com/32028823/35468299-3592d8f8-0356-11e8-8500-4f29a9d2ae7f.jpg)

[2018-01-27 03:39] subiloble opened #331 "Add speakers Jens Petersen, Dilpreet Singh, Kushal Das"
![image](https://user-images.githubusercontent.com/25003496/35468292-f5e775e2-0355-11e8-8266-d26a77f2622d.png)
 Jens Petersen

Dilpreet Singh(lack quality photo)

![image](https://user-images.githubusercontent.com/25003496/35468320-83cd35ea-0356-11e8-85e3-2c16f06b8d15.png)
Kushal Das

Please use above photos and get the information of speakers at https://eventyay.com/e/b548bcfc/#info.

[2018-01-27 03:39] edenyay commented on #326
Raymond's photo
![8417682](https://user-images.githubusercontent.com/32028823/35468335-ada11896-0356-11e8-91ae-4cdfd82b37da.jpeg)

[2018-01-27 03:40] Chen-Yiyang commented on #320
A photo for speaker Manas Ranjan Kar
![image](https://user-images.githubusercontent.com/16754723/35468341-c733925c-0356-11e8-807e-ecb16d1e1e93.png)

[2018-01-27 03:41] edenyay commented on #330
Use this photo for Daniel Pocock
![daniel](https://user-images.githubusercontent.com/32028823/35468362-09cca96e-0357-11e8-9ae4-5f3ce4cd8f52.jpg)

[2018-01-27 03:50] Chen-Yiyang opened #332 "Add speakers Janki Chhatbar, Le Kien Truc, and Brian Proffitt"
Info on https://eventyay.com/e/b548bcfc/#speakers

Janki Chhatbar
![image](https://user-images.githubusercontent.com/16754723/35468426-3232482c-0358-11e8-8161-c12d5e6e76e5.png)

Le Kien Truc
![image](https://user-images.githubusercontent.com/16754723/35468419-233096da-0358-11e8-9373-381cdf4e6b1d.png)

Brian Proffitt
![image](https://user-images.githubusercontent.com/16754723/35468414-15200bb6-0358

[2018-01-27 03:52] subiloble opened #333 "Add speakers Alex Shinn, Himanshu Dixit, Chandan Kumar"
![image](https://user-images.githubusercontent.com/25003496/35468411-0913472a-0358-11e8-90fc-f19d898c64bf.png)
Alex Shinn

![image](https://user-images.githubusercontent.com/25003496/35468416-1a43bef8-0358-11e8-814b-d5a73500be1e.png)
Himanshu Dixit

![image](https://user-images.githubusercontent.com/25003496/35468429-4ab93838-0358-11e8-8280-7ec40562d3cf.png)
Chandan Kumar

Please use the above pho

[2018-01-27 03:54] Chen-Yiyang opened #334 "Add speakers Joe Conway, Aravind Putrevu, and Kavitha E Nair"
Joe Conway
![image](https://user-images.githubusercontent.com/16754723/35468446-dbe36478-0358-11e8-8509-28609860aa44.png)

Aravind Putrevu
![image](https://user-images.githubusercontent.com/16754723/35468440-aa5eff20-0358-11e8-8ea5-ddfec401eacf.png)
or this one?
![image](https://user-images.githubusercontent.com/16754723/35468442-ba9ad116-0358-11e8-897a-81c7ac8113cf.png)

Kavitha E Nair
![image](h

[2018-01-27 04:00] subiloble commented on #321
updated photo for Mr Chathu.
![22051143_340901703003783_6950855328641593494_o](https://user-images.githubusercontent.com/25003496/35468478-b39ffc14-0359-11e8-9c9c-f1da3887a897.jpg)

[2018-01-27 04:10] rishabh19038 commented on #333
Claiming

[2018-01-27 04:10] rishabh19038 commented on #332
Claiming

[2018-01-27 04:10] rishabh19038 commented on #331
Claiming

[2018-01-27 04:11] rishabh19038 commented on #330
Claiming

[2018-01-27 04:27] rishabh19038 commented on #329
Claiming

[2018-01-27 04:31] edenyay opened #335 "Add speakers: Monisha Varadan, Kaz Sato, Denis Neklyudov, Markku Lepisto"
Their info is already on here: https://eventyay.com/e/b548bcfc/#speakers

Photos:
Monisha Varadan
![monisha_varadan_zv_site_1](https://user-images.githubusercontent.com/32028823/35468609-b3c15262-035c-11e8-9a1f-6da64ec5b213.jpg)

Kaz Sato
![photo 1](https://user-images.githubusercontent.com/32028823/35468670-333bbe14-035e-11e8-92d9-e567253a8d37.jpg)

Denis Neklyudov
![denis_gde_ava](https://user-i

[2018-01-27 04:45] edenyay commented on #331
@rishabh19038 use this photo for Dilpreet Singh
![10347153_1535619500072894_3852523820655731720_n 1](https://user-images.githubusercontent.com/32028823/35468757-f8f8c01a-035f-11e8-96fc-4e5a8dc74b81.jpg)

[2018-01-27 04:52] mengjiann commented on #335
Claim!

[2018-01-27 05:35] #311 closed

[2018-01-27 05:36] #314 closed

[2018-01-27 05:36] #315 closed

[2018-01-27 08:05] apooravc commented on #328
Claiming

[2018-01-27 10:12] olttwa commented on #294
PR for resolving this issue: https://github.com/fossasia/2018.fossasia.org/pull/319

[2018-01-27 11:01] #294 closed

[2018-01-27 13:20] dishant-sheth commented on #334
CLAIM !

[2018-01-27 13:34] #335 closed

[2018-01-27 14:27] edenyay opened #340 "Replace photo of André Rebentisch"
His info is in here https://eventyay.com/e/b548bcfc/#speakers
Please help me replace the old photo by this one:
![14908960863_f775f09cc4_b](https://user-images.githubusercontent.com/32028823/35472812-36e1ddca-03b1-11e8-8906-2645e4fdec00.jpg)

[2018-01-27 14:32] ritikamotwani commented on #340
I would like to work on this.

[2018-01-27 14:44] aashutoshrathi commented on #322
Claiming it!

[2018-01-27 15:22] edenyay commented on #320
Hello, please don't add speaker Aniketh Girish. he may not be able to come. Only add the other two. Thank you!

[2018-01-27 15:30] #328 closed

[2018-01-27 15:42] edenyay commented on #322
@aashutoshrathi please use this photo for Harshit Prasad
![13962527_1204610849581569_2244992092929941169_n](https://user-images.githubusercontent.com/32028823/35473421-5c8db490-03bb-11e8-96a6-d869a6b1e0ce.jpg)

this photo for Raju Koushik Gorantla
![12804655_1335746989784322_8432946711266901836_n](https://user-images.githubusercontent.com/32028823/35473429-814e7e18-03bb-11e8-9b50-a041b5993530.jpg)

[2018-01-27 15:55] edenyay commented on #334
![3f6a887](https://user-images.githubusercontent.com/32028823/35473581-81045a8e-03bd-11e8-9993-cc5c5942c671.jpg) @dishant-sheth please use this photo for Joe Conway

[2018-01-27 16:00] edenyay commented on #334
@dishant-sheth please use this photo for Joe Conway, thank you!
![djjdeqsumaall36](https://user-images.githubusercontent.com/32028823/35473631-394f48a6-03be-11e8-88bb-38c623e40f8f.jpg)

[2018-01-27 16:28] #340 closed

[2018-01-27 16:28] #312 closed

[2018-01-27 17:29] edenyay opened #343 "Add speaker Cherry G. Mathew, Sara Robinson & Duane O'Brien"
Speakers' information: https://eventyay.com/e/b548bcfc/#speakers

Photos:
Cherry G. Mathew
![570434076244](https://user-images.githubusercontent.com/32028823/35474535-7c8a8534-03ca-11e8-9e21-302d3a0e5a34.jpg)

Sara Robinson
![3814898](https://user-images.githubusercontent.com/32028823/35474531-6e709f9c-03ca-11e8-995c-deb4783bb72d.jpeg)

 Duane O'Brien
![aaeaaqaaaaaaaajiaaaajddkyzhlyjg3lte4nwitngix

[2018-01-27 17:32] ritikamotwani commented on #343
I would like to work on this.

[2018-01-27 17:41] edenyay opened #344 "Replace better quality photo for Colin Charles"
Hello, please help me replace this photo with better quality for Colin Charles. Thank you!

![ttpjnwox](https://user-images.githubusercontent.com/32028823/35474634-18e072a8-03cc-11e8-98df-f9856f6e0fd7.jpeg)

[2018-01-27 17:42] dishant-sheth commented on #344
Claim !

[2018-01-27 17:43] #334 closed

[2018-01-27 20:24] MadhavBahlMD opened #347 "Position of twitter bird."
The twitter bird in subscribe us column left aligned which is not looking good.
![image](https://user-images.githubusercontent.com/26179770/35475933-3702b006-03cd-11e8-83f4-3761c4fb3b95.png)
![image](https://user-images.githubusercontent.com/26179770/35475941-51187606-03cd-11e8-8969-fe5d25c1a3c8.png)

[2018-01-27 20:27] MadhavBahlMD commented on #347
Fixed, in pull request #348
`Fix alignment of twitter bird`

[2018-01-27 20:37] MadhavBahlMD opened #349 "Fix Footer"
Currently, it looks like this.
2 columns for Navigation links is too small and can be made better.
![image](https://user-images.githubusercontent.com/26179770/35476039-5941ee0a-03cf-11e8-8402-15ee15ec46f5.png)

[2018-01-27 20:39] MadhavBahlMD commented on #349
Fixed in pull request #348
![image](https://user-images.githubusercontent.com/26179770/35476092-2e5445fc-03d0-11e8-9531-218e004877e8.png)

[2018-01-27 20:45] MadhavBahlMD commented on #163
Fixed #349

[2018-01-27 20:56] MadhavBahlMD opened #350 "Events text hidden by bullets"
![image](https://user-images.githubusercontent.com/26179770/35476236-7b0a95f2-03d2-11e8-8265-dbc59f19c1c7.png)

![image](https://user-images.githubusercontent.com/26179770/35476241-861f5cb6-03d2-11e8-884f-94ac8a9b593f.png)

I am working on this.

[2018-01-27 20:59] MadhavBahlMD commented on #350
Fixed
![image](https://user-images.githubusercontent.com/26179770/35476277-1df4e9e8-03d3-11e8-8d3e-65364329e7ac.png)

[2018-01-28 03:39] #344 closed

[2018-01-28 03:40] #287 closed

[2018-01-28 04:05] nityanandagohain commented on #327
claiming

[2018-01-28 04:05] nityanandagohain commented on #326
claiming

[2018-01-28 04:05] nityanandagohain commented on #325
claiming

[2018-01-28 05:09] nityanandagohain commented on #327
@edenyay I need a new photo Dias Lonappan

[2018-01-28 05:23] #329 closed

[2018-01-28 05:24] #331 closed

[2018-01-28 05:24] #332 closed

[2018-01-28 05:25] #330 closed

[2018-01-28 05:25] #333 closed

[2018-01-28 06:08] #325 closed

[2018-01-28 08:36] apooravc opened #352 "Speakers images not horizontally aligned"
In the "Speakers" section, the first two images aren't horizontally aligned for browser's screen width b/w 638px & 767px

![iss1](https://user-images.githubusercontent.com/25399108/35480374-acae1006-0432-11e8-8ba2-7fd1d8f5b971.JPG)

Browser: Chrome
OS: Windows 8.1

[2018-01-28 09:52] #343 closed

[2018-01-28 11:00] simsausaurabh commented on #295
@girijamanojkumarreddy if you are facing problem in fixing the issue please let us know. We will help.

[2018-01-28 11:48] girijamanojkumarreddy commented on #295
Only problem is, though I am fetching it and starting the work it is showing merge conflict.

[2018-01-28 11:57] girijamanojkumarreddy commented on #295
will try to finish the issue by today :)

[2018-01-28 13:48] thetathya opened #355 "Error 404 when clicking on link of Khalil AlMaawali"
When we hover over on the Khalil AlMaawali's photo we see a icon which would open speaker's website link.
![issue](https://user-images.githubusercontent.com/32264651/35482610-d38baa82-045d-11e8-93a7-8c8f9b2d1bf6.png)
I am solving this.

[2018-01-28 14:57] kushaldas commented on #331
That is an old photo of mine, which I did not upload to the speaker section. Also I don't think I wrote "Developer" as my position anywhere. Please update the site with the original information I wrote in the site, my position is "Staff".

[2018-01-28 21:00] CosmicCoder96 opened #358 "Center Align ticket section text for mobile view"
![image](https://user-images.githubusercontent.com/17252805/35486948-d4b05118-049b-11e8-8f7f-09d1eff6e750.png)

[2018-01-28 21:00] CosmicCoder96 opened #359 "All options of the navbar not visible in landscape mobile mode"
![image](https://user-images.githubusercontent.com/17252805/35487000-6252f7d2-049c-11e8-93b7-aadf0e42784c.png)
The navbar menu is not scrollable and hence the bottom links are not accessible.

[2018-01-29 06:47] 142ayushkumar commented on #358
claiming

[2018-01-29 11:27] edenyay commented on #327
@nityanandagohain i only have this photo, or the one on evenyay. Can you check with one has high resolution?

 I just updated his title to be Head of Engineering - Serv Group Pte Ltd
![0_abnkrzfldcaynddc](https://user-images.githubusercontent.com/32028823/35508189-6018fde8-052a-11e8-98ef-ab7b6e5a99cb.jpeg)

Thank you!

[2018-01-29 11:46] edenyay opened #361 "Remove speaker Simmi Mourya"
Please help me remove this speaker as she won't be able to attend our event.

[2018-01-29 11:50] dishant-sheth commented on #361
Claim!

[2018-01-29 12:02] rishabh19038 commented on #323
Claiming

[2018-01-29 12:03] rishabh19038 commented on #324
Claiming

[2018-01-29 12:08] edenyay opened #362 "Add speakers Ajo Robert, Nam Nguyen Hoai, Dai Dang Van"
Please take their info from here: https://eventyay.com/e/b548bcfc/#speakers

Photos:
Ajo Robert
![134070_10151234684126941_606074026_o](https://user-images.githubusercontent.com/32028823/35509666-ff09966a-052f-11e8-883d-99dbcfb4ccf6.jpg)

Nam Nguyen Hoai
![anh](https://user-images.githubusercontent.com/32028823/35509678-0a2275d0-0530-11e8-8986-31da1bbe0ed8.jpg)

Dai Dang Van
![21231568_79779365373

[2018-01-29 12:11] dishant-sheth commented on #362
Claim.

[2018-01-29 12:44] rishabh19038 commented on #331
@kushaldas I'll make the changes. Could you please post a picture of yours in a new issue?

[2018-01-29 12:57] gautamjajoo commented on #361
@dishant-sheth Can I work on it?

[2018-01-29 13:04] rishabh19038 commented on #313
![nishagopalakrishnan](https://user-images.githubusercontent.com/14523887/35511684-e4c690bc-0522-11e8-81a4-743ea086c28a.jpg)

@nityanandagohain  Do you think this one could work? It's 300x300px.

[2018-01-29 14:41] nityanandagohain commented on #313
I think it will work @rishabh19038 thanks

[2018-01-29 17:18] edenyay commented on #313
thanks @rishabh19038 @nityanandagohain

[2018-01-29 17:40] edenyay opened #368 "Replace speaker photos Jackson Isaac, Aravind Putrevu & Dipesh Chander Monga"
Hello, please help me replace these speakers' photos as the current ones didn't meet our standard. Thank you!

Jackson Isaac
![jackson](https://user-images.githubusercontent.com/32028823/35524998-2d9e6266-055e-11e8-96c5-7c5165376cb5.png)

Aravind Putrevu
![1_vszqxvbbibsvpraitpgjuw](https://user-images.githubusercontent.com/32028823/35525048-5a766e6e-055e-11e8-94c7-32840acbcbee.jpeg)

Dipesh Chande

[2018-01-29 17:46] edenyay opened #369 "Add missing job title for Pooja Purswani, Benjamin Scherrey & Jackson Isaac"
Hello, these 3 speakers don't have job titles. I have added the info in here https://eventyay.com/e/b548bcfc/#speakers, please help me add that into official site. Thanks.

[2018-01-29 17:47] dishant-sheth commented on #369
Claim.

[2018-01-29 17:48] dishant-sheth commented on #368
Claim.

[2018-01-29 21:28] #306 closed

[2018-01-29 21:34] mariobehling commented on #252
As changes in the CSS resulted in problems in the drop-down menu, the previous commits had to be changed back. Therefore this issue needs a fix again.

[2018-01-30 03:06] sumedh123 opened #370 "Correct twitter link for speaker "Sumedh Nimkarde""
Need to correct link for the speaker "Sumedh Nimkarde."

[2018-01-30 07:29] #313 closed

[2018-01-30 07:29] #327 closed

[2018-01-30 10:15] mariobehling opened #371 "Image of Chetan Khatri not scaled correctly"
Chetan Khatri is out of shape.

[2018-01-30 10:23] edenyay commented on #326
Please use this photo for Yury Bushmelev

![13116202_867674413379017_4527776487017948640_o](https://user-images.githubusercontent.com/32028823/35561229-9a3289e8-05ea-11e8-897d-5ee8eb192f3a.jpg)

@nityanandagohain Could you add two speakers Raymond & Yury now? We need to have Yury on asap. Thank you.

[2018-01-30 10:30] edenyay commented on #371
scaled & increased resolution, how bout this @mariobehling

![20179493_1293256257442624_1124555147_n-magic](https://user-images.githubusercontent.com/32028823/35561522-88e2a6cc-05eb-11e8-9b89-a4056c573736.png)

[2018-01-30 10:42] edenyay commented on #371
Please use this one instead

![img_1640](https://user-images.githubusercontent.com/32028823/35562068-346fb2cc-05ed-11e8-9a6f-2f6b83b39533.JPG)

[2018-01-30 10:45] ritikamotwani commented on #371
I would like to work on this issue.

[2018-01-30 10:54] edenyay opened #372 "Replace better quality photos for Khalil AlMaawali, Chin Hong Hua, Chen Yi - Xi, Sundeep Anand, Nabarun Pal"
Khalil AlMaawali
![16623895-977a-4919-86f4-ccd6eb9733c02fl02f001 1](https://user-images.githubusercontent.com/32028823/35562306-eca45e2e-05ed-11e8-8c79-a3bfb5709b57.jpg)

Chin Hong Hua
![img_20170712_064608](https://user-images.githubusercontent.com/32028823/35562542-a9353982-05ee-11e8-8df6-7268a4c63da8.jpg)

Chen Yi - Xi
![chenyixi 1](https://user-images.githubusercontent.com/32028823/35562399-33

[2018-01-30 10:56] dishant-sheth commented on #372
CLAIM!

[2018-01-30 11:57] #370 closed

[2018-01-30 12:13] gautamjajoo commented on #326
@edenyay Doing!!

[2018-01-30 13:06] edenyay opened #375 "Error speaker Tiejun Chen info"
(1) Correct vs. (2) Incorrect

![screen shot 2018-01-30 at 21 04 56](https://user-images.githubusercontent.com/32028823/35567851-6dd1b7a4-0601-11e8-92f6-0449ef014d8d.png)

![screen shot 2018-01-30 at 21 05 03](https://user-images.githubusercontent.com/32028823/35567860-746f9216-0601-11e8-9b16-15535e218b6e.png)

[2018-01-30 13:21] 142ayushkumar commented on #375
claiming

[2018-01-30 13:24] edenyay opened #376 "Add speaker Harin Nalin Vadodaria , Chaithra M G, Samar Singla"
Harin Nalin Vadodaria
![f796cd7d-4de5-4ac2-af0b-f072631582cb](https://user-images.githubusercontent.com/32028823/35567977-030b3b10-0602-11e8-988a-1d526b4da9d6.jpg)

Samar Singla
![maxresdefault](https://user-images.githubusercontent.com/32028823/35568350-a067391c-0603-11e8-8c11-97259ddd4d4f.jpg)

Chaithra M G (she has only one photo so just use this)
![20180130_114320 1](https://user-images.github

[2018-01-30 13:25] rishabh19038 commented on #376
Claiming

[2018-01-30 13:46] edenyay commented on #321
Can anyone help me add two speakers? (please ignore all other comments above mine). Thank you! @rishabh19038 @dishant-sheth @dishant-sheth @ritikamotwani

Chathu Vishwajith
![35468478-b39ffc14-0359-11e8-9c9c-f1da3887a897](https://user-images.githubusercontent.com/32028823/35569082-0b02a462-0606-11e8-915b-0e2f8ef2ec03.jpg)

Trishul Goel
![d03e8d8d0e03d794bd81640f6bdca354](https://user-images.github

[2018-01-30 13:55] ritikamotwani commented on #321
@edenyay  I'll work on this issue.

[2018-01-30 14:17] edenyay commented on #320
Can someone @rishabh19038 @dishant-sheth @dishant-sheth @ritikamotwani also help me add two speakers ****only** **Venkatesh Duggirala & **.** Please use this picture for Venkatesh Duggirala as he doesn't have any better one, and the one above for Manas Ranjan Kar. Thank you!
![venkatesh](https://user-images.githubusercontent.com/32028823/35570732-00deb6b0-060b-11e8-8dd4-6cdff2d64615.jpg)

[2018-01-30 15:59] CloudyPadmal opened #379 "Change profile image of Padmal"
The existing profile image needs to be changed

[2018-01-30 17:04] edenyay opened #380 "Add speaker Davide Storti"
For now just add him into the normal speaker section. We can swap his position later.

![davidestorti](https://user-images.githubusercontent.com/32028823/35579631-073ae9b8-0622-11e8-9758-6bdb087b099d.jpg)

[2018-01-30 17:49] #379 closed

[2018-01-30 17:49] #375 closed

[2018-01-30 17:50] #326 closed

[2018-01-30 17:50] #371 closed

[2018-01-30 17:56] mariobehling commented on #370
Ok, thanks, but I wish you could also provide a better picture that has good light, no distracting background and no other people or body parts of other people in the photo.

[2018-01-30 17:57] mariobehling commented on #370
Please help to make it easy for organizers and provide a good quality image.

[2018-01-30 18:08] 142ayushkumar commented on #380
claiming

[2018-01-30 18:11] gautamjajoo commented on #380
@142ayushkumar Actually I am sending a PR relating to this. I have done the changes.

[2018-01-30 18:14] 142ayushkumar commented on #380
Sure, go ahead. I have not started working on this issue yet.
But i think it is a good practice to first get assigned the issue before working. 👍

[2018-01-30 18:15] gautamjajoo commented on #380
@142ayushkumar I forgot to claim. Next time sure.

[2018-01-30 18:23] gautamjajoo commented on #380
@142ayushkumar You cna go ahead, I have messed up my code.

[2018-01-30 20:02] simsausaurabh commented on #380
@gautamjajoo Please claim issues before hand. The time could be used more preciously in solving other issues. Please follow best practices and guidelines.

[2018-01-30 20:06] simsausaurabh commented on #361
@gautamjajoo I already requested you many times please follow best practices and guidelines. Always claim issues first and don't ask and don't send PRs for already claimed issues unless asked. It breaks the clean and efficient working of the project.

[2018-01-30 21:59] mariobehling commented on #358
It is working almost all resolutions and a change should be implemented in all other websites as well. This should probably be part of an overall design overhaul of the FOSSASIA design and as only very few resolutions are accepted should a non-fix right now. Therefore closing it.

[2018-01-30 21:59] #358 closed

[2018-01-30 22:00] mariobehling commented on #347
This is not a bug, but part of the design.

[2018-01-30 22:00] #347 closed

[2018-01-30 22:08] #321 closed

[2018-01-31 00:44] hpdang opened #385 "Fix speaker Tiejun Chen's profile detail"
His company, title, URL is wrong.

[2018-01-31 01:40] sumedh123 commented on #370
@mariobehling Okay sure. Will do it.

[2018-01-31 02:13] 142ayushkumar commented on #385
claiming

[2018-01-31 02:19] 142ayushkumar commented on #385
@hpdang , from https://eventyay.com/e/b548bcfc/#speakers company is same and URL too.
Just `Developer -VMWare` should be
`Developer`
`VMWare`

[2018-01-31 04:17] edenyay commented on #380
@gautamjajoo thank you for your work, yes, but as other friends say, you need to claim issues before working on that. Cheers

[2018-01-31 04:19] edenyay opened #386 "Change title for Christopher Skene"
Current title:
Christopher Skene
APAC Developer Engagement
Platform.sh

Please change to:
Christopher Skene
Developer Engagement Manager
Platform.sh

Thank you!

[2018-01-31 05:58] ritikamotwani commented on #386
I want to work on this.

[2018-01-31 06:51] #323 closed

[2018-01-31 11:09] #386 closed

[2018-01-31 11:09] #376 closed

[2018-01-31 16:36] apooravc commented on #359
@CosmicCoder96 Similar issue with the contents of "FOSSASIA EVENTS" option in desktop site when browser screen width is less than 769px. Are you working on this issue?

[2018-01-31 16:53] apooravc opened #389 "Navigation bar options not properly aligned"
In the navigation bar, the options aren't properly aligned for browser's screen width b/w 769px & 991px

![iss3](https://user-images.githubusercontent.com/25399108/35635676-f7cbf932-06d4-11e8-9a12-60f5ce57b852.JPG)

Browser: Chrome
OS: Windows 8.1

[2018-01-31 16:56] edenyay opened #390 "Add job titles for Kamesh Sampath, Harin Nalin Vadodaria & Suraj Narwade"
Kamesh Sampath
Director of Developer Experience
Red Hat India

Suraj Narwade
Associate Software Engineer
Red Hat

[2018-01-31 16:57] rishabh19038 commented on #390
Claiming

[2018-01-31 17:02] edenyay opened #391 "Add speakers Madhavan Seshadri, Dr. Tahir Mumtaz Awan, Tameesh Biswas"
Madhavan Seshadri
![22519631_1542030505842677_825017264227339903_n](https://user-images.githubusercontent.com/32028823/35636235-760a0a44-06eb-11e8-95a9-a13a2bab79c0.jpg)

Dr. Tahir Mumtaz Awan
![maxresdefault 1](https://user-images.githubusercontent.com/32028823/35636240-7b7b0c62-06eb-11e8-91fe-809224ff016c.jpg)

Tameesh Biswas
![13323548_1152676778159767_316328312141988088_o](https://user-images.

[2018-01-31 17:04] edenyay commented on #390
@rishabh19038 i just added one more person. Thanks

Harin Nalin Vadodaria
Principal MTS
Oracle

[2018-01-31 17:05] rishabh19038 commented on #390
Sure! I'll work on it.

[2018-01-31 17:31] #362 closed

[2018-01-31 17:49] edenyay opened #392 "Replace better quality photos for Hamish Coleman, Hemant Dangi, William Tan"
Hamish Coleman
![2qapfk1 jpg 512x512_q85_crop](https://user-images.githubusercontent.com/32028823/35638392-f3f723fa-06f1-11e8-9f3b-d7d0020e608b.jpg)

Hemant Dangi (this is the best option from the speaker)
![hem_passport](https://user-images.githubusercontent.com/32028823/35638403-001fe194-06f2-11e8-867a-114633900ec7.jpg)

William Tan
![img_6758](https://user-images.githubusercontent.com/32028823/

[2018-01-31 17:51] ritikamotwani commented on #392
I'll work on this.

[2018-01-31 17:55] dishant-sheth commented on #391
Claim !

[2018-01-31 18:13] edenyay opened #394 "Add speakers Kiruthika Ramanathan, Shankar, Venkatesh Duggirala"
Kiruthika Ramanathan
![4](https://user-images.githubusercontent.com/32028823/35639520-62e98502-06f5-11e8-968a-8a7054328bc8.jpg)

Shankar
![shankar](https://user-images.githubusercontent.com/32028823/35639528-7090ee52-06f5-11e8-9383-cd857674e906.jpg)

Venkatesh Duggirala (this is the best i got from the speaker)
![venkatesh](https://user-images.githubusercontent.com/32028823/35639547-77001f60-06f5-

[2018-01-31 18:20] simsausaurabh commented on #394
Claiming

[2018-02-01 04:05] CosmicCoder96 commented on #359
@apporavc please proceed ahead with the issue if interested. Thank you !

[2018-02-01 10:56] #355 closed

[2018-02-01 11:25] #349 closed

[2018-02-01 11:25] #350 closed

[2018-02-01 11:36] gautamjajoo opened #398 "Add Speakers- Neha Kumari, Joyce Ng"
### Add the following Speakers

1. Neha Kumari,
2.  Joyce Ng.

### Do you want to work?

Yes

@hpdang @edenyay

[2018-02-01 12:13] #390 closed

[2018-02-01 12:15] 142ayushkumar commented on #385
@hpdang

[2018-02-01 12:39] hpdang opened #399 "Take out speaker Giannis Konstantinidis"
Giannis Konstantinidis is about able to join us, please take him out of the speaker section

[2018-02-01 12:40] #394 closed

[2018-02-01 12:41] gautamjajoo commented on #399
Claiming1

[2018-02-01 13:10] iknoorjobs commented on #398
@gautamjajoo Can I work on this?

[2018-02-01 15:13] gautamjajoo commented on #398
@iknoorjobs You can,  once approved by the mentors.

[2018-02-01 17:53] nityanandagohain commented on #265
This can be closed @hpdang

[2018-02-01 17:54] nityanandagohain commented on #290
This can be closed @edenyay

[2018-02-01 17:55] nityanandagohain commented on #295
This can be closed @edenyay

[2018-02-01 17:55] nityanandagohain commented on #296
This can be closed @hpdang

[2018-02-01 17:56] nityanandagohain commented on #320
claiming

[2018-02-01 18:00] nityanandagohain commented on #369
please close this @edenyay

[2018-02-01 18:01] nityanandagohain commented on #368
please close this @edenyay

[2018-02-01 18:05] #324 closed

[2018-02-01 18:37] nityanandagohain opened #401 "zoom option in map has stopped working"
since in a PR the theme-lava.css was restored the zoom option has stopped working.

What do you say @mariobehling is it required.

[2018-02-02 05:45] edenyay opened #404 "Remove speaker Kavitha E Nair"
Please help me remove this speaker. Thank you!

[2018-02-02 06:25] rishabh19038 commented on #404
Claiming

[2018-02-02 11:20] tameeshB commented on #391
Please use this image instead [https://tameesh.in/fossasia/img/TameeshBiswas.jpg (https://tameesh.in/fossasia/img/TameeshBiswas.jpg)
![tameeshbiswas](https://user-images.githubusercontent.com/20886076/35730700-13083278-0839-11e8-8315-b364521f4b2f.jpg)
Thanks! 😄

[2018-02-02 11:30] edenyay commented on #391
@dishant-sheth Are you still working on this issue? Please use the photo from @tameeshB

[2018-02-02 11:54] edenyay commented on #398
hi @gautamjajoo please se my status update:

1. Neha Kumari, please add and use this photo
![img_20170601_191525](https://user-images.githubusercontent.com/32028823/35732003-6714264a-084a-11e8-9afa-ad2b3f70a992.jpg)

2. Joyce Ng, please add her and use this photo
![joyce_picture](https://user-images.githubusercontent.com/32028823/35731475-414a2aec-0848-11e8-8c09-7e7cdd3067f6.png)

3. Keerthana S,

[2018-02-02 11:59] gautamjajoo commented on #391
@edenyay Should I change?

[2018-02-02 12:22] gautamjajoo commented on #398
@edenyay Team Ethical Hacking is to be added in the Team Section?

[2018-02-02 12:57] edenyay commented on #398
@gautamjajoo no, in the speaker session, count as 1 speaker

[2018-02-02 13:36] edenyay opened #406 "Speaker Divyam Madaan is duplicated"
He has 2 photos on our site. Please help me remove one. Thank you!

[2018-02-02 13:59] edenyay opened #407 "Add speakers Héctor Orón Martínez, Andrew Lee, Himanshu Dixit"
Héctor Orón Martínez
![23472062_10155852257472232_7201939902484135583_n](https://user-images.githubusercontent.com/32028823/35736786-dd72941e-085b-11e8-8164-4cc3df6305ab.jpg)

李健秋 Andrew Lee
![7cadebac](https://user-images.githubusercontent.com/32028823/35736801-ed03ff08-085b-11e8-8025-44478a9322c4.jpg)

Himanshu Dixit
![6849438](https://user-images.githubusercontent.com/32028823/35736803-f2ae229e

[2018-02-02 14:00] #369 closed

[2018-02-02 14:01] #368 closed

[2018-02-02 14:03] #288 closed

[2018-02-02 14:04] #290 closed

[2018-02-02 14:05] edenyay commented on #391
Yes, please change to the @tameeshB provided

[2018-02-02 14:06] #295 closed

[2018-02-02 15:30] gautamjajoo commented on #407
CLaiming!

[2018-02-02 15:30] gautamjajoo commented on #406
CLaiming!

[2018-02-02 16:04] gautamjajoo commented on #398
@edenyay The job title of Venkatesh Duggirala is coming in two lines which is causing problem for adding other speakers. Can we make it short? NO speaker could be added below that row.

[2018-02-02 16:51] edenyay commented on #398
@gautamjajoo let's change that into **Senior Principal Technical Staff**

[2018-02-02 17:06] edenyay commented on #145
@abishekvashok @mariobehling added Kiruthika Ramanathan; another developer are adding Andrew and Hector here #407

[2018-02-03 04:27] abishekvashok commented on #145
Okay @edenyay but we don't have Seth cargo right?

[2018-02-03 07:43] dishant-sheth commented on #391
Is this issue still open or was it merged into master in PR #403 ?

[2018-02-03 09:50] edenyay commented on #391
@gautamjajoo PR #403 was closed. We only need to work on this one

[2018-02-03 10:21] edenyay commented on #145
@abishekvashok Seth Vargo had been added quite long ago. I dont know why the other two speakers were pending. So, please let others to add them in under my issue

[2018-02-03 10:49] abishekvashok commented on #145
Okay then!

[2018-02-03 10:49] #145 closed

[2018-02-03 10:56] gautamjajoo commented on #172
@simsausaurabh Can you close this?

[2018-02-03 10:57] gautamjajoo commented on #361
@edenyay So, should I do that or @dishant-sheth will do??

[2018-02-03 11:06] prankshaw commented on #407
I want to resolve this issue

[2018-02-03 11:48] prankshaw commented on #407
May I ask how will I get Info about these speakers, so as to add it

[2018-02-03 12:10] gautamjajoo commented on #407
@prankshaw I have resolved it. For next issues claim them first and you can find the info at eventyay.com/e/b548bcfc/#speakers

[2018-02-03 12:13] prankshaw commented on #407
Thank you. I wasn't aware of this

[2018-02-04 09:52] #404 closed

[2018-02-04 09:52] #406 closed

[2018-02-04 09:53] #392 closed

[2018-02-04 10:34] #380 closed

[2018-02-04 10:34] #361 closed

[2018-02-04 10:35] #320 closed

[2018-02-04 11:34] edenyay opened #416 "Update speaker information for Cherry G. Mathew"
Speaker requested to change his info to:

Cherry G. Mathew
Founding Member
Hackbeach and Hillhacks

Also replace current photo by this one
![drumkits](https://user-images.githubusercontent.com/32028823/35777050-b0ebc3c8-09d9-11e8-9077-f4d313c25e70.jpg)

Thank you!

[2018-02-04 11:40] simsausaurabh commented on #416
Claiming

[2018-02-04 16:58] edenyay opened #418 "Add speakers Sudhir Verma & Damini Satya"
Get their info from here https://eventyay.com/e/b548bcfc/#speakers

Use their photos below
Sudhir Verma
![img_20180125_164607 1](https://user-images.githubusercontent.com/32028823/35779933-5349f996-0a07-11e8-9fff-2d87773912a1.jpg)

Damini Satya
![damini](https://user-images.githubusercontent.com/32028823/35779921-24d666f8-0a07-11e8-890a-1acbc580e9e3.jpg)

[2018-02-04 17:06] prankshaw commented on #418
claiming

[2018-02-04 17:06] prankshaw commented on #418
I will resolve this issue

[2018-02-04 19:12] prankshaw commented on #418
@edenyay @hpdang please tell me the details of speaker Sudhir Verma to be added alongside company , as only Red Hat is mentioned and I need another detail about him as it has been asked to me by mentor

[2018-02-04 19:40] prankshaw opened #420 "Speaker Images Not aligned properly"
The speaker Praveenkumar Hulakund and further 2 speakers are not aligned properly as there is lots of **white
![fossasia_issue](https://user-images.githubusercontent.com/22571701/35781526-442de0b2-0a11-11e8-8255-c25e9f516551.png)
space** before them.

[2018-02-04 19:52] prankshaw commented on #420
claiming and solving

[2018-02-05 03:18] nityanandagohain commented on #420
nice catch! 👍

[2018-02-05 06:29] prankshaw commented on #420
please review my changes

[2018-02-05 08:36] #407 closed

[2018-02-05 08:37] #372 closed

[2018-02-05 08:39] #416 closed

[2018-02-05 08:42] roypeter opened #421 "Add speaker Roy Peter"
For the presentation, Proctor: An automation framework

[2018-02-05 08:57] edenyay commented on #418
@prankshaw his title is Software Engineer

Thank you!

[2018-02-05 09:03] prankshaw commented on #421
claiming

[2018-02-05 09:04] prankshaw commented on #421
please tell me where can I found your details and picture

[2018-02-05 09:06] prankshaw commented on #418
I have resolved the issues but when I was going to make a pull request, It showed the **Branches can be automatically merged**. Please tell me if you have received updated code and review it . @edenyay @hpdang

[2018-02-05 09:20] edenyay opened #423 "Add speakers Shipra Jain & Janki Chhatbar"
Please take their info from https://eventyay.com/e/b548bcfc/#speakers, and use their photos below:

Shipra Jain
![2018-02-05_13 23 46](https://user-images.githubusercontent.com/32028823/35796838-64119390-0a90-11e8-8648-5ff749af9cd5.jpg)

Janki Chhatbar
![8lroyn9r](https://user-images.githubusercontent.com/32028823/35796841-68e1c66a-0a90-11e8-80b8-ef0cf7da782e.jpg)

[2018-02-05 09:41] gautamjajoo commented on #423
Claiming!

[2018-02-05 10:17] roypeter commented on #421
https://github.com/fossasia/2018.fossasia.org/pull/422

[2018-02-05 15:18] edenyay opened #425 "Point me out if someone is solving the issue related to modifying the size of Chetan Khatri's photo"
Please reference me if you are (or you know someone is working on this), if not yet, could someone take the lead with the issue asap?

![screen shot 2018-02-05 at 22 16 39](https://user-images.githubusercontent.com/32028823/35812093-a35948f4-0ac2-11e8-8137-51cbcbf4b8e5.png)

[2018-02-05 15:21] edenyay commented on #425
just realize this is solved via #420

[2018-02-05 15:21] #425 closed

[2018-02-05 15:22] prankshaw commented on #420
I have submitted my pr regarding this issue #420

[2018-02-05 15:25] edenyay commented on #420
thanks, the work was hidden in the PR with a the other name, so i missed it.

[2018-02-05 15:52] prankshaw commented on #420
please merge them if they look ok
preview - https://prankshaw.github.io/2018-fossasia/

[2018-02-05 17:51] edenyay opened #426 "Replace speakers photos: Sandeep Kapalawai, Paul Amazona, Dias Lonappan"
Sandeep Kapalawai
![20627058_1562054573866864_1920136912352753838_o](https://user-images.githubusercontent.com/32028823/35819668-ef26dbb2-0ad5-11e8-9718-a3d5c6a76d83.jpg)

Paul Amazona
![unnamed 1](https://user-images.githubusercontent.com/32028823/35820310-c8f06d30-0ad7-11e8-86f9-9ae473909d35.jpg)

Dias Lonappan
![img20180107170257](https://user-images.githubusercontent.com/32028823/35820316-cfab

[2018-02-05 18:20] nityanandagohain commented on #426
claiming

[2018-02-06 07:10] edenyay opened #428 "Remove speaker Rabimba Karanjai"
Hello please help me remove speaker Rabimba Karanjai. Thank you!

[2018-02-06 09:03] rishabh19038 commented on #428
Claiming

[2018-02-06 12:18] #391 closed

[2018-02-06 12:28] #428 closed

[2018-02-06 12:28] #426 closed

[2018-02-06 12:34] #399 closed

[2018-02-06 12:38] #398 closed

[2018-02-06 14:44] #423 closed

[2018-02-06 15:02] hpdang commented on #421
The speaker is not listed on the eventyay system.

[2018-02-06 15:02] #421 closed

[2018-02-06 16:07] edenyay opened #431 "Replace speaker Teng-Ying Tai photo"
Hello please help me replace his current photo by this one. Thank you!

![img-0035](https://user-images.githubusercontent.com/32028823/35869776-838d76dc-0b92-11e8-809d-5653e4855e40.JPG)

[2018-02-06 16:12] gautamjajoo commented on #431
Claiming!

[2018-02-06 18:30] prankshaw commented on #420
actually I submitted the code which resolved both issues #419  and #420 , and that pr is merged so if it all looks good then please tell me, so that I can make change if required

[2018-02-06 18:30] prankshaw commented on #420
and can close issue as well

[2018-02-07 05:46] edenyay opened #433 "Add speaker Harish Navnit"
Please take his info from here: https://eventyay.com/e/b548bcfc/#speakers

And use this photo, thank you!
![5815030](https://user-images.githubusercontent.com/32028823/35900490-cf015ab2-0c04-11e8-9aa2-3a7989871d44.jpeg)

[2018-02-07 06:25] edenyay opened #434 "[urgent] Errors in displaying sponsors logos"
Hello team, we are having an issue related to displaying sponsors' logos. Could someone look into that soon? Thanks!

![screen shot 2018-02-07 at 13 17 36](https://user-images.githubusercontent.com/32028823/35901634-3b9c6fea-0c0a-11e8-8abe-70193d3b5f0e.png)

[2018-02-07 06:59] simsausaurabh commented on #433
I am claiming this.

[2018-02-07 06:59] simsausaurabh commented on #434
I am looking into it.

[2018-02-07 07:07] simsausaurabh commented on #434
@edenyay there are two images in img/ google and google_cloud which of these to be inserted ?
![google](https://user-images.githubusercontent.com/16608864/35903045-80bdf67c-0c03-11e8-99ab-2a2bd53b8b08.png)

![google_cloud](https://user-images.githubusercontent.com/16608864/35903032-72dbafa4-0c03-11e8-90c0-14de9076109d.png)

[2018-02-07 07:14] edenyay commented on #434
@simsausaurabh Google Cloud

[2018-02-07 07:19] simsausaurabh commented on #434
Thanks adding it.

[2018-02-07 16:29] #431 closed

[2018-02-07 16:29] #434 closed

[2018-02-07 16:39] edenyay commented on #385
@142ayushkumar please change that into:
Tiejun Chen
Staff Engineer
VMware

[2018-02-07 16:41] #418 closed

[2018-02-07 17:02] edenyay commented on #385
@gautamjajoo, @simsausaurabh could you also help look into this to speed up this issue? thank you!

[2018-02-07 17:03] rishabh19038 commented on #385
@edenyay I would like to work on this. May I?

[2018-02-07 17:04] edenyay commented on #385
@rishabh19038 yes, please go ahead. it's been a while, we need to get it fixed. thanks

[2018-02-07 17:31] #385 closed

[2018-02-07 18:21] RajuKoushik opened #437 "Edit info for the speaker 'Raju Koushik'"
The info has to be changed to 'IIIT- Vadoadra' from 'nexB Inc'.

[2018-02-07 18:22] rishabh19038 commented on #437
Claiming

[2018-02-07 19:40] #437 closed

[2018-02-08 06:32] gautamjajoo commented on #296
@hpdang @edenyay This issue can be closed.

[2018-02-08 06:46] edenyay opened #439 "Add speakers Ahmed Syed, Alyssa Ong, Chris Auld"
Please take their info from here https://eventyay.com/e/b548bcfc/#speakers

And use photos below
Ahmed Syed
![bio pic](https://user-images.githubusercontent.com/32028823/35959046-666a139a-0cd6-11e8-9b38-85d419f0f1fe.jpg)

Alyssa Ong
![unnamed 1](https://user-images.githubusercontent.com/32028823/35958988-284acdac-0cd6-11e8-90f8-08c1ce32774c.jpg)

Chris Auld
![image001 1](https://user-images.github

[2018-02-08 06:48] edenyay opened #440 "Modify title for speaker Philip Paeps"
Please change his title to:

Philip Paeps
Director
The FreeBSD Foundation

[2018-02-08 06:55] ritikamotwani commented on #440
I would like to work on this.

[2018-02-08 07:09] gautamjajoo commented on #439
CLaiming!

[2018-02-08 08:06] #440 closed

[2018-02-08 08:17] hpdang opened #442 "Update profile of speaker Calvin Cheng"
Please use the following: (he asked to leave out his company)

Calvin Cheng
Software Consultant

[2018-02-08 08:18] rishabh19038 commented on #442
Claiming

[2018-02-08 08:32] #442 closed

[2018-02-08 08:45] prankshaw commented on #420
the problem has been solved.

[2018-02-08 08:45] #420 closed

[2018-02-08 11:10] #433 closed

[2018-02-08 12:52] edenyay opened #445 "Add Speaker: Team Ethical Hacking & correct Chetan Khatri's photo"
Speaker to add:

Team Ethical Hacking
Ethical Hacking Club
United World College Southeast Asia
![img_9695](https://user-images.githubusercontent.com/32028823/35973793-4b8dc78c-0d09-11e8-96c7-6accd82470ba.jpg)

Fix Chetan Khatri's photo
![screen shot 2018-02-08 at 19 48 56](https://user-images.githubusercontent.com/32028823/35973816-66f86a54-0d09-11e8-9af1-b95140c2a985.png)
Hi, this issue with spea

[2018-02-08 12:53] prshntsingh commented on #445
claiming

[2018-02-08 13:04] prshntsingh commented on #445
what blank areas are you talking about? @edenyay

[2018-02-08 14:50] gautamjajoo commented on #445
@prshntsingh Do u need any help? I will help you!!

[2018-02-08 14:56] edenyay commented on #445
@prshntsingh @gautamjajoo this is what i meant
![screen shot 2018-02-08 at 21 56 22](https://user-images.githubusercontent.com/32028823/35979446-f3d69598-0d1a-11e8-99e7-3221126e3471.png)

[2018-02-08 14:59] prshntsingh commented on #445
@edenyay got it thank you.

@gautamjajoo thank you now it's clear

[2018-02-08 14:59] gautamjajoo commented on #445
@edenyay I understood and I can resolve but @prshntsingh is working on it!

[2018-02-08 15:01] prshntsingh commented on #445
@gautamjajoo please let me try to fix this.

[2018-02-08 15:01] gautamjajoo commented on #445
@prshntsingh Just make the image 300 x 300. The whitespace will be removed.

[2018-02-08 15:02] prshntsingh commented on #445
@gautamjajoo Thank you :)

[2018-02-08 15:14] edenyay opened #447 "Take off speaker Alessandro Volpato"
Hello, Alessandro Volpato cannot make it this year, please help me remove his photo. Thank you!

[2018-02-08 15:21] prshntsingh commented on #447
claiming

[2018-02-08 15:31] prshntsingh commented on #445
Fixes: #445
Added Speaker Team Ethical Hacking and correct Chetan Khatri's photo
Deployment link: https://prshntsingh.github.io/2018.fossasia.org/
@hpdang @edenyay

[2018-02-08 16:30] prshntsingh commented on #445
@gautamjajoo sorry actually I am new to opensource .
I have to send pull request
right?

[2018-02-08 16:31] rupav commented on #445
Yes @prshntsingh you have to send pull request, in the description you have to share the link you just mentioned

[2018-02-08 16:38] prshntsingh commented on #445
is it right now? @gautamjajoo  @rupav
I am really sorry gys.

[2018-02-08 16:42] rupav commented on #445
No need to apologise @prshntsingh , we all here are learning. Welcome to open source, and fossasia community 😀 . Will see your PR(pull request) once I am with me laptop.

[2018-02-08 17:16] rupav commented on #445
![2018-02-08 10](https://user-images.githubusercontent.com/20624380/35987459-b877b4d0-0d21-11e8-8f81-50079492e4f7.png)
@edenyay I dont see problem in `Chetan Khatri's` photo in original site.

[2018-02-09 10:23] #445 closed

[2018-02-09 13:45] edenyay opened #450 "Add speaker Liang Moung"
please find her info in here https://eventyay.com/e/b548bcfc/#speakers

and use this photo, thank you!
![abc](https://user-images.githubusercontent.com/32028823/36030493-08ab1204-0dda-11e8-82af-774d56dda920.jpg)

[2018-02-09 13:45] rupav commented on #450
Claiming

[2018-02-09 19:29] architkshk commented on #359
I've created a  PR #452 for the issue. Please review.

[2018-02-09 19:42] architkshk opened #453 "Incorrect padding in "FOSSASIA EVENTS" dropdown menu"
The bottom padding is incorrect In the "FOSSASIA EVENTS" drop-down menu in devices with width<768px
![padding-issue](https://user-images.githubusercontent.com/5001704/36046479-1178c51e-0dff-11e8-902d-bfb913603a17.png)

[2018-02-09 20:21] Dipesh-Budhiraja opened #455 ""Speaker Registration" button appearing on laptop screen sizes but not on phone screens"
# Laptop View
![capture](https://user-images.githubusercontent.com/29384452/36048302-c8e80e9e-0e04-11e8-8250-d4bba7e7d56d.PNG)

# Mobile View
![screenshot_2018-02-10-01-41-03-min](https://user-images.githubusercontent.com/29384452/36048532-8a6d0fec-0e05-11e8-86bc-4781f11e9d30.png)

[2018-02-09 20:56] Dipesh-Budhiraja opened #456 ""Take Me Home" button appearing white initially on 404 page"
## Without hovering
![capture](https://user-images.githubusercontent.com/29384452/36049668-aa9f8322-0e09-11e8-97ac-6e3d88feb875.PNG)

## On hovering
![screenshot 3](https://user-images.githubusercontent.com/29384452/36049677-b64f0634-0e09-11e8-8272-f1427ea35e58.png)

[2018-02-10 04:24] architkshk commented on #455
I've created a PR. Please review.

[2018-02-10 10:21] gautamjajoo commented on #322
@aashutoshrathi Are you working on the issue?

[2018-02-10 12:10] prshntsingh commented on #456
@Dipesh-Budhiraja  can I work on this issue??

[2018-02-10 20:21] Dipesh-Budhiraja commented on #456
Yes, you can

[2018-02-11 07:55] aashutoshrathi commented on #322
It is done actually.

[2018-02-11 07:55] aashutoshrathi commented on #322
@mariobehling please close this one

[2018-02-11 14:57] #439 closed

[2018-02-11 14:59] #450 closed

[2018-02-11 15:01] #447 closed

[2018-02-11 17:51] edenyay opened #459 "Remove speaker Neha Kumari"
Hello, please help me remove this speaker as she won't be able to make it this year. Thank you!

[2018-02-11 18:46] simsausaurabh commented on #459
I am on it.

[2018-02-12 03:48] #459 closed

[2018-02-13 09:26] edenyay opened #463 "Remove speaker Samar Singla"
Hello please help me remove this speaker. Thank you!

[2018-02-13 09:26] rishabh19038 commented on #463
Claiming

[2018-02-13 11:30] edenyay opened #465 "Add speaker Daniel J Blueman"
please use his info in here https://eventyay.com/e/b548bcfc/#speakers

and use this photo below, thank you!
![20130704-050010a](https://user-images.githubusercontent.com/32028823/36147715-dcf0a178-10eb-11e8-8373-0b810746f9eb.jpg)

[2018-02-13 11:31] rishabh19038 commented on #465
Claiming

[2018-02-13 15:02] #389 closed

[2018-02-13 15:02] #456 closed

[2018-02-13 15:03] #463 closed

[2018-02-13 15:03] #465 closed

[2018-02-14 10:24] hpdang opened #468 "Remove Monisha Varadan from speaker section"
Remove Monisha Varadan from speaker section, and add the following speaker into her place:

Manikantan Krishnamurthy
Lead Developer Community
Google

![mani](https://user-images.githubusercontent.com/1658742/36199359-4ea132ec-11b4-11e8-8cb2-7fa82f2a8b37.jpg)

URL
https://www.linkedin.com/in/developerevangelist

[2018-02-14 10:26] rishabh19038 commented on #468
Claiming

[2018-02-14 17:43] #468 closed

[2018-02-15 04:29] edenyay opened #471 "Add speaker Istvan Szmozsanszky, Poonam Mishra"
Please find his info in here: https://eventyay.com/e/b548bcfc/#speakers

& use his photo below, thank you!
![cv](https://user-images.githubusercontent.com/32028823/36240333-88024cd0-1243-11e8-820c-f104d60ea825.jpg)

[2018-02-15 04:34] ritikamotwani commented on #471
I would work on this

[2018-02-15 04:43] edenyay commented on #471
@ritikamotwani could you also add speaker Poonam Mishra? Her photo is below. Thank you!

![profile-pic](https://user-images.githubusercontent.com/32028823/36240590-6fe17084-1245-11e8-837b-ba11762c1b01.jpg)

[2018-02-15 06:09] #265 closed

[2018-02-15 06:09] #296 closed

[2018-02-15 06:09] #247 closed

[2018-02-15 06:10] #322 closed

[2018-02-15 08:48] #471 closed

[2018-02-17 01:47] hpdang opened #475 "Remove Speaker Radek Ostrowski"

[2018-02-17 02:52] rupav commented on #475
Claiming

[2018-02-17 02:52] edenyay opened #476 "Remove speaker Salman Rahman Desh"
Please help me remove him. Thank you!

[2018-02-17 02:53] rupav commented on #476
Claimimg

[2018-02-17 17:40] #476 closed

[2018-02-17 17:40] #475 closed

[2018-02-17 17:40] #142 closed

[2018-02-17 17:41] #123 closed

[2018-02-19 17:23] edenyay opened #479 "Add speakers Dušan Stojanović, Ujjwal Kumar"
please take their info from https://eventyay.com/e/b548bcfc/#speakers

and us the photos below, thank you!
Dušan Stojanović
![dusan-stojanovic-venture-village](https://user-images.githubusercontent.com/32028823/36390085-461b4e90-15d4-11e8-8803-013577908c8b.jpg)

Ujjwal Kumar
![image001 2](https://user-images.githubusercontent.com/32028823/36390134-7a632786-15d4-11e8-8cfb-1b758669e813.png)

[2018-02-19 17:28] edenyay opened #480 "Remove speaker Jayaditya Gupta"
please help me remove this speaker. Thank you!

[2018-02-19 17:30] simsausaurabh commented on #480
Claiming

[2018-02-19 17:30] simsausaurabh commented on #479
Claiming

[2018-02-20 06:51] sohaibnehal commented on #453
Working on it

[2018-02-21 03:41] HongKhanhTran opened #482 "Update speaker Daren Frankel's title"
Please change his title Blockchain Expert to Blockchain Consultant. It should look like:

Daren Frankel
Blockchain Consultant
ConsenSys

[2018-02-21 04:37] #479 closed

[2018-02-21 05:21] gautamjajoo commented on #482
Claiming!

[2018-02-21 07:03] simsausaurabh commented on #480
@hpdang please close this issue, it's now solved.

[2018-02-21 09:23] hpdang opened #483 "Create a Media Partner Section"
Media Partner Section

* Singapore Press Holdings
* Mothership
* Asia finance
* IncubateIND

Logos: https://drive.google.com/drive/u/0/folders/1Q5EotnIaw5oBlTx8z9AnYN2jrO4dG-nk

[2018-02-21 09:25] simsausaurabh commented on #483
I would like to work on it.

[2018-02-21 09:28] hpdang commented on #483
@simsausaurabh cld you please take care of other issues, I need to see first how it shld look like on the page, thanks

[2018-02-21 09:47] simsausaurabh commented on #483
@hpdang Sure, I will create a media partner section and provide a link for preview.

[2018-02-21 10:06] #480 closed

[2018-02-21 18:42] #233 closed

[2018-02-21 18:44] #482 closed

[2018-02-21 18:44] #483 closed

[2018-02-22 05:40] mengjiann opened #485 "Incorrect short speaker bio for Sudhir Verma"
As showed in the following image:
<img width="1081" alt="image" src="https://user-images.githubusercontent.com/6027684/36522152-d25f8be8-17d5-11e8-9f4b-bf31ff40e9dc.png">

@hpdang do you have the updated one? the existing one is incorrect from the speakers spreadsheet.

[2018-02-22 07:05] edenyay commented on #485
@mengjiann Sudhir didn't provide us his bio

[2018-02-22 09:02] mengjiann commented on #485
@edenyay Ok then I will remove the bio for the speaker.

[2018-02-22 12:04] hpdang opened #486 "Add more logos into Community & Media Partner Section"
The order of logos should :
Row 1: SPH Mothership Asia Finance
Row 2: ImpactHub ASME

URL:
ImpactHub http://singapore.impacthub.net/homepage
Mothership https://mothership.sg

Logos: https://drive.google.com/drive/u/0/folders/1Q5EotnIaw5oBlTx8z9AnYN2jrO4dG-nk

[2018-02-22 12:05] hpdang commented on #486
@naokichau

[2018-02-22 12:21] naokichau commented on #486
Working on it...

[2018-02-22 12:38] naokichau commented on #486
errr... need permission to push

[2018-02-22 12:41] naokichau commented on #486
nevermind I will fork it

[2018-02-22 15:38] #486 closed

[2018-02-23 09:19] edenyay opened #489 "Add speakers: Prabhanshu Attri, Roy Peter, Victoria Bondarchuk, Douglas Gray"
hello, please find their info here https://eventyay.com/e/b548bcfc/#speakers

and use their photos below:
Prabhanshu Attri
![yvq4-0yo_400x400](https://user-images.githubusercontent.com/32028823/36586598-ff1753c0-18b4-11e8-996a-b7a0cac38933.jpg)

Roy Peter
![img_20180207_100553](https://user-images.githubusercontent.com/32028823/36586606-079c9e74-18b5-11e8-8f43-3fd3d875ca7f.jpg)

Victoria Bondarchu

[2018-02-23 09:50] simsausaurabh commented on #489
@edenyay what is the current working position of 'Prabhanshu Attri'. And what bio should I add for speakers, If needs to be?

[2018-02-23 16:55] #489 closed

[2018-02-25 04:13] edenyay opened #491 "Take off speakers: Subhankar Shah, Divyam Madaan, Damini Satya, Daniel Pocock"
please help me take off these speakers. Thank you!

[2018-02-25 04:54] gautamjajoo commented on #491
Claiming!

[2018-02-26 05:04] edenyay opened #492 "Add speakers: Sam Witteveen, Jan Peuker, Allen Day, Kin Ko, Vlado Koljibabic"
please use their info from here https://eventyay.com/e/b548bcfc/#speakers
and use their photos below:

Kin Ko
![9h3a3730 1](https://user-images.githubusercontent.com/32028823/36653759-34487b5a-1aea-11e8-9cd2-11d33e6117b4.jpg)

Sam Witteveen
![101502201383653933822](https://user-images.githubusercontent.com/32028823/36653949-b8275576-1aeb-11e8-82fd-ca588c38fa24.jpg)

Jan Peuker (jus use this one, c

[2018-02-26 05:06] edenyay opened #493 "Move Douglas Gray & Jonas von Malottki to Featured Speakers section"
thank you!

[2018-02-26 05:26] simsausaurabh commented on #493
I would like to work on it.

[2018-02-26 07:15] naokichau commented on #492
claiming ...

[2018-02-26 08:06] edenyay commented on #492
@naokichau could you also add Vlado Koljibabic? thank you!

[2018-02-26 08:34] edenyay commented on #492
@naokichau need to make pull request in here https://github.com/fossasia/2018.fossasia.org/pulls speaker image size at 300 x 300 px.

[2018-02-26 08:54] naokichau commented on #492
oh, so I need to resize Vlado Koljibabic image to 300x300? his image is 350x350

[2018-02-26 10:27] simsausaurabh commented on #493
@edenyay please provide the bio for 'Douglas Gray' and 'onas von Malottki'.

[2018-02-26 15:09] KshitijaaJaglan opened #498 "Contibution info"
Hi, I am from India, and would like to contribute to FOSSASIA in terms of front end development (HTML, CSS, JavaScript). Kindly tell the issues I may work upon as it is my first time getting to know about FOSSASIA.

[2018-02-26 15:51] #492 closed

[2018-02-26 16:15] mariobehling commented on #485
Solved

[2018-02-26 16:15] #485 closed

[2018-02-26 16:32] edenyay commented on #493
@simsausaurabh sorry for the delay, please use bio below:

Douglas Gray is Senior Vice President of Engineering at Indeed. As a member of Indeed’s senior leadership team, Doug defines the organizational and development processes for the engineering team. His areas of expertise include product revitalization, process change and team development. Previously, Doug was a senior leader at Versata Softw

[2018-02-27 02:31] #493 closed

[2018-02-27 02:32] #491 closed

[2018-02-27 02:32] hpdang commented on #491
@gautamjajoo thank you

[2018-02-27 23:51] mariobehling opened #500 "Increase size of logos - offer additional style"
Some logos are looking very small e.g. the UNESCO logo. Changing the style of the logo will change it for all logos. Please add a second style into the CSS to be assigned to logos we need a bit larger.

![screenshot from 2018-02-28 00-49-32](https://user-images.githubusercontent.com/1583873/36761926-7f95f80c-1c21-11e8-8b73-a7356fa78540.png)

[2018-02-28 04:21] edenyay opened #501 "Add speaker Dr Graham Williams into featured speakers section"
his photo: https://github.com/fossasia/2018.fossasia.org/blob/master/img/GrahamWilliams.jpg

thank you!

[2018-02-28 04:23] edenyay opened #502 "Remove speakers: Ankit Raj & Sagar Hani"
thank you!

[2018-02-28 06:13] gautamjajoo commented on #502
Claiming!

[2018-02-28 06:40] simsausaurabh commented on #500
I would like to work on it.

[2018-02-28 10:35] kathyho31 opened #505 "Update speakers's links (twitter, LinkedIn, ...)"
Hello, I found out some errors in the speakers' links as below, please help me fix them. Thank you so much!

William Tan: Twitter > wrong link, he doesn't have twitter account, please remove it
André Rebentisch: the link to his website doesn't work. Please remove it
Ilya Verbitskiy: LinkedIn > wrong link, please change to https://www.linkedin.com/in/ilya-verbitskiy-consulting/
Maik Außendorf: Link

[2018-02-28 10:39] #502 closed

[2018-02-28 10:57] hpdang commented on #505
@gautamjajoo cld you help with this please!

[2018-02-28 10:58] #500 closed

[2018-02-28 18:42] mariobehling opened #506 "Change the "Book your booth" button into a hollow button"
The book your booth button should act as a hollow button.

![screenshot from 2018-02-28 19-41-14](https://user-images.githubusercontent.com/1583873/36806170-7629cd9a-1cbf-11e8-95f2-f9561ce4c052.png)

[2018-02-28 19:36] simsausaurabh commented on #506
@mariobehling the background functionality of "Book Your Booth" needs to be removed? And the name on button has to be unchanged? Please clarify, I would like to work on it.

[2018-02-28 21:42] mariobehling commented on #506
We need something like that, but in red:

![screenshot from 2018-02-28 22-42-05](https://user-images.githubusercontent.com/1583873/36814708-a99238a2-1cd8-11e8-89e0-f638eca66cc9.png)

[2018-03-01 04:16] prshntsingh commented on #501
Claiming!

[2018-03-01 04:39] HongKhanhTran opened #508 "Correct the details for Sudhir Verma, Jens Petersen"
1. Correct the position of details for Sudhir Verma. It should look like:

   Sudhir Verma
   Software Engineer
   Red Hat

2. Correct the name of speaker Jens Peterson (Wrong spelling), right name is Jens Petersen

Thank you so much!!!

[2018-03-01 04:42] hpdang commented on #501
done already!

[2018-03-01 04:42] #501 closed

[2018-03-01 05:16] prshntsingh commented on #508
Claiming

[2018-03-01 12:55] naokichau commented on #506
suggesting add
`.btn-hollow-red {
    color: #e12b00
}`
to custom.css and "btn-hollow btn-hollow-red" to class of "Book Your Booth"
@simsausaurabh
for whatever reason "btn" style in custom.css affect the style of "Book Your Booth" button 🤔

[2018-03-01 13:32] prshntsingh commented on #505
@hpdang  can I try?

[2018-03-01 14:26] gautamjajoo commented on #505
@hpdang Sorry, by chance I missed it.
@prshntsingh If you want to try, you can try!!

[2018-03-01 15:50] simsausaurabh commented on #506
thanks @naokichau , I am working on it.

[2018-03-01 22:14] #506 closed

[2018-03-01 22:18] mariobehling opened #512 "Fix color issues in exhibitions.html and change it to exhibition/index.html"
Exhibitions.html has some small color issue
a) on the top the scroll over color of links is blue (should be gray probably, check what is the standard on the main page)
b) the buttons have red font color instead of white
https://2018.fossasia.org/exhibition.html

Secondly please move and rename exhibitions.html to /exhibition/index.html

![screenshot from 2018-03-01 23-11-26](https://user-images.gi

[2018-03-01 22:50] mariobehling commented on #352
Seems ok.

[2018-03-01 22:50] #352 closed

[2018-03-01 22:51] #172 closed

[2018-03-01 22:51] #163 closed

[2018-03-01 22:51] #161 closed

[2018-03-01 22:52] #136 closed

[2018-03-01 22:52] #112 closed

[2018-03-01 22:52] #125 closed

[2018-03-01 22:52] #84 closed

[2018-03-01 22:52] #71 closed

[2018-03-01 22:53] #99 closed

[2018-03-01 22:53] mariobehling commented on #166
Seems to work.

[2018-03-01 22:53] #166 closed

[2018-03-01 22:54] #157 closed

[2018-03-01 22:54] #453 closed

[2018-03-01 22:55] #81 closed

[2018-03-01 23:00] mariobehling opened #513 "Make a darker overlay on top slider"
It looks like the white font is a bit difficult to see. Please make a darker overlay on the top slider to make the font more easily readable.

![screenshot from 2018-03-01 23-50-08](https://user-images.githubusercontent.com/1583873/36874586-be58306e-1dac-11e8-9028-e0ac42a6044d.png)

[2018-03-02 04:45] kathyho31 opened #515 "Update speaker's information"
Hello, a speaker wants to change his information, please help me update, thank you!
Name: Thia Kai Xin
Position: Lazada > change to Head of Data, Tech in Asia
Change his profile picture to
![thia_kai_xin_2](https://user-images.githubusercontent.com/36440854/36883685-afeb3050-1e0e-11e8-8e38-e3cb51212055.jpg)

[2018-03-02 09:58] naokichau commented on #515
claiming...

[2018-03-02 11:02] PrP-11 opened #516 "On decreasing browser size alignment of some speakers is not correct"
Actual Behavior
![bug](https://user-images.githubusercontent.com/30981465/36896007-f1b29c6c-1e36-11e8-8993-63f6b08ef660.png)
Expected Behavior
Two speakers at a time without leaving a blank.

I would like to work on this.

[2018-03-02 11:05] PrP-11 opened #517 "No Issue template for this repository."
An issue template like other repositories of fossasia can be helpful while creating new issue and guidelines. I would like to work on it.

[2018-03-02 11:38] #508 closed

[2018-03-02 11:38] mariobehling commented on #512
Colors not changed yet.

[2018-03-02 11:49] mariobehling commented on #517
No need for a simple website. Please avoid simplistic issues. Let's focus on code.

[2018-03-02 11:49] #517 closed

[2018-03-02 11:51] mariobehling opened #519 "Fix color of link in booth listing area"
The booth listing area uses the same code as the schedule on the website. However link colors are not red on the exhibitions page. Please help to fix it.

![screenshot from 2018-03-02 12-48-44](https://user-images.githubusercontent.com/1583873/36897813-5e9d0f84-1e18-11e8-819b-08a080ae7aab.png)

[2018-03-02 11:56] mariobehling opened #520 "Add exhibitors info into exhibition page"
The exhibition page info of exhibitors is here: https://2018.fossasia.org/exhibition/#exhibitors

Please add the exhibitors info into the section using the information here: https://docs.google.com/spreadsheets/d/1J-SkUAgp7HtcLEm92Iyg4dq_jpe6CrbPDaiCF3IkJ-4/edit#gid=0

[2018-03-02 12:13] prshntsingh commented on #519
claiming

[2018-03-02 12:59] PrP-11 commented on #517
Ok

[2018-03-02 13:22] Rupeshiya commented on #505
hey @kathyho31 and @hpdang
 I have updated speaker's image and link.
please check it.(#522 )

[2018-03-02 13:43] mariobehling opened #523 "TweetJS Fetcher no longer working providing tweets"
It works on the FOSSASIA main site, but not on 2018..

![screenshot from 2018-03-02 14-42-32](https://user-images.githubusercontent.com/1583873/36901599-080106f2-1e28-11e8-8b96-64c7d66a920a.png)

[2018-03-02 13:45] #505 closed

[2018-03-02 15:09] naokichau commented on #513
How should the opacity is 0.7 or 0.8?
![2](https://user-images.githubusercontent.com/1384377/36905475-06d2ef46-1e66-11e8-942e-407ac91cfe5d.jpg)

![1](https://user-images.githubusercontent.com/1384377/36905469-03b1759e-1e66-11e8-84b9-bc07bd166004.jpg)

[2018-03-02 16:55] simsausaurabh commented on #523
- 2018.fossasia.org is set to fetch tweets using api.loklak.org with tweets only coming from-fossasia(```data-from="from:fossasia"```), and it seems api.loklak.org is not returning tweets currently-
![screenshot from 2018-03-02 22-06-10](https://user-images.githubusercontent.com/16608864/36910879-ef38d47a-1e67-11e8-8d97-b5c73f64d7e5.png)

- fossasia.org is set to fetch tweets using api.loklak.org

[2018-03-02 16:59] #515 closed

[2018-03-03 03:25] PrP-11 commented on #520
@mariobehling I would like to work on this. Do I have to make a table or something else?

[2018-03-03 14:26] #519 closed

[2018-03-04 08:03] HuzaifahSaleem commented on #516
Make these changes in the CSS script

1.  Change the div sizes i.e The two divs should be contained in the browser screen.

2. float: left

3. position: relative

@mariobehling  @PrP-11

[2018-03-04 08:05] HuzaifahSaleem commented on #516
Divs are basically responsive so changing the size of browser screen should not affect them but if it does still then you can insert media queries.
@PrP-11

[2018-03-04 08:06] HuzaifahSaleem commented on #516
#e.g.
@media only screen and (max-width: 500px) {
    div {
        insert the new width and height
    }
}

[2018-03-04 09:28] PrP-11 commented on #516
@HuzaifahSaleem We don't need to make them float left , only media queries will do the job. We just need to set width to auto when size is less than 991 px.

[2018-03-04 09:41] PrP-11 commented on #512
@mariobehling Can I work on It

[2018-03-04 10:03] HuzaifahSaleem commented on #516
yes
that would work

[2018-03-04 14:39] PrP-11 opened #530 "Add back to top feature for exhibitors page"
Add a back to top feature for exhibitors page.

[2018-03-04 14:51] PrP-11 opened #531 "Search results for speakers in events page should have some paddings"
![search](https://user-images.githubusercontent.com/30981465/36946853-70fd6be2-1fe9-11e8-887c-7ff0ec63e1db.png)
some spacing  should be there.

I would like to work on this.

[2018-03-04 18:14] mariobehling commented on #520
* Five word description is still missing
* Links are wrong, Twitter, Website etc. not added
* Some descriptions are too long and overlap when areas are extended